<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div *ngIf="!searchResult && !showNoSubs" class="search-grid">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="showNoSubs" class="search-grid">
        <div class="search-panel">
            <div class="result-panel">
                Sorry, we weren't able to find any subs for your school on {{job.startDate | date:'shortDate'}}
            </div>
        </div>
    </div>

    <div *ngIf="chosenSub && !showNoSubs" class="search-grid">
        <div class="search-grid-title">
            <h1 class="tagg-white">Request Subs</h1>
        </div>
        <div class="actions-top">
            <button class="btn btn-green" (click)="onCreateOffer()">SEND REQUESTS</button>
        </div>
        <div class="results-header">
            <div></div>
            <div>Name</div>
            <div class="sub-rating">Rating</div>
            <div>Priority</div>
            <div style="text-align:right;">Favorite</div>
        </div>
        <div class="search-panel">
            <div class="details-panel">
                <span class="random-tip">You are viewing:</span>
                <div *ngIf="!chosenSub.picture" class="text-center" style="margin-bottom:15px;">
                    <img src="/assets/avatarPlaceholder.png" class="avatar-image" height=100 width=100>
                </div>
                <div *ngIf="chosenSub.picture" class="text-center" style="margin-bottom:15px;">
                    <img src="{{photos + chosenSub.picture}}" class="avatar-image" height=100 width=100>
                </div>
                <div class="pad-me">
                    <h3 class="green-underline">{{chosenSub.firstName}} {{chosenSub.lastName}}</h3>
                    <div class="search-field">
                        <label>Bio:</label>
                        <br>{{chosenSub.bio}}
                    </div>
                    <div class="search-field">
                        <label>Interests:</label>
                        <br>{{chosenSub.interests}}
                    </div>
                    <div class="search-field">
                        <label style="margin:0;">Rating:</label>
                        <br>
                        <!-- <ngb-rating [rate]="4" max="5" [readonly]="true">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star-details" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                        </ngb-rating> -->

                        <ng-template #t let-fill="fill">
                            <span class="star-details" [class.filled]="fill === 100">
                                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                        </ng-template>
    
                        <ngb-rating [(rate)]="chosenSub.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                        <span>({{chosenSub.ratingCount}})</span>
                    </div>
                    <div *ngIf="chosenSub.subbedAtSchool" class="search-field">
                        <label>Subbed at your school:</label>
                        <br>Yes
                    </div>
                    <div *ngIf="!chosenSub.subbedAtSchool" class="search-field">
                        <label>Subbed at your school:</label>
                        <br>No
                    </div>
                    <div class="search-field apple-row">
                        <div>
                            <label>Favorite:</label>
                        </div>
                        <div>
                            <span *ngIf="!chosenSub.isFavorite" class="tagg-apple-dark" (click)="onToggleFavorite(chosenSub.id)" style="margin-top:10px;"></span>
                            <span *ngIf="chosenSub.isFavorite" class="tagg-apple-favorite" (click)="onToggleFavorite(chosenSub.id)" style="margin-top:10px;"></span>
                        </div>
                        <div>
                            <button class="link-button" (click)="onViewProfile(chosenSub.email, true)">View Profile</button>
                        </div>
                    </div>
                    <!-- PREP FOR TAGG-247 -->
                    <!-- <div class="search-field">
                        <span>Available</span> /
                        <button class="exclude-button" (click)="onExclude(chosenSub.email)">Exclude</button>
                    </div> -->

                </div>
            </div>

            <div class="search-key">
                <div>
                    <span class="key-selected"></span>
                </div>
                <div>Selected subs receive offer first</div>

                <div>
                    <span class="key-favorite"></span>
                </div>
                <div>Favorited subs receive offer second</div>

                <div>
                    <span class="key-other"></span>
                </div>
                <div>Subs 3 stars and above receive offer night before job</div>

                <div class="request-info" (click)="onViewInfo()">
                    <i class="material-icons">help</i>
                </div>
                <div class="request-info" (click)="onViewInfo()">More Info</div>
            </div>
        </div>
        <div class="result-col-1">
            <!-- selected -->
            <div class="result-panel selected" *ngFor="let sub of selectedSubs">
                <!-- <div class="check-div">
                    <mat-checkbox [(ngModel)]='sub.sendRequest'></mat-checkbox>
                </div> -->
                <div *ngIf="sub.picture" class="avatar-container">
                    <img class="avatar-image" (click)="onViewProfile(sub.email)" height=40 width=40 src="{{photos + sub.picture}}" />
                </div>
                <div *ngIf="!sub.picture" class="avatar-container">
                    <img class="avatar-image" (click)="onViewProfile(sub.email)" height=40 width=40 src="/assets/avatarPlaceholder.png" />
                </div>

                <div class="avatar-name" (click)="onViewProfile(sub.email)">
                    {{sub.firstName}} {{sub.lastName}}
                </div>

                <div class="star-container">
                    <!-- <ngb-rating [rate]="sub.rating" max="5" [readonly]="true">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star-selected" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating> -->
                    <ng-template #t let-fill="fill">
                        <span class="star-selected" [class.filled]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>

                    <ngb-rating [(rate)]="sub.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                </div>
                <div>
                    <div class="check-div">
                        <mat-checkbox [checked]="true" (click)="removeFromSelected(sub.email)">Deselect</mat-checkbox>
                    </div>
                </div>
                <div class="avatar-apple" (click)="onToggleFavorite(sub.id)">
                    <span class="tagg-apple-favorite"></span>
                </div>
            </div>
            <!-- favorites -->
            <div class="result-panel favorite" *ngFor="let fav of searchResult.favorites">
                <!-- <div class="check-div">
                    <mat-checkbox [(ngModel)]='fav.sendRequest'></mat-checkbox>
                </div> -->
                <div *ngIf="fav.picture" class="avatar-container">
                    <img class="avatar-image" (click)="onViewProfile(fav.email)" height=40 width=40 src="{{photos + fav.picture}}" />
                </div>
                <div *ngIf="!fav.picture" class="avatar-container">
                    <img class="avatar-image" (click)="onViewProfile(fav.email)" height=40 width=40 src="/assets/avatarPlaceholder.png" />
                </div>

                <div class="avatar-name" (click)="onViewProfile(fav.email)">
                    {{fav.firstName}} {{fav.lastName}}
                </div>

                <div class="star-container">
                    <!-- <ngb-rating [rate]="fav.rating" max="5" [readonly]="true">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star-favorite" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating> -->
                    <ng-template #t let-fill="fill">
                        <span class="star-favorite" [class.filled]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>

                    <ngb-rating [(rate)]="fav.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                </div>
                <div>
                    <div class="check-div">
                        <mat-checkbox [checked]="false" (click)="addToSelected(fav.email)">Select</mat-checkbox>
                    </div>
                </div>
                <!-- <div>
                    <span (click)="addToSelected(fav.email)">
                        <div class="col-md-2">
                            <div class="avatar-name">
                                Select &nbsp; &nbsp;
                            </div>
                        </div>
                    </span>
                </div> -->
                <div class="avatar-apple" (click)="onToggleFavorite(fav.id)">
                    <span class="tagg-apple-favorite"></span>
                </div>
            </div>
            <!-- others -->
            <div class="result-panel other" *ngFor="let other of searchResult.others">
                <!-- <div class="check-div">
                    <mat-checkbox [(ngModel)]='other.sendRequest'></mat-checkbox>
                </div> -->
                <div *ngIf="other.picture" class="avatar-container">
                    <img class="avatar-image" (click)="onViewProfile(other.email)" height=40 width=40 src="{{photos + other.picture}}" />
                </div>
                <div *ngIf="!other.picture" class="avatar-container">
                    <img class="avatar-image" (click)="onViewProfile(other.email)" height=40 width=40 src="/assets/avatarPlaceholder.png" />
                </div>

                <div class="avatar-name" (click)="onViewProfile(other.email)">
                    {{other.firstName}} {{other.lastName}}
                </div>

                <div class="star-container">
                    <!-- <ngb-rating [rate]="other.rating" max="5" [readonly]="true">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star-other" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating> -->

                    <ng-template #t let-fill="fill">
                        <span class="star-other" [class.filled]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>

                    <ngb-rating [(rate)]="other.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                </div>
                <div>
                    <div class="check-div">
                        <mat-checkbox [checked]="false" (click)="addToSelected(other.email)">Select</mat-checkbox>
                    </div>
                </div>
                <!-- <div>
                    <span (click)="addToSelected(other.email)">
                        <div class="col-md-2">
                            <div class="avatar-name">
                                Select &nbsp; &nbsp;
                            </div>
                        </div>
                    </span>
                </div> -->
                <div class="avatar-apple" (click)="onToggleFavorite(other.id)">
                    <span class="tagg-apple-gray"></span>
                </div>
            </div>
        </div>
    </div>
    <app-side-details></app-side-details>
</div>