.image-input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image-placeholder{
    width:54px;
    height:55px;
    border:2px dashed orange;
}

.avatar-container{
    width:54px;
    height:55px;
}

.avatar-placeholder{
    height: 50;
    width: 50;
}

.avatar-image{
    border-radius: 50%;
    margin:2px;
    cursor: pointer;
}

.avatar-name{
    padding-top:10px;
    cursor: pointer;
}
.avatar-apple{
    text-align: right;
    cursor: pointer;
}


.search-grid{
    padding:5%;
    display:grid;
    grid-column-gap: 1%;
    /* grid-row-gap: 10px; */
    grid-template-columns:repeat(3, 1fr);
    /* grid-template-rows: 3em 1em auto; */
}


.actions-top{
    grid-column: auto / span 1;
    text-align: right;
    margin-right: 10px;
    align-self: center;
}

.search-grid-title{
    grid-column: 1 / span 2;
}

.search-grid .results-header{
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns:1fr 3fr 2fr 2fr 1fr;
    align-items: end;
    /* margin-bottom: 8px; */
    margin-right: 10px;
    padding-left: 10px;
    color: white;
}

.search-panel{
    grid-column: 1 / span 1;
    /* grid-row: 1 / span 1; */
}

.search-field{
    margin-bottom: 15px;
    color: #404040;
}

.search-key{
    display:grid;
    grid-template-columns: 35px 1fr;
    color: white;
}

.search-key span{
    display:block;
}

.search-key span::before{
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 8px 0 10px;
    position: relative;
    top: -1px;
    width: 13px;
}

.search-key .key-selected::before {
    background-color: #5FCA6C;
}

.search-key .key-favorite::before {
    background-color: white;
}

.search-key .key-other::before {
    background-color: #ccc;
}

.request-info{
    color: #636363;
    cursor: pointer;
}

.request-info .material-icons{
    font-size: 15px;
    margin-left: 8px;
}

.result-col-1{
    grid-column: 2 / span 2;
    /* grid-row: auto / span 10; */
    display:grid;
    height: 82vh;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.result-col-2{
    grid-column: 2 / span 2;
    /* grid-row: auto / span 5; */
    display:grid;
    height: 82vh;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.result-panel{
    background-color:#F6F6F6;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 10px;
    
    display: grid;
    grid-template-columns:1fr 3fr 2fr 2fr 1fr;
    /* grid-template-columns: 28px 1fr 3fr 2fr 1fr 1fr; */
}
.check-div{
    padding: 9px 0 0 5px;
    display:inline-block;
}
.details-panel{
    background-color:#ebebeb;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding-top:2px;
    padding-bottom: 2px;
}
.details-panel.tagg-apple, .details-panel.tagg-apple-gray{
    height:20px;
    width:20px;
}
.pad-me{
    padding-left:20px;
}

.exclude-button{
    background:none!important;
     color:#EB5566;
     border:none; 
     padding:0!important;
     text-decoration: underline;
     font-weight: 800;
}

.apple-row{
    display:grid;
    grid-template-columns: 70px 40px 1fr;
    align-items: center;
}

.selected{
    background-color:#5FCA6C;
}

.favorite{
    background-color:white;
}

.other{
    background-color:#ccc;
}

/* .star {
    font-size: 2.5rem;
    color: #f2f2f2;
    cursor: inherit;
  }
  .filled {
    color: #0E333E;
  }
  i:hover{
      cursor: pointer;
  } */

  .star {
    font-size: 2.0rem;
    color: white;
    cursor: inherit;
  }

  .star-other{
    font-size: 2.0rem;
    color: white;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }

  .star-favorite{
    font-size: 2.0rem;
    color: #ccc;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }
  .star-selected{
    font-size: 2.0rem;
    color: #ccc;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }

  .star-details{
    font-size: 2.0rem;
    color: #ccc;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }

  .filled {
    color: #0E333E;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #0E333E;
  }

  i:hover{
      cursor: pointer;
  }

  label{
      margin-bottom:0;
  }
  .rating-count{
      display:inline-block;
      color: gray;
  }

  .star-container{
      margin-top:8px;
  }
  .random-tip{
      color: #0E333E;
      font-style: italic;
      font-size: 0.9em;
      text-decoration: underline;
      margin-left: 10px;
      font-weight: 500;
  }

  .info-dialog-text{
      color: #0E333E;
      padding: 20px 35px 10px 35px;
  }

  .dialog-block{
      font-weight: 800;
  }

  .dialog-key{
    padding: 20px;
    display:grid;
    grid-template-columns: 35px 1fr;
    grid-row-gap: 25px;
    font-weight: 600;
    font-style: italic; 
}

.dialog-key span{
    display:block;
}

.dialog-key span::before{
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 8px 0 10px;
    position: relative;
    top: -1px;
    width: 13px;
}

.dialog-key .key-selected::before {
    background-color: #5FCA6C;
}

.dialog-key .key-favorite::before {
    background-color: white;
}

.dialog-key .key-other::before {
    background-color: #ccc;
}

  @media screen and (min-width:550px) and (max-width:766px){
    .search-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .search-panel{
       display:none;
   }
   .search-grid-title{
       grid-column: 1 / span 1;
   }
   .actions-top{
        grid-column: auto / span 1;
    }

   .search-grid .results-header{
       grid-column: 1 / span 2;
        display: grid;
        grid-template-columns:1fr 3fr 2fr 2fr 1fr;
        align-items: end;
        /* margin-bottom: 8px; */
        margin-right: 10px;
        padding-left: 10px;
        color: white;
    }

   
   .result-col-1{
       grid-column: 1 / span 2;
   }
  }

  @media screen and (max-width:549px){
    .search-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .search-panel{
       display:none;
   }

   .search-grid-title{
       text-align: center;
   }
   .search-grid .results-header{
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns:1fr 2fr 1fr 1fr;
        align-items: end;
        /* margin-bottom: 8px; */
        margin-right: 10px;
        padding-left: 10px;
        color: white;
    }
   .actions-top{
       text-align: center;
   }
   .result-col-1{
       grid-column: 1 / span 2;
       grid-template-columns: 1fr;
   }
   .result-panel{
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 10px;
    
    display: grid;
    grid-template-columns:1fr 2fr 1fr 1fr;
}

   .sub-rating{
       display: none;
   }
    .star-container{
       display: none;
   }
   /* .avatar-container{
       display: none;
   } */
  }
