<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div class='dash-grid-3'>
    <div class="grid-row">
      <h1 class="tagg-white" style="display: inline-block;">Jobs</h1>
      <i class="material-icons md-light md-abs md-18" matTooltip="You can view and manage accepted, pending and recent jobs here. At the bottom of each tab you can click the left or right arrows to see the rest of the jobs on these lists.">help</i>
    </div>
    <div class="dash-panel panel-1 scroll-me">
      <div class="panel-head">
        <h3 class="green-underline">Accepted</h3>
      </div>
      <div *ngFor="let job of todayJobs" class="detail-item" (click)="onSelectAccepted(job.id)">
        <div class="head">
          {{job.startDate | date:'longDate'}}
        </div>
        <div class="grid">
          <div>Sub:</div>
          <div><strong>{{job.substituteName}}</strong></div>

          <div>Time:</div>
          <div>{{job.startDate | date:'shortTime'}} - {{job.endDate | date:'shortTime'}}</div>

          <div>Grade:</div>
          <div>{{subjectDisplay[job.subject]}}</div>
        </div>
      </div>
    </div>

    <div class="dash-panel panel-1 scroll-me">
      <div class="panel-head">
        <h3 class="yellow-underline">Pending</h3>
      </div>
      <div *ngFor="let job of upcomingJobs" class="detail-item" (click)="onSelectPending(job.id)">
        <div class="head">
          {{job.startDate | date:'longDate'}}
        </div>
        <div class="grid">
          <div>Sub:</div>
          <div><strong>Pending</strong></div>

          <div>Time:</div>
          <div>{{job.startDate | date:'shortTime'}} - {{job.endDate | date:'shortTime'}}</div>

          <div>Grade:</div>
          <div>{{subjectDisplay[job.subject]}}</div>
        </div>
      </div>
    </div>

    <div class="dash-panel panel-1 scroll-me">
      <div class="panel-head">
        <h3 class="blue-underline">Recent</h3>
      </div>
      <div *ngFor="let job of recentJobs" class="detail-item" (click)="onSelectRecent(job.id)">
        <div class="head">
          {{job.startDate | date:'longDate'}}
        </div>
        <div class="grid">
          <div>Sub:</div>
          <div><strong>{{job.substituteName}}</strong></div>

          <div>Time:</div>
          <div>{{job.startDate | date:'shortTime'}} - {{job.endDate | date:'shortTime'}}</div>

          <div>Grade:</div>
          <div>{{subjectDisplay[job.subject]}}</div>
        </div>
      </div>
    </div>
  </div>
  <app-side-details></app-side-details>
</div>