<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div *ngIf="!showForm">

  </div>

  <div *ngIf="showForm" class="account-grid">
    <div class="test-title">
      <a class="tagg-white account-link-inactive" routerLinkActive="account-active" [routerLink]="['/teachers', 'profile']">Profile</a>
      &nbsp; &nbsp;
      <a class="tagg-white account-link-inactive" routerLinkActive="account-active" [routerLink]="['/teachers', 'settings']">Settings</a>
    </div>
    <div class="test-title">
      <h1 class="tagg-white">Profile</h1>
    </div>
    <div class="actions-top">
      <button class="btn btn-red" (click)="onSubmit()" [disabled]="!dirty">Save Changes</button>
    </div>
    <div>
      <div class="picture-panel">
        <div *ngIf="teacher" class="text-center">
          <div *ngIf="!teacher.picture" class="avatar-container" matTooltip="Click to change">
            <input class="image-input" type="file" (change)="onImageUpload($event.target.files)" />
            <img class="account-image" height=150 width=150 src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
            />
          </div>
          <div *ngIf="teacher.picture" class="avatar-container" matTooltip="Click to change">
            <input class="image-input" type="file" (change)="onImageUpload($event.target.files)" />
            <img class="account-image" height=150 width=150 src="{{photos + teacher.picture}}" />
          </div>
        </div>
      </div>

      <div class="profile-name">
        <h2 class="green-underline tagg-white">{{teacher.firstName}} {{teacher.lastName}}</h2>
      </div>
    </div>
    <div class="settings-panel">
      <form *ngIf="teacher">
        <div class="dash-panel">
          <div class="row">
            <div class="form-group col-md-12">
              <label>Bio:</label>
              <textarea class="form-control" [(ngModel)]="teacher.bio" name="bio" (keyup)="markDirty()"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Grades &amp; Subjects</label>
              <mat-form-field>
                <mat-select [(value)]="selectedSubjects" color="primary" (change)="markDirty()" multiple>
                  <mat-option *ngFor="let sub of subjects" [value]="sub.key">{{sub.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="actions-bottom">
            <button class="btn btn-red" (click)="onSubmit()" [disabled]="!dirty">Save Changes</button>
          </div>
      </form>
    </div>
  </div>
  <app-side-details></app-side-details>
</div>