<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div *ngIf="!teacher"></div>

  <div *ngIf="teacher" class="account-grid">
    <div class="test-title">
      <a class="tagg-white account-link-inactive" routerLinkActive="account-active" [routerLink]="['/teachers','profile']">Profile</a>
      &nbsp; &nbsp;
      <a class="tagg-white account-link-inactive" routerLinkActive="account-active" [routerLink]="['/teachers', 'settings']">Settings</a>
    </div>

    <div class="test-title">
      <h1 class="tagg-white">Settings</h1>
    </div>
    <div class="actions-top">
      <button class="btn btn-red center-block" (click)="onSubmit()" [disabled]="!settingsForm.dirty || !settingsForm.valid">Save Changes</button>
    </div>

    <div class="settings-panel">
      <form *ngIf="showForm" [formGroup]="settingsForm">
        <div class="school-settings-panel">
          <div class="row">
            <div class="form-group col-md-6">
              <label>First name:</label>
              <input type="text" class="form-control" formControlName="firstName">
            </div>

            <div class="form-group col-md-6">
              <label>Last name:</label>
              <input class="form-control" type="text" formControlName="lastName">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Email:</label>
              <input class="form-control" type="text" readonly="readonly" formControlName="email">
            </div>
            <div class="col-md-4 action-link">
              <button class="account-link-button tagg-green" (click)="onChangeEmail()">Change Email</button>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Password:</label>
              <input class="form-control" type="password" value="xxxxxxxxx" readonly="readonly">
            </div>
            <div class="col-md-6 action-link">
              <a [href]="passwordReset" class="tagg-green">Change Password</a>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Contact:</label>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <input class="form-control" type="text" placeholder="Phone" formControlName="phoneNumber">
            </div>
          </div>
        </div>
      </form>
    </div>


    <div class="account-panel-small">
      <div class="school-settings-panel">
        <form *ngIf="showForm">
          <div class="row" style="padding-left:15px;">
            <div class="form-group col-md-12">
              <label>Contact Methods:</label>
              <mat-form-field>
                <mat-select [(value)]="selectedContact" color="primary" (change)="markDirty()" multiple>
                  <mat-option *ngFor="let cont of contact" [value]="cont.key">{{cont.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="actions-bottom">
      <button class="btn btn-red center-block" (click)="onSubmit()" [disabled]="!settingsForm.dirty || !settingsForm.valid">Save Changes</button>
    </div>
  </div>


  <app-side-details></app-side-details>
</div>