.calendar-grid{
    padding: 45px 5%;
    /* height: fit-content; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 4em 2em auto;
    grid-auto-rows: auto;
    grid-auto-flow: row; */
}

.calendar-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px;
}

.calendar-actions{
    align-self: center;
    align-items: center;
    justify-self: end;
    justify-items: center;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 1fr;
}

.month-nav-button{
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0 -10px;
    display: inline-block;
    color: white;
}

.day-label-row{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.day-label {
    text-align: right;
    padding: 0 5px 0 5px;
    color: white;
    font-weight: 600;
    z-index: 20;
}

.day-grid{
    background-color: #ccc;
    border-radius: 10px;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 160px;
    grid-column-gap: 1px;
    grid-row-gap: 1px; */
}

.calendar-day{
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    cursor: pointer;
}
.tleft{
    border-top-left-radius: 10px;
}
.tright{
    border-top-right-radius: 10px;
}
.bleft{
    border-bottom-left-radius: 10px;
}
.bright{
    border-bottom-right-radius: 10px;
}
.placeholder{
    color: #ebebeb;
}

.calendar-event{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 10px;
    grid-template-rows: 20px;
    grid-auto-rows: 20px;
    padding: 10px;
}

.day-index-label{
    justify-self: end;
}
.event-title{
    font-weight: 600;
    display: inline-block;
}
.event-data{
    grid-column: 1 / span 2;
}

.request {
    background-color: #efe434;
    color: #404040;
}

.confirmed{
    background-color: #5FCA6C;
    color: #fff;
}

.blackout{
    background-color: #636363;
    color: white;
}
.no-sub {
    background-color: rgba(95, 202, 108, .6);
    color: #fff;
}

.calendar-key {
    color: #fff;
    text-align: right;
    padding: 20px 0 0 0;
}

.calendar-key span {
    font-size: 1.3em;
    padding: 1em 0 0 0;
}

.calendar-key span::before {
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 8px 0 50px;
    position: relative;
    top: -1px;
    width: 13px;
}

.calendar-key .key-offered::before {
    background-color: #efe434;
}

.calendar-key .key-accepted::before {
    background-color: #5fca6c;
}

.calendar-key .key-blackout::before {
    background-color: #636363;
}

@media screen and (min-width:851px){
    .day-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 160px;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
}

@media screen and (max-width:850px){
    
    .day-label-row{
        display: none;
    }
    .day-grid{
        grid-template-columns: 1fr;
        grid-auto-rows: 160px;
        grid-row-gap: 1px;
    }
    .day-label-row{
        display: none;
    }
    .day-label{
        display:none;
    }
    
    .calendar-key{
        text-align: center;
    }
}

/* @media screen and (min-width:767px) and (max-width:992px){
    .day-label-sm{
        display:none;
    }
}


@media screen and (min-width:993px) and (max-width:1199px){
    .day-label-sm{
        display:none;
    }
}

@media screen and (min-width:1200px){
    .day-label-sm{
        display:none;
    }
} */

/* .confirmed>div{
    margin:0;
} */


/* .actions-top button{
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0 -10px;
    display: inline-block;
} */

/* .month-nav-buton{
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0 -10px;
    display: inline-block;
} */





/* .heading {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 20px 0;
}

.heading h1 {
    align-self: end;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}


.heading h3 {
    align-self: end;
    font-size: 24px;
    justify-self: end;
    margin: 0;
}

.calendar-month {
    align-self: end;
    font-size: 24px;
    justify-self: end;
    margin: 0;
}
.month-key{
    display:inline-block;
    width: 150px;
    text-align: center;
}

.calendar-month button{
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0 -10px;
    display: inline-block;
}

.fake-day-borders {
    background-color: #ebebeb;
    border-radius: 9px;
    padding: 2px 5px 5px;
}

.calendar-wrapper {
    background-color: #ccc;
    display: grid;
    font-size: 16px;
    grid-gap: 1px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(160px, auto);
}

.day-label {
    text-align: right;
    padding: 0 5px 0 5px;
    color: white;
    font-weight: 600;
    z-index: 20;
}

.day-label-sm {
    align-self: end;
    color: #eb5566;
    font-weight: 600;
}

.date-label, .date-label-lg {
    display:inline;
    float:right;
}

.calendar-event{
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    padding: 1.1em 0.7em 2em;
    position: absolute;
    right: 0;
    top: 0;
}

.unavailable {
    background-color: #eb5566;
    color: #fff;
    
}

.unavailable>div {
    margin: -2em 0 0 0;
}

.sub-confirmed {
    background-color: #5FCA6C;
    color: #fff;
}
.request-date-label{
    display: inline;
    float: right;
    color: black;
}

.confirmed-date-label{
    display: inline;
    float: right;
    color: white;
}





.sub-confirmed>div {
    margin:0;
}

.sub-requested {
    background-color: #efe434;
}

.sub-requested>div {
    margin:0;
}

.calendar-day {
    background-color: #ebebeb;
    padding: 1.2em 0.7em;
    position: relative;
    justify-items: stretch;
    box-sizing: border-box;
    grid-row: auto / span 1;
    flex-basis: 100px;
    cursor: pointer;
}

.unread-offer {
    font-weight: 800;
}

.accepted-job {
    border-bottom: 2px solid #5fca6c;
    padding: 0 0 0.5em 0;
}

.offered-job {
    border-bottom: 2px solid #efe434;
    padding: 0 0 0.5em 0;
}





 */