/* .account-grid{
    padding: 45px 10%;
    display:grid;
    grid-column-gap: 3%;
    grid-row-gap:1em;
    grid-template-rows: 1em 3em auto auto;
    grid-template-columns:repeat(3, 1fr);
  } */
  
  .account-grid{
    display:grid;
    padding: 45px 5%;
     grid-column-gap: 3%;
     grid-row-gap:1em;
  }

  .settings-panel{
    /* grid-column: auto / span 2; */
    /* grid-row: auto / span 2; */
  }
  
  .account-grid .grid-row{
    grid-column: auto / span 3;
    grid-row: auto / span 1;
  }
  
  button.tagg-white{
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  
  button.tagg-white:hover{
    text-decoration: white;
  }
  
  .account-image{
    border-radius: 50%;
    margin:2px;
  }
  
  .account-link-button{
    background:none!important;
     /* color:inherit; */
     border:none; 
     padding:0!important;
  }
  .account-link-inactive{
    text-decoration: none;
  }
  .account-active{
    border-bottom: 3px solid white;
  }
  
  
  /* .image-input{
    position: absolute;
    width: 100px;
    height: 100px;
  } */
  
  .image-placeholder{
    width:54px;
    height:55px;
    border:2px dashed orange;
  }
  
  .avatar-container .image-input{
    opacity: 0;
    position: absolute;
    width:100%;
    height:100%;
    /* top: 25%;
    left: 25%; */
    /* transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%); */
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 18%;
    max-height: 20%;
  }
  
  .avatar-placeholder{
    height: 50;
    width: 50;
  }
  
  
  
  .avatar-name{
    padding-top:18px;
  }

  @media screen and (min-width:1200px){
    .account-grid{
      grid-template-columns: 33% 1fr 1fr;
      grid-template-rows: 2em 50px auto;
    }
  
    .test-title{
      grid-column: 1 / span 2;
    }
    .settings-panel{
      grid-column: auto / span 2;
    }
  
    .account-panel-small .school-settings-panel{
      max-width: 250px;
    }
    .actions-top{
      justify-self: end;
      align-self: center;
    }
    .actions-bottom{
      display:none;
    }
    .action-link{
      margin-top:30px;
    }
   }

   @media screen and (min-width:851px) and (max-width:1199px){
    .account-grid{
      grid-template-columns: 33% 1fr 1fr;
      grid-template-rows: 2em 50px auto;
    }
  
    .test-title{
      grid-column: 1 / span 2;
    }
    .settings-panel{
      grid-column: auto / span 2;
    }
  
    .account-panel-small .school-settings-panel{
      max-width: 250px;
    }
    .actions-top{
      justify-self: end;
      align-self: center;
    }
    .actions-bottom{
      display:none;
    }
    .action-link{
      margin-top:30px;
    }
   }

  @media screen and (max-width:850px){
    .account-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 2em 50px auto;
        justify-items: center;
    }
    .test-title{
      grid-column: 1 / span 1;
    }
    .actions-top{
      display: none;
    }
    .actions-bottom{
      display: inherit;
      text-align: center;
    }
    .profile-name{
      text-align: center;
    }
  }