<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="search-grid">
    <div *ngIf="authService.user.profile.api_access !== '0x2'" class="link-trail">
      <a [routerLink]="['/admin', 'schools']">Schools</a> &nbsp;&nbsp;>&nbsp;&nbsp;
      <a [routerLink]="['/schools', schoolId, 'subs']" class="link-trail-selected">Subs</a>
    </div>
    <div class="grid-title">
      <h1 class="tagg-white">Subs</h1>
    </div>
    <div *ngIf="subs" class="actions-top">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
    <div *ngIf="selectedSub" class="search-panel">
      <div class="dash-panel">
        <div class="text-center">
          <img *ngIf="selectedSub.picture" class="avatar-image" src="{{photos + selectedSub.picture}}" height=100 width=100>
          <img *ngIf="!selectedSub.picture" class="avatar-image" src="/assets/avatarPlaceholder.png" height=100 width=100>
        </div>
        <div class="panel-head">
          <h3 class="green-underline">{{selectedSub.firstName}} {{selectedSub.lastName}}</h3>
        </div>
        <div class="search-field">
          <label>Bio</label>
          <br>{{selectedSub.bio}}
          <br>
        </div>
        <div class="search-field">
          <label>Rating</label>
          <br>
          <ng-template #t let-fill="fill">
            <span class="star-details" [class.filled]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
        </ng-template>

        <ngb-rating [(rate)]="selectedSub.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          <div class="rating-count">({{selectedSub.ratingCount}})</div>
          <br>
        </div>
        <div class="search-field">
          <label>Subbed at Your School</label>
          <br>
          <div *ngIf="selectedSub.subbedAtSchool">Yes</div>
          <div *ngIf="!selectedSub.subbedAtSchool">No</div>
          <br>
        </div>

        <div class="search-field">
          <label>Status at Your School</label>
          <br>
          <div *ngIf="getExcludedSchool(selectedSub.id)">Excluded</div>
          <div *ngIf="!getExcludedSchool(selectedSub.id)">Active</div>
          <br>
        </div>

        <div style="margin-top:10px;">
          <button class="link-button" (click)="onViewProfile()">View Profile</button> &nbsp; &nbsp; &nbsp; &nbsp;
          <button *ngIf="!getExcluded(selectedSub.id)" class="link-button" (click)="onExclude()">Exclude</button>
          <button *ngIf="getExcluded(selectedSub.id)" class="link-button" (click)="onEnable()">Enable</button>
        </div>

      </div>
    </div>
    <div *ngIf="!subs" class="result-col-2"></div>

    <div *ngIf="subs" class="result-col-2">
      <div class="result-panel" *ngFor="let sub of filteredSubs" (click)="onSelectSub(sub.id)">
        <div *ngIf="sub.picture" class="avatar-container">
          <img class="avatar-image" height=40 width=40 src="{{photos + sub.picture}}" />
        </div>
        <div *ngIf="!sub.picture" class="avatar-container">
          <img class="avatar-image" height=40 width=40 src="/assets/avatarPlaceholder.png" />
        </div>
        <div>
          <p class="avatar-name">{{sub.firstName | slice:0:1}}. {{sub.lastName}}</p>
        </div>
        <div *ngIf="!getExcluded(sub.id)" class="avatar-rating">
          <ngb-rating [rate]="sub.rating" max="5" [readonly]="true">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div *ngIf="getExcluded(sub.id)" class="avatar-name" style="color: pink; font-style: italic">
          Excluded
        </div>
      </div>
    </div>

    <!-- <div *ngIf="subs">
      <mat-table [dataSource]="data">

        <ng-container matColumnDef="picture">
          <mat-header-cell *matHeaderCellDef [style.fontSize.px]="18" style="color:green;"> Picture </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div *ngIf="row.picture" class="avatar-container">
              <img class="avatar-image" height=40 width=40 src="{{photos + sub.picture}}" />
            </div>
            <div *ngIf="!row.picture" class="avatar-container">
              <img class="avatar-image" height=40 width=40 src="/assets/avatarPlaceholder.png" />
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef [style.fontSize.px]="18" style="color:green;"> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef [style.fontSize.px]="18" style="color:green;"> Rating </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.rating}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="test">
            <mat-header-cell *matHeaderCellDef [style.fontSize.px]="18" style="color:green;"> Rating </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}} </mat-cell>
          </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div> -->


  </div>
  <app-side-details></app-side-details>
</div>