<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div class="message-grid">
        <div>
            <h1 class="tagg-white">Messages</h1>
            <mat-spinner *ngIf="showSpinner"></mat-spinner>
        </div>

        <div class="actions-top">
            <div class="action-button">
                <button class="btn btn-green" (click)="onNewMessage()">New Message</button>
            </div>
        </div>


        <div *ngIf="!showChannels" class="chat-small-panel"></div>

        <div *ngIf="showChannels" class="chat-small-panel">
            <div *ngFor="let channel of channels; let i = index" class="list-message" [class.new-message]="channel.sid != activeChannel.sid && channel.lastConsumedMessageIndex != channel.lastMessage.index"
                [class.channel-selected]="channel.sid === activeChannel.sid" [id]="channel.sid" (click)="onGetChannel(channel.uniqueName)">

                <!-- NOTE - WHEN CREATING CHANNEL FROM THE SERVER, ADD AN INITIAL MESSAGE TO MAKE SURE THERE IS A LAST MESSAGE -->
                <span class="date">{{channel.lastMessage.timestamp | date:'mediumDate'}} | {{channel.lastMessage.timestamp | date:'shortTime'}}</span>
                <br>
                <h4 class="text-dark">
                    <span class="subject">{{channel.friendlyName}}</span>
                </h4>
                <br>
                <div class="message-from">{{channel.attributes.to}}</div>
                <!-- <div *ngIf="!job"></div> -->
            </div>
        </div>

        <div *ngIf="activeChannel" class="chat-big-panel">
            <div class="chat-meta">
                <div class="chat-subject">
                    <h3 class="green-underline">{{activeChannel.attributes.dateTitle}}</h3>
                </div>

                <div class="chat-updates">
                    <span class="another-date">{{activeChannel.lastMessage.timestamp | date:'mediumDate'}} | {{activeChannel.lastMessage.timestamp |
                        date:'shortTime'}}
                    </span>
                    <br>
                </div>

                <!-- DETAILS FOR SYSTEM ADMIN CHAT -->
                <div class="chat-details">
                    <div>From:</div>
                    <div>{{activeChannel.attributes.adminUser}}</div>

                    <div>To:</div>
                    <div>{{activeChannel.attributes.to}}</div>

                    <div>Subject:</div>
                    <div>
                        {{activeChannel.friendlyName}}
                    </div>
                </div>
            </div>

            <div #chatPanel *ngIf="activeChannel" class="chat-display-panel" (scroll)="setManualScroll()">
                <div *ngIf="!messagesLoaded" class="message-center">
                    <mat-spinner></mat-spinner>
                </div>
                <div #messageContainer *ngFor="let message of channelMessages; let i = index" class="message-container">
                    <div
                        [class.message-sent]="message.state.author === currentUserId"
                        [class.message-received]="message.state.author !== currentUserId"
                        [class.message-center]="message.state.author === 'system'">
                        <div class="message-info">{{message.attributes.fromName}} | {{message.state.timestamp | date:'shortTime'}}</div>
                        <div class="message-body">{{message.state.body}}</div>
                    </div>
                    <!-- <div *ngIf="message.state.author === currentUserId" class="message-sent">
                        {{message.state.author}}
                        <div class="message-info">{{activeChannel.attributes.adminUser}} | {{message.state.timestamp | date:'shortTime'}}</div>
                        <div class="message-body">{{message.state.body}}</div>
                    </div>
                    <div *ngIf="message.state.author !== currentUserId" class="message-received">
                        {{message.state.author}}
                        <div class="message-info">{{message.attributes.fromName}} | {{message.state.timestamp | date:'shortTime'}}</div>
                        <div class="message-body">{{message.state.body}}</div>
                    </div>
                </div> -->
                </div>
            </div>

            <div *ngIf="activeChannel" class="chat-input">
                <div>
                    <textarea wrap="hard" class="form-control chat-box" (keydown)="sendMessage($event)" [(ngModel)]="newMessageContent"></textarea>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="onSendButton()">SEND</button>
                </div>
            </div>


            <!-- JOB DETAILS FOR OFFER -->
            <!-- <div *ngIf="isJobOffer && activeChannel" class="chat-display-panel">

            <div style="float:right;">

            </div>
            
            <div *ngIf="!job.substituteId" class="text-center" class="job-button-container">
                
            </div>
            <div *ngIf="job.substituteId === authService.user.profile.sub" class="text-center" class="job-button-container">
                <h3 class="tagg-green">You accepted this job offer!</h3>
                <br>
                <button class="btn btn-green" (click)="onMessageTeacher(job.id)">MESSAGE TEACHER</button>
            </div>
        </div> -->



        </div>
    </div>