﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body style="background-color:#f4f3ef !important;max-width:98%;font-family: 'Montserrat', sans-serif;">
    @RenderBody()
    <hr />
    <footer class="footer">
        <div class="container-fluid">
            <div class="text-center">
                <p>&copy; @DateTime.Now.Year <a href="https://www.taggeducation.com">Tagg Education, LLC</a></p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
