<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div class="list-grid">
    <div>
      <h2 class="tagg-white">Inquiries</h2>
    </div>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>


    <div class="search-panel">
      <div *ngIf="!selectedInquiry" class="dash-panel"></div>
      <div *ngIf="selectedInquiry" class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{selectedInquiry.schoolName}}</h3>
        </div>

        <div class="search-field">
          <label>District:</label>
          <br>{{selectedInquiry.districtName}}
          <br>
        </div>

        <div class="search-field">
          <label>Created By:</label>
          <br>{{selectedInquiry.firstName}} {{selectedInquiry.lastName}}
          <br>
        </div>

        <div class="search-field">
          <label>State:</label>
          <br>{{selectedInquiry.state}}
          <br>
        </div>

        <div class="search-field">
          <label>Zip:</label>
          <br>{{selectedInquiry.postalCode}}
          <br>
        </div>

        <div class="search-field">
          <label>Status</label>
          <br>{{inquiryStatus[selectedInquiry.status]}}
          <br>
        </div>

        <div class="search-field">
          <label>Actions:</label>
        </div>

        <div style="margin-top:10px;">
          <button *ngIf="selectedInquiry.status == 4" class="link-button" (click)="onConvert()">Convert</button> &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
      </div>
    </div>

    <div>
      <mat-table [dataSource]="dataSource" class="mat-eleveation-z8">
        <ng-container matColumnDef="school">
          <mat-header-cell *matHeaderCellDef>School</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.schoolName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="district">
          <mat-header-cell *matHeaderCellDef>District</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.districtName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.state}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstName}} {{row.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">{{inquiryStatus[row.status]}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" (click)="onSelect(row.id)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>