<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="dash-grid-center">
    <div class="dash-center">
      <div class="dash-panel">
        <div class="panel-head">
          <h2 class="green-underline">Convert Inquiry</h2>
          <div *ngIf="showUpdateError" class="alert alert-danger">
            Something went wrong. Please check to make sure you didn't make a mistake.
          </div>
        </div>

        <div *ngIf="!inquiry"></div>

        <div *ngIf="inquiry" class="form-group">
          <mat-form-field>
            <mat-label>New District Name</mat-label>
            <input matInput [(value)]="inquiry.districtName">
          </mat-form-field>

          &nbsp;&nbsp;OR&nbsp;&nbsp;
          <mat-form-field>
            <mat-label>Select District</mat-label>
            <mat-select [(value)]="districtId" color="primary" (change)="onSelectDistrict()">
              <mat-option *ngFor="let district of existingDistricts" [value]="district.id">{{district.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <form *ngIf="showForm" [formGroup]="convertForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="row">
            <div class="form-group col-md-6">
              <label>School Name</label>
              <input class="form-control" formControlName="school" placeholder="School Name">
              <div class="text-danger" *ngIf="!school.valid && (school.dirty || school.touched)">
                <div *ngIf="school.errors">School name is required</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>School City</label>
              <input class="form-control" formControlName="city" placeholder="School City">
              <div class="text-danger" *ngIf="!city.valid && (city.dirty || city.touched)">
                <div *ngIf="city.errors">City is required</div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>School State</label>
              <input class="form-control" formControlName="state" placeholder="School State">
              <div class="text-danger" *ngIf="!state.valid && (state.dirty || state.touched)">
                <div *ngIf="state.errors">State name is required</div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>School Zip</label>
              <input class="form-control" formControlName="postalCode" placeholder="School Zip">
              <div class="text-danger" *ngIf="!postalCode.valid && (postalCode.dirty || postalCode.touched)">
                <div *ngIf="postalCode.errors">School zip is required</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label>School Admin Name</label>
              <input class="form-control" formControlName="firstName" placeholder="Admin First">
              <div class="text-danger" *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
                <div *ngIf="firstName.errors">Admin first name is required</div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label> </label>
              <input class="form-control" formControlName="lastName" placeholder="Admin Last">
              <div class="text-danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
                <div *ngIf="lastName.errors">Admin last name is required</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>School Admin Email</label>
              <input class="form-control" formControlName="email" placeholder="Email">
              <div class="text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
                <div *ngIf="email.errors">Valid email is required</div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-green btn-wd" [disabled]="!convertForm.valid">
              Convert
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>