<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="account-grid">
    <div *ngIf="districts" class="grid-row">
      <h2 class="tagg-white">Create School</h2>

    </div>
    <div class="settings-panel">
      <!-- <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div> -->
      <div class="school-settings-panel">
        <div *ngIf="districts" class="form-group">
          <mat-form-field>
            <mat-label>Select District:</mat-label>
            <mat-select [(value)]="selectedDistrictId" color="primary" (change)="onDistrictSelected()">
              <mat-option *ngFor="let d of districts" [value]="d.id">{{d.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <form *ngIf="showForm" [formGroup]="schoolForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="School name" formControlName="name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="School website" formControlName="url">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Contact email" formControlName="contactEmail">
              </div>

            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Contact phone" formControlName="contactPhone">
              </div>

            </div>
          </div>

          <div formGroupName="address">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Street address" formControlName="street1">
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Street 2 (optional)" formControlName="street2">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="City" formControlName="city">
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field floatLabel="never">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state" color="primary" (change)="markDirty()">
                    <mat-option *ngFor="let state of states" [value]="state.key">{{state.key}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Postal code" formControlName="postalCode">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input class="form-control" placeholder="Pay Rate per day (required, example: 100)" formControlName="payRate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-center">
                <textarea class="form-control" placeholder="About School (optional)" formControlName="summary"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-1">
              <div class="form-group form-group-center">

                <!-- <ngb-timepicker formControlName="startTime" [meridian]="true" [spinners]="false"></ngb-timepicker> -->
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group form-group-center">

                <!-- <ngb-timepicker formControlName="startTime" [meridian]="true" [spinners]="false"></ngb-timepicker> -->
              </div>
              <!-- <label>End Time</label> -->
              <!-- <ngb-timepicker formControlName="endTime" [meridian]="true" [spinners]="false"></ngb-timepicker> -->
            </div>
          </div>




          <div class="text-center">
            <button type="submit" class="btn btn-red" [disabled]="!schoolForm.dirty || !schoolForm.valid || !propsValid()">
              Create School
            </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="showForm">
      <div class="account-panel-small">
        <div class="school-settings-panel">
          <form>
            <div class="form-group">
              <label>School Type</label>
              <mat-form-field>
                <mat-select [(value)]="schoolType" color="primary" (change)="markDirty()">
                  <mat-option value="Public">Public</mat-option>
                  <mat-option value="Charter">Charter</mat-option>
                  <mat-option value="Independent">Independent</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="form-group">
              <label>Lowest Grade</label>
              <mat-form-field>
                <mat-select [(value)]="startGrade" color="primary" (change)="markDirty()">
                  <mat-option *ngFor="let grade of grades" [value]="grade.key">{{grade.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="form-group">
              <label>Highest Grade</label>
              <mat-form-field>
                <mat-select [(value)]="endGrade" color="primary" (change)="markDirty()">
                  <mat-option *ngFor="let grade of grades" [value]="grade.key">{{grade.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="form-group">
              <label>School Start Time</label>
              <br>
              <mat-form-field class="time-field">
                <mat-select [(value)]="startHour" color="primary" (change)="markDirty()">
                  <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
                </mat-select>
              </mat-form-field> :
              <mat-form-field class="time-field">
                <mat-select [(value)]="startMinute" color="primary" (change)="markDirty()">
                  <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button class="time-button" (click)="toggleStartMeridiem()">{{startMeridiem.value}}</button>
            </div>


            <div class="form-group">
              <label>School End Time</label>
              <br>
              <mat-form-field class="time-field">
                <mat-select [(value)]="endHour" color="primary" (change)="markDirty()">
                  <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
                </mat-select>
              </mat-form-field> :
              <mat-form-field class="time-field">
                <mat-select [(value)]="endMinute" color="primary" (change)="markDirty()">
                  <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button class="time-button" (click)="toggleEndMeridiem()">{{endMeridiem.value}}</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>






  <!-- <div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="account-grid">
    <div class="dash-center">
      <div *ngIf="districts" class="settings-panel">
        <div class="panel-head">
          <h2 class="green-underline">Create School</h2>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Select District:</mat-label>
            <mat-select [(value)]="selectedDistrictId" color="primary" (change)="onDistrictSelected()">
              <mat-option *ngFor="let d of districts" [value]="d.id">{{d.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <form *ngIf="showForm" [formGroup]="schoolForm" (ngSubmit)="onSubmit()">
          <div class="school-settings-panel">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="School name" formControlName="name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">

                  <input class="form-control" type="text" placeholder="School website" formControlName="url">
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Contact email" formControlName="contactEmail">
                </div>

              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Contact phone" formControlName="contactPhone">
                </div>

              </div>
            </div>

            <div formGroupName="address">
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Street address" formControlName="street1">
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Street 2 (optional)" formControlName="street2">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="City" formControlName="city">
                  </div>
                </div>
                <div class="col-md-4">
                  <mat-form-field floatLabel="never">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" color="primary" (change)="markDirty()">
                      <mat-option *ngFor="let state of states" [value]="state.key">{{state.key}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Postal code" formControlName="postalCode">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input class="form-control" placeholder="Pay Rate per day (required, example: 100)" formControlName="payRate">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-group-center">
                  <textarea class="form-control" placeholder="About School (optional)" formControlName="summary"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-red" [disabled]="!schoolForm.dirty || !schoolForm.valid">
              Create School
            </button>
          </div>
        </form>

      </div>
    </div>

    <div class="account-panel-small">
      <div *ngIf="districts" class="school-settings-panel">
        <div class="panel-head">
          <h2 class="green-underline">School Settings</h2>
        </div>
        <div class="form-group">
          <label>School Type</label>
          <mat-form-field>
            <mat-select [(value)]="schoolType" color="primary" (change)="markDirty()">
              <mat-option value="Public">Public</mat-option>
              <mat-option value="Charter">Charter</mat-option>
              <mat-option value="Independent">Independent</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form-group">
          <label>Lowest Grade</label>
          <mat-form-field>
            <mat-select [(value)]="startGrade" color="primary" (change)="markDirty()">
              <mat-option *ngFor="let grade of grades" [value]="grade.key">{{grade.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form-group">
          <label>Highest Grade</label>
          <mat-form-field>
            <mat-select [(value)]="endGrade" color="primary" (change)="markDirty()">
              <mat-option *ngFor="let grade of grades" [value]="grade.key">{{grade.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form-group">
          <label>School Start Time</label>
          <br>
          <mat-form-field class="time-field">
            <mat-select [(value)]="startHour" color="primary" (change)="markDirty()">
              <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
            </mat-select>
          </mat-form-field> :
          <mat-form-field class="time-field">
            <mat-select [(value)]="startMinute" color="primary" (change)="markDirty()">
              <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="time-button" (click)="toggleStartMeridiem()">{{startMeridiem.value}}</button>
        </div>


        <div class="form-group">
          <label>School End Time</label>
          <br>
          <mat-form-field class="time-field">
            <mat-select [(value)]="endHour" color="primary" (change)="markDirty()">
              <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
            </mat-select>
          </mat-form-field> :
          <mat-form-field class="time-field">
            <mat-select [(value)]="endMinute" color="primary" (change)="markDirty()">
              <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="time-button" (click)="toggleEndMeridiem()">{{endMeridiem.value}}</button>
        </div>
      </div>
    </div>

  </div>
</div> -->