.actions-top{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.action-button{
    justify-self: end;
}

.mat-column-select{
    flex: 0 0 50px;
}

.mat-column-state{
    flex: 0 0 50px;
}

.mat-column-email{
    flex: 0 0 200px;
}

.mat-row{
    cursor: pointer;
}