<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div class="list-grid">
    <div>
      <h2 class="tagg-white">Schools</h2>
    </div>

    <div class="actions-top">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <div class="action-button">
        <a [routerLink]="['/schools', 'create']" class="btn btn-green">Create School</a>
      </div>
    </div>


    <div class="search-panel">
      <div *ngIf="!selectedSchool" class="dash-panel"></div>
      <div *ngIf="selectedSchool" class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{selectedSchool.name}}</h3>
        </div>

        <div class="search-field">
          <label>Status:</label>
          <br>{{schoolStatus[selectedSchool.status]}}
          <br>
        </div>

        <div class="search-field">
          <label>Type:</label>
          <br>{{selectedSchool.schoolType}}
          <br>
        </div>

        <div class="search-field">
          <label>Phone:</label>
          <br>{{selectedSchool.contactPhone}}
          <br>
        </div>

        <div class="search-field">
          <label>Email:</label>
          <br>{{selectedSchool.contactEmail}}
          <br>
        </div>

        <div class="search-field">
          <label>Address:</label>
          <br>{{selectedSchool.address.street1}}
          <br>{{selectedSchool.address.city}}, {{selectedSchool.address.state}} {{selectedSchool.address.postalCode}}
          <br>
        </div>

        <div class="search-field">
          <label>Pay Rate:</label>
          <br>{{selectedSchool.payRate | currency:'USD'}}
          <br>
        </div>

        <div class="search-field">
          <label>Grades:</label>
          <br>{{selectedSchool.grades}}
          <br>
        </div>

        <div class="search-field">
          <label>School Day:</label>
          <br>{{selectedSchool.startTime}} - {{selectedSchool.endTime }}
          <br>
        </div>

        <div class="search-field">
          <label>Actions:</label>
        </div>

        <div style="margin-top:10px;">
          <button class="link-button" (click)="onViewTeachers()">View Teachers</button> &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
      </div>
    </div>

    <div>
      <mat-table [dataSource]="dataSource" class="mat-eleveation-z8">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>School</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">{{schoolStatus[row.status]}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="account">
          <mat-header-cell *matHeaderCellDef>Account</mat-header-cell>
          <mat-cell *matCellDef="let row">{{accountStatus[row.accountStatus]}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="grades">
          <mat-header-cell *matHeaderCellDef>Grades</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.grades}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" (click)="onSelect(row.id)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>