<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div class="list-grid">
    <div>
      <h2 class="tagg-white">Teachers</h2>
    </div>
    <div class="actions-top">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <div class="action-button">
        <a [routerLink]="['/users', 'create']" class="btn btn-green">Create Teacher</a>
      </div>
    </div>
    <div class="search-panel">
      <div *ngIf="!selectedTeacher" class="dash-panel"></div>
      <div *ngIf="selectedTeacher" class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{selectedTeacher.firstName}} {{selectedTeacher.lastName}}</h3>
        </div>
        <div class="search-field">
          <label>First Name</label>
          <br>{{selectedTeacher.firstName}}
          <br>
        </div>
        <div class="search-field">
          <label>Last Name</label>
          <br>{{selectedTeacher.lastName}}
          <br>
        </div>
        <div class="search-field">
          <label>Email</label>
          <br>{{selectedTeacher.email}}
          <br>
        </div>

        <div class="search-field">
          <label>Phone</label>
          <br>{{selectedTeacher.phoneNumber}}
          <br>
        </div>

        <div class="search-field">
            <label>Status</label>
            <br>{{statusDisplay[selectedTeacher.status]}}
            <br>
          </div>

        <div class="search-field">
          <label>Actions:</label>
          <br>
        </div>

        <!-- <div style="margin-top:10px;">
            <button class="link-button">Disable</button> &nbsp; &nbsp; &nbsp; &nbsp;
          </div> -->
      </div>
    </div>

    <div>
      <mat-table [dataSource]="dataSource" class="mat-eleveation-z8">
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.phoneNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">{{statusDisplay[row.status]}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" (click)="onSelectTeacher(row.id)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>