<div class="content-grid">
    <app-side-nav></app-side-nav>
    <div class="dash-grid-center">
        <div *ngIf="viewReady" class="dash-center">
            <div class="dash-panel">
                <div class="panel-head">
                    <h2 class="red-underline">Create Profile</h2>
                </div>
                <div>
                    <mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
                        <mat-step>
                            <account-form [model]="substitute" [viewData]="viewData"></account-form>
                        </mat-step>
                        <mat-step>
                            <profile-form [model]="substitute" [viewData]="viewData"></profile-form>
                        </mat-step>
                        <mat-step>
                            <preferences-form [model]="substitute" [viewData]="viewData"></preferences-form>
                        </mat-step>
                        <mat-step>
                            <contact-form [model]="substitute"></contact-form>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>

        </div>
        <div class="text-center">
            <button class="apply-nav-button" (click)="onStepPrevious()">
                <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <h4 class="tagg-white" *ngIf="stepNumber === 0">Step 1 of 4</h4>
            <h4 class="tagg-white" *ngIf="stepNumber === 1">Step 2 of 4</h4>
            <h4 class="tagg-white" *ngIf="stepNumber === 2">Step 3 of 4</h4>
            <h4 class="tagg-white" *ngIf="stepNumber === 3">Step 4 of 4</h4>
            <button class="apply-nav-button" (click)="onStepNext()">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
        </div>

    </div>
    <app-side-details></app-side-details>
</div>