﻿@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h2>Sorry...you aren't authorized to view this page.</h2>

    </div>
</div>
