﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Password Reset";
}

<div class="login-grid login-background">
    <div class="login-form-grid">
        <div></div>
        <div class="login-panel">
            <div class="panel-head">
                <h2 class="green-underline">Password Reset</h2>
            </div>
            @Html.Partial("_ValidationSummary")
            <form asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label>Please enter your email address to reset your password.</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <br />
                <div class="text-center">
                    <button type="submit" class="btn btn-red btn-rnd">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
