﻿@{
    ViewData["Title"] = "Password Reset";
}

<div class="login-grid login-background">
    <div class="login-form-grid">
        <div></div>
        <div class="login-panel">
            <div class="panel-head">
                <h2 class="green-underline">Password Reset</h2>
            </div>
            <div class="form-group">
                You will receive an email shortly with instructions to reset your password
            </div>
        </div>
    </div>
</div>


