﻿@model LoginViewModel

<div class="login-grid login-background">
    <div class="login-form-grid">
        <div class="login-placeholder"></div>
        <div>
            <div class="login-panel">
                <div class="panel-head">
                    <h1 class="green-underline-big">Log in</h1>
                </div>
                @Html.Partial("_ValidationSummary")
                <form asp-route="Login">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" class="form-control login-password" placeholder="Password" asp-for="Password" autocomplete="off">
                    </div>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                    @*@if (Model.AllowRememberLogin)
                    {
                        <div class="form-group login-remember">
                            <label asp-for="RememberLogin">
                                <input asp-for="RememberLogin">
                                <strong>Remember Me</strong>
                            </label>
                        </div>
                    }*@
                    <div class="text-center">
                        <button class="btn btn-red btn-rnd" name="button" value="login">Login</button>
                        @*<br />
                        <p>
                            <a asp-action="ForgotPassword">Forgot your password?</a>
                        </p>*@
                    </div>
                </form>
            </div>
        </div>
        <div class="login-placeholder"></div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
