﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="password-screen">
    <div class="password-grid">
        <div class="grid-placeholder"></div>
        
        <div class="dash-panel">
            <div class="panel-head">
                <h2 class="green-underline">Password Reset Successfully</h2>
            </div>
            Your password has been reset. Please <a href="@ViewData["login"]">click here to log in</a>.
        </div>
    </div>
</div>



