﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Your password";
}

<div class="password-screen">
    <div class="password-grid">
        <div class="grid-placeholder"></div>
        <div class="dash-panel">
            <div class="panel-head">
                <h2 class="green-underline">Reset Your Password</h2>
            </div>
            <form method="post">
                <input asp-for="Code" type="hidden" />
                <input asp-for="Email" type="hidden" />
                @Html.Partial("_ValidationSummary")
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button type="submit" class="btn btn-green btn-rnd">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>





@*<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h2>@ViewData["Title"]</h2>
        <div class="panel panel-default">
            <br/>
            <form method="post">
                <input asp-for="Code" type="hidden" />
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-rnd">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
