<i class="material-icons dialog-right" (click)="onNoClick()">close</i>
<div *ngIf="selectedEvent" class="custom-modal-body">
    <div class="text-center">
        <h2 class="tagg-blue">Jobs on this day</h2>
        <br>
        <button class="dialog-nav-button" tabindex="-1" (click)="onPrevious()"> < </button>
        <div style="display:inline-block;">&nbsp;&nbsp;&nbsp;{{currentIndex + 1}} of {{events.length}}&nbsp;&nbsp;&nbsp;</div>
        <button class="dialog-nav-button" tabindex="-1" (click)="onNext()"> > </button>
    </div>
    <div>
        <h3 class="tagg-blue">{{selectedEvent.job.startDate | date:'longDate'}}</h3> 
        <br> {{selectedEvent.job.teacherName}}, {{selectedEvent.job.schoolName}}
        <em></em>
        <br>
        <br>
    </div>
    <div class="no-click">
        <div *ngIf="showCancelError" class="alert alert-danger">
            <strong>Oops...we weren't able to cancel this job for you. Please contact us as support@taggeducation.com for assistance</strong>
        </div>
        <div *ngIf="showCancelSuccess" class="alert alert-success">
                <strong>Job has been cancelled.</strong>
            </div>
        <div class="detail-item">
            <h4 class="tagg-green">Details</h4>
            <div class="grid">
                <div>Job #:</div>
                <div>{{selectedEvent.job.id | slice:18 | uppercase}}</div>

                <div>Date:</div>
                <div>{{selectedEvent.job.startDate | date:'longDate'}}</div>

                <div>Time:</div>
                <div>{{selectedEvent.job.startDate | date:'shortTime'}} - {{selectedEvent.job.endDate | date:'shortTime'}}</div>

                <div>Teacher:</div>
                <div>{{selectedEvent.job.teacherName}}</div>

                <div>Sub:</div>
                <div *ngIf="selectedEvent.job.substituteName">{{selectedEvent.job.substituteName}}</div>
                <div *ngIf="!selectedEvent.job.substituteName">Pending</div>

                <div>Pay Rate:</div>
                <div>{{selectedEvent.job.payAmount | currency: 'USD'}}</div>

                <div>Total:</div>
                <div>{{selectedEvent.job.chargeAmount | currency: 'USD'}}</div>

                <div>Status:</div>
                <div>{{jobStatus[selectedEvent.job.status]}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="showWarning" class="alert alert-danger">
        <strong>Are you sure you want to cancel this job?</strong>
    </div>
    <div class="dialog-actions">
        <button *ngIf="!showWarning && selectedEvent.job.status != 3" class="btn btn-red" (click)="onCancelWarning()" tabindex="-1">CANCEL JOB</button>
        <button *ngIf="showWarning" class="btn btn-blue" (click)="dontCancel()" tabindex="-1">NO, DON'T CANCEL</button>
        <button *ngIf="showWarning" class="btn btn-red" (click)="onCancelJob()" tabindex="-1">YES, CANCEL JOB</button>
    </div>
</div>