<i class="material-icons dialog-right" (click)="onNoClick()">close</i>
<div *ngIf="showForm && !haveEvents" class="custom-modal-body">
    <div class="text-center">
        <h2 class="tagg-blue">{{data.date | date:'longDate'}}</h2>
        <div *ngIf="showError" class="alert alert-danger">
            <strong>Oops...we weren't able to schedule the blackout day. Please contact us at support@taggeducation for assistance.</strong>
        </div>
        <p>No events scheduled on this day. You can select schools below to create a blackout day.</p>
    </div>
    <div class="text-center">
        <label>Schools:</label>
        <mat-form-field>
            <mat-select [(ngModel)]="selectedSchools" multiple>
                <mat-option *ngFor="let s of schoolOptions" [value]="s.key">
                    {{s.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="dialog-actions">
        <button class="btn btn-red" (click)="onNoClick()" tabindex="-1">CANCEL</button>
        <button class="btn btn-blue" (click)="onAddBlackout()" tabindex="-1" [disabled]="!selectedSchools?.length || this.showError">ADD BLACKOUT DAY</button>
    </div>
</div>


<div *ngIf="showForm && haveEvents" class="custom-modal-body">
    <div class="text-center">
        <h2 class="tagg-blue">{{data.date | date:'longDate'}}</h2>
        <div *ngIf="showError" class="alert alert-danger">
            <strong>Oops...we weren't able to remove the blackout day. Please contact us at support@taggeducation for assistance.</strong>
        </div>
        <p>Blackout day scheduled for the following schools:</p>
        <div *ngFor="let s of schoolsInEvent">
            {{s.name}}
        </div>
    </div>
    <div class="dialog-actions">
        <button class="btn btn-blue" (click)="onRemoveBlackout()" tabindex="-1" [disabled]="this.showError">REMOVE BLACKOUT DAY</button>
    </div>
</div>