<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="search-grid">
    <div class="grid-title">
      <h1 class="tagg-white">Schools</h1>
    </div>
    <div class="actions-top">
      <a *ngIf="_authService.user.profile.api_access ==='0x33'" [routerLink]="['/admin', 'school', 'create']" class="btn btn-green">Add School</a>
    </div>
    <div *ngIf="selectedSchool" class="search-panel">
      <div class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{selectedSchool.schoolBase.name}}</h3>
        </div>
        <div class="search-field">
          <label>School Admins</label>
          <br> {{selectedSchool.schoolBase.admins.length}} &nbsp; &nbsp; &nbsp; &nbsp;
          <a [routerLink]="['/schools', selectedSchool.schoolBase.id, 'admins']">View Admins</a>
          <br>
        </div>
        <div class="search-field">
          <label>Grades</label>
          <br> {{selectedSchool.schoolBase.grades}}
          <br>
        </div>
        <div class="search-field">
          <label>Number of Teachers</label>
          <br> {{selectedSchool.schoolBase.teachers.length}} &nbsp; &nbsp; &nbsp; &nbsp;
          <a *ngIf="selectedSchool.schoolBase.teachers.length" [routerLink]="['/schools', selectedSchool.schoolBase.id, 'teachers']">View Teachers</a>
          <br>
        </div>
        <div class="search-field">
          <label>Number of Subs Available</label>
          <br> {{selectedSchool.availableSubCount}} &nbsp; &nbsp; &nbsp; &nbsp;
          <a [routerLink]="['/schools', selectedSchool.schoolBase.id, 'subs']">View Subs</a>
          <br>
        </div>
        <div class="search-field">
          <label>Pay Rate at School</label>
          <br>{{selectedSchool.schoolBase.payRate | currency:'USD'}}
          <br>
        </div>
        <div class="search-field">
          <label>Website</label>
          <br>
          <a class="tagg-green" href="selectedSchool.schoolBase.url">{{selectedSchool.schoolBase.url}}</a>
          <br>
        </div>
        <div style="margin-top:10px;">
          <button class="link-button" style="text-decoration: underline;" (click)="onAddTeacher()">Add Teacher</button> &nbsp; &nbsp; &nbsp; &nbsp;
          <a [routerLink]="['/schools', selectedSchool.schoolBase.id, 'add', '2']">Add Admin</a>
          <br>
          <br>
          <a [routerLink]="['/schools', selectedSchool.schoolBase.id, 'edit']">View Profile</a> &nbsp; &nbsp; &nbsp; &nbsp;
          <a [routerLink]="['/schools', selectedSchool.schoolBase.id, 'metrics']">View Metrics</a>
        </div>
      </div>
    </div>
    <div class="result-col-2">
      <div class="result-panel" *ngFor="let school of schools" (click)="onSelectSchool(school.schoolBase.id)">
        <span>{{school.schoolBase.name}}</span>
      </div>
    </div>
  </div>
  <app-side-details></app-side-details>
</div>