<div class="content-grid">
    <app-side-nav></app-side-nav>
    <div *ngIf="!showForm"></div>
    <div *ngIf="showForm" class="account-grid">
      <div class="grid-row">
        <h1 class="tagg-white">Settings</h1>
      </div>
  
      <div class="settings-panel">
        <form *ngIf="showForm" [formGroup]="settingsForm">
          <div class="dash-panel">
            <div class="row">
              <div class="form-group col-md-6">
                <label>First name:</label>
                <input type="text" class="form-control" formControlName="firstName">
              </div>
  
              <div class="form-group col-md-6">
                <label>Last name:</label>
                <input class="form-control" type="text" formControlName="lastName">
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-md-6">
                <label>Email:</label>
                <input class="form-control" type="text" readonly="readonly" formControlName="email">
              </div>
              <div class="col-md-4" style="margin-top:30px;">
                <button class="account-link-button tagg-green" (click)="onChangeEmail()">Change Email</button>
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-md-6">
                <label>Password:</label>
                <input class="form-control" type="password" value="xxxxxxxxx" readonly="readonly">
              </div>
              <div class="col-md-6" style="margin-top:30px;">
                <a [href]="passwordReset" class="tagg-green">Change Password</a>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label>Contact:</label>
              </div>
            </div>
  
            <div class="row">
              <div class="form-group col-md-4">
                <input class="form-control" type="text" placeholder="Phone" formControlName="phoneNumber">
              </div>
            </div>
          </div>
          <div *ngIf="!settingsForm.pristine" class="text-center">
            <button class="btn btn-red center-block" (click)="onSubmit()">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  
  
    <app-side-details></app-side-details>
  </div>