.calendar-grid{
    padding: 45px 5%;
    display: grid;
    grid-template-columns: 1fr;
}

.calendar-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px;
}

.calendar-actions{
    align-self: center;
    align-items: center;
    justify-self: end;
    justify-items: center;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 1fr;
}

.month-nav-button{
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0 -10px;
    display: inline-block;
    color: white;
}

.day-label-row{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.day-label {
    text-align: right;
    padding: 0 5px 0 5px;
    color: white;
    font-weight: 600;
    z-index: 20;
}

.day-grid{
    background-color: #ccc;
    border-radius: 10px;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 160px;
    grid-column-gap: 1px;
    grid-row-gap: 1px; */
}

.calendar-day{
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    cursor: pointer;
}
.tleft{
    border-top-left-radius: 10px;
}
.tright{
    border-top-right-radius: 10px;
}
.bleft{
    border-bottom-left-radius: 10px;
}
.bright{
    border-bottom-right-radius: 10px;
}
.placeholder{
    color: #ebebeb;
}

.calendar-event{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 18px;
    grid-template-rows: 20px;
    grid-auto-rows: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right:10px;
    padding-left: 10px;
}

.day-index-label{
    justify-self: end;
}
.event-title{
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
}
.event-data{
    grid-column: 1 / span 2;
}

.request {
    background-color: #efe434;
    color: #404040;
}

.confirmed{
    background-color: #5FCA6C;
    color: #fff;
}

.blackout{
    background-color: #636363;
    color: white;
}

.calendar-key {
    color: #fff;
    text-align: right;
    padding: 20px 0 0 0;
}

.calendar-key span {
    font-size: 1.3em;
    padding: 1em 0 0 0;
}

.calendar-key span::before {
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 8px 0 50px;
    position: relative;
    top: -1px;
    width: 13px;
}
.event-title span::before{
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 8px 0 0;
    position: relative;
    top: -1px;
    width: 13px;
}
.event-title .key-offered::before {
    background-color: #efe434;
}
.event-title .key-accepted::before {
    background-color: #5FCA6C;
}

.calendar-key .key-offered::before {
    background-color: #efe434;
}


.calendar-key .key-accepted::before {
    background-color: #5fca6c;
}

.calendar-key .key-blackout::before {
    background-color: #636363;
}

@media screen and (min-width:851px){
    .day-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 160px;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
}

@media screen and (max-width:850px){
    
    .day-label-row{
        display: none;
    }
    .day-grid{
        grid-template-columns: 1fr;
        grid-auto-rows: 160px;
        grid-row-gap: 1px;
    }
    .day-label-row{
        display: none;
    }
    .day-label{
        display:none;
    }
    
    .calendar-key{
        text-align: center;
    }
}