.result-panel{
    background-color:#ebebeb;
    border-radius: 12px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 10px 10px;
    cursor: pointer;
}

.search-field{
    margin-bottom: 15px;
    color: #404040;
}
.search-grid{
    padding:5%;
    display:grid;
    grid-column-gap: 1%;
    grid-row-gap: 1em;
    grid-template-columns: 325px 1fr 1fr;
    grid-template-rows: 3em auto;
    
}

.grid-title{
    grid-column: 1 / span 2;
}
.actions-top{
    grid-column: auto / span 1;
    margin-right: 10px;
    align-self: end;
    justify-self: end;
}
.actions-bottom{
    display:none;
}

.search-panel{
    grid-column: 1 / span 1;
}
.result-col-1{
    grid-column: 2 / span 2;
    /* grid-row: auto / span 10; */
    display:grid;
    height: 82vh;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.result-col-2{
    grid-column: 2 / span 2;
    /* grid-row: auto / span 5; */
    display:grid;
    height: 82vh;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
  
  @media screen and (min-width:401px) and (max-width:766px){
    .search-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .search-panel{
       display:none;
   }
   .grid-title{
       grid-column: auto / span 1;
   }
   .actions-top{
       grid-column: auto / span 1;
   }
   .result-col-2{
        grid-column: 1 / span 2;
    }
  }

  @media screen and (max-width:400px){
    .search-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .search-panel{
       display:none;
   }
   .actions-top{
       text-align: left;
   }
   .result-col-2{
        grid-column: 1 / span 2;
        grid-template-columns: 1fr;
    }
  }