<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div class="dash-grid-3">
        <div class="grid-row">
            <h1 class="tagg-white" style="display:inline-block;">Jobs</h1>
            <i class="material-icons md-light md-abs md-18"
                matTooltip="You can view and manage today’s, upcoming and recent jobs here. At the bottom of each tab you can click the left or right arrows to see the rest of the jobs on these lists.">
                help
            </i>
        </div>

        <div class="dash-panel panel-1 scroll-me">
            <div class="panel-head">
                <h3 class="green-underline">Today</h3>
            </div>
            <div *ngFor="let job of jobsResult?.today" class="detail-item" (click)="onSelectToday(job.id)">
                <div class="head">
                    {{job.startDate | date:'longDate'}}
                </div>
                <div class="grid">
                    <div>Teacher:</div>
                    <div>{{job.teacherName}}</div>

                    <div>Sub:</div>
                    <div *ngIf="job.substituteName">{{job.substituteName}}</div>
                    <div *ngIf="!job.substituteName">Pending</div>

                    <div>Total:</div>
                    <div>{{job.chargeAmount | currency: 'USD'}}</div>

                    <div>Status:</div>
                    <div>{{jobStatus[job.status]}}</div>
                </div>
            </div>
        </div>

        <div class="dash-panel panel-1 scroll-me">
            <div class="panel-head">
                <h3 class="yellow-underline">Upcoming</h3>
            </div>
            <div *ngFor="let job of jobsResult?.upcoming" class="detail-item" (click)="onSelectUpcoming(job.id)">
                <div class="head">
                    {{job.startDate | date:'longDate'}}
                </div>
                <div class="grid">
                    <div>Teacher:</div>
                    <div>{{job.teacherName}}</div>

                    <div>Sub:</div>
                    <div *ngIf="job.substituteName">{{job.substituteName}}</div>
                    <div *ngIf="!job.substituteName">Pending</div>

                    <div>Total:</div>
                    <div>{{job.chargeAmount | currency: 'USD'}}</div>

                    <div>Status:</div>
                    <div>{{jobStatus[job.status]}}</div>
                </div>
            </div>
        </div>

        <div class="dash-panel panel-1 scroll-me">
            <div class="panel-head">
                <h3 class="blue-underline">Recent</h3>
            </div>
            <div *ngFor="let job of jobsResult?.recent" class="detail-item" (click)="onSelectRecent(job.id)">
                <div class="head">
                    {{job.startDate | date:'longDate'}}
                </div>
                <div class="grid">
                    <div>Teacher:</div>
                    <div>{{job.teacherName}}</div>

                    <div>Sub:</div>
                    <div *ngIf="job.substituteName">{{job.substituteName}}</div>
                    <div *ngIf="!job.substituteName">Pending</div>

                    <div>Total:</div>
                    <div>{{job.chargeAmount | currency: 'USD'}}</div>

                    <div>Status:</div>
                    <div>{{jobStatus[job.status]}}</div>
                </div>
            </div>
        </div>
    </div>
    <app-side-details></app-side-details>
</div>