.account-grid{
    padding: 45px 10%;
    display:grid;
    grid-column-gap: 3%;
    grid-row-gap:1em;
    grid-template-rows: 3em auto auto;
    grid-template-columns:repeat(3, 1fr);
  }
  
  .settings-panel{
    grid-column: auto / span 2;
    grid-row: auto / span 1;
  }
  
  .account-grid .grid-row{
    grid-column: auto / span 3;
    grid-row: auto / span 1;
  }
  
  button.tagg-white{
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  
  button.tagg-white:hover{
    text-decoration: white;
  }
  
  .account-image{
    border-radius: 50%;
    margin:2px;
  }

  .account-link-button{
    background:none!important;
     /* color:inherit; */
     border:none; 
     padding:0!important;
     text-decoration: underline;
}
  
  
  /* .image-input{
    position: absolute;
    width: 100px;
    height: 100px;
  } */
  
  .image-placeholder{
    width:54px;
    height:55px;
    border:2px dashed orange;
  }
  
  .avatar-container .image-input{
    opacity: 0;
    position: absolute;
    width:100%;
    height:100%;
    /* top: 25%;
    left: 25%; */
    /* transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%); */
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 18%;
    max-height: 20%;
  }
  
  .avatar-placeholder{
    height: 50;
    width: 50;
  }
  
  
  
  .avatar-name{
    padding-top:18px;
  }