.school-settings-panel{
  background-color:#ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
  }
  
  .account-link-button{
    background:none!important;
     border:none; 
     padding:0!important;
  }
  
  .small-form-group{
    display:inline-block;
    margin: 0 0 10px 0;
  }
  
  .time-group{
    display:inline-block;
    margin-bottom: 10px;
    max-width: 250px;
  }
  
  .right-me{
    float:none;
  }
  
  .time-group label{
    display: block;
  }

  .actions-bottom, .actions-top{
    text-align: center;
  }
 
 .account-grid{
   display:grid;
   padding: 45px 5%;
    grid-column-gap: 3%;
    /* grid-row-gap:1em; */
 }

 @media screen and (min-width:1200px){
  .account-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px auto;
  }

  .test-title{
    grid-column: 1 / span 2;
  }
  .settings-panel{
    grid-column: 1 / span 2;
  }

  .account-panel-small .school-settings-panel{
    max-width: 250px;
  }
  .actions-bottom{
    display:none;
  }
 }

 @media screen and (min-width:992px) and (max-width:1199px){
  .account-grid{
   grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
   grid-template-rows: auto;
  }
  .test-title{
    grid-column: 2 / span 2;
  }
  .actions-top{
    grid-column: auto / span 1;
  }
  .actions-bottom{
    display:none;
  }
  .settings-panel{
    grid-column: 2 / span 3;
  }
  .account-panel-small{
    grid-column: 2 / span 3;
  }
  .small-form-group{
    display:inline-block;
    max-width: 28%;
    margin: 10px;
  }
  .time-group{
    display:inline-block;
    margin-bottom: 10px;
    max-width: 250px;
  }
  
  .right-me{
    float:right;
  }
  
  .time-group label{
    display: block;
  }
 }

@media screen and (min-width:767px) and (max-width:991px){
  .account-grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
   }
   .test-title{
     text-align: center;
   }
   .small-form-group{
     display:inline-block;
     max-width: 28%;
     margin: 10px;
   }
   .time-group{
     display:inline-block;
     margin-bottom: 10px;
     max-width: 250px;
   }
   
   .right-me{
     float:right;
     margin-right: 10%;
   }
   
   .time-group label{
     display: block;
   }
   .actions-top{
     display:none;
   }
   .actions-bottom{
     display: block;
   }

}

@media screen and (max-width:766px){
  .test-title{
    text-align: center;
  }
  .small-form-group{
    display:block;
    max-width: 99%;
    margin: 10px;
  }
  .time-group{
    display:block;
    margin: 0 0 10px 10px;
    max-width: 250px;
  }
  
  .time-group label{
    display: block;
  }
  .actions-top{
    display:none;
  }
  .actions-bottom{
    display: block;
  }
}