<i class="material-icons dialog-right" (click)="onNoClick()">close</i>
<div class="custom-modal-body">
        <div class="panel-head">
          <h3 class="green-underline">{{data.school.schoolBase.name}}</h3>
        </div>
        <!-- <div class="text-center">
          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10119-200.png" height=100 width=100>
        </div> -->
        <div class="search-field">
          <label>Primary School Admin</label>
          <br> {{data.school.primaryAdminName}}
          <br>
        </div>
        <div class="search-field">
          <label>Grades</label>
          <br> {{data.school.schoolBase.grades}}
          <br>
        </div>
        <div class="search-field">
          <label>Number of Teachers</label>
          <br> {{data.school.schoolBase.teachers.length}}
          <br>
        </div>
        <div class="search-field">
          <label>Number of Subs Available</label>
          <br> {{data.school.availableSubCount}}
          <br>
        </div>
        <div class="search-field">
          <label>Pay Rate at School</label>
          <br>{{data.school.schoolBase.payRate | currency:'USD'}}
          <br>
        </div>
        <div class="search-field">
          <label>Website</label>
          <br> <a class="tagg-green" href="data.school.schoolBase.url">{{data.school.schoolBase.url}}</a>
          <br>
        </div>
        <div style="margin-top:10px;">
          <a [routerLink]="['/schools', data.school.schoolBase.id, 'edit']">View Profile</a> &nbsp; &nbsp; &nbsp; &nbsp;
          <a [routerLink]="['/schools', data.school.schoolBase.id, 'teachers']">View Teachers</a>
          <br> <br>
          <a [routerLink]="['/schools', data.school.schoolBase.id, 'add', '1']">Add Teacher</a> &nbsp; &nbsp; &nbsp; &nbsp;
          <a [routerLink]="['/schools', data.school.schoolBase.id, 'add', '2']">Add Admin</a>
        </div>
      </div>