
    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        <mat-step [stepControl]="accountForm">
            <form [formGroup]="accountForm">
                <ng-template matStepLabel>Account</ng-template>
                <div class="flex-container">
                    <div class="panel-md">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Account Information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <mat-form-field class="field-md">
                                        <input matInput placeholder="Street" formControlName="street1" />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Apt, Unit, etc" formControlName="street2" />
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput placeholder="City" formControlName="city" />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="State" formControlName="state" />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Zip Code" formControlName="zip" />
                                    </mat-form-field>
                                </div>
                                <div class="text-center">
                                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="profileForm">
            <form [formGroup]="profileForm">
                <ng-template matStepLabel>Profile</ng-template>
                <div class="flex-container">
                    <div class="panel-md">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Profile Information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput placeholder="Education" formControlName="education" />
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput placeholder="Transcripts" formControlName="hasTranscripts" />
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput placeholder="License" formControlName="hasLicense" />
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput placeholder="Resume" formControlName="resume" />
                                    </mat-form-field>
                                </div>
                                
                                <div>
                                    <button mat-raised-button matStepperPrevious>Back</button>
                                    <div class="text-center">
                                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="preferencesForm">
            <form [formGroup]="preferencesForm">
                <ng-template matStepLabel>Preferences</ng-template>
                <div class="flex-container">
                    <div class="panel-md">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Job Preferences</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <mat-form-field class="field-md dollars">
                                        <input matInput type="number" placeholder="Minimum Pay Per Day" formControlName="minPay" />
                                        <span matPrefix>$&nbsp;</span>
                                        <span matSuffix>.00</span>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="field-md">
                                        <input matInput type="number" placeholder="Max Distance From Home" formControlName="maxDistance" />
                                    </mat-form-field>
                                </div>
                                <div *ngFor="let subject of subjects">
                                    <mat-slide-toggle [checked]="subject.checked" color="primary">
                                        {{subject.display}}
                                    </mat-slide-toggle>
                                </div>

                                <div>
                                    <button mat-raised-button matStepperPrevious>Back</button>
                                    <div class="text-center">
                                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="contactForm">
            <form [formGroup]="contactForm">
                <ng-template matStepLabel>Contact</ng-template>
                <div class="flex-container">
                    <div class="panel-md">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Contact Preferences</h3>
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>
    </mat-horizontal-stepper>

