<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form (submit)="onSubmit()">
            <div class="form-group">
                <label for="postalCode">Zip Code</label>
                <input type="text" class="form-control" name="postalCode"
                       [(ngModel)]="postalCode" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </form>
    </div>
</div>
