<mat-sidenav-container>
    <mat-sidenav position="end" mode="over" fixedInViewport="true" #menu class="example-sidenav">

        <mat-toolbar class="side-toolbar">
            <mat-toolbar-row>
                <button type="button" class="menu-button" mat-button (click)="menu.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>


            <mat-toolbar-row *ngIf="authService.user" class="side-nav-right">
                <a [routerLink]="['/home']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Calendar</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf="authService.user" class="side-nav-right">
                <a [routerLink]="['/jobs']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Jobs</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf="authService.user" class="side-nav-right">
                <a [routerLink]="['/metrics']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Metrics</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf="authService.user" class="side-nav-right side-nav-right-margin">
                <a [routerLink]="['/messages']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Messages</button>
                </a>
            </mat-toolbar-row>


            <mat-toolbar-row>
                <a [routerLink]="['/home']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Home</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/profile']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Profile</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/settings']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Settings</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/about']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">About</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/contact']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Contact</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button mat-button class="menu-button" (click)="onSignOut()">Sign Out</button>
            </mat-toolbar-row>

        </mat-toolbar>

    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <div class="app-grid">
                <div class="app-item app-header">
                    <a [routerLink]="['/home']">
                        <div class="header-logo">
                            <img src="../assets/Tagg-Logo-Blue-Green.png">
                        </div>
                    </a>
                    <div class="burg">
                        <span class="glyphicon glyphicon-menu-hamburger" (click)="menu.toggle()"></span>
                    </div>
                </div>
                <div class="app-item app-content">
                    <router-outlet></router-outlet>
                </div>
                <div class="app-item app-footer">
                    <div class="text-center">
                        &copy; Tagg Education, LLC
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>