.example-sidenav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 200px;
    background: #eb5566;
  }
  .side-toolbar{
    background-color: rgba(0,0,0,0);
  }

  .side-nav-right .side-nav-right-margin{
      margin-bottom: 90px;
  }
  
  .app-grid {
    display: grid;
    height:100vh;
    grid-template-rows: 80px 1fr 35px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}

.app-item {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app-header {
    background-color: #f6f6f6;
    grid-area: header;
}
.app-header a{
    display:inline-block;
}

.app-header .burg {
    float: right;
    font-size: 42px;
    padding: 15px 50px;
    color: #5FCA6C;
}

.app-content {
    background-color: #0E333E;
    grid-area: main;
}

.app-footer {
    background-color: #f6f6f6;
    grid-area: footer;
}

/* PHONES (xs) */
@media screen and (max-width:768px){
   
    .side-nav-right{
        display: block;
    }
    
}

/* TABLETS (sm) */
@media screen and (min-width:767px) and (max-width:992px){
    
    .side-nav-right{
        display: block;
    }
    
}

/* SMALL LAPTOPS (md) */
@media screen and (min-width:993px) and (max-width:1199px){
    .side-nav-right{
        display: none;
    }
}

/* LAPTOPS AND DESKTOPS (lg) */
@media screen and (min-width:1200px){
    .side-nav-right{
        display: none;
    }
}