<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div class="list-grid">
    <div>
      <h2 class="tagg-white">Districts</h2>
    </div>

    <div class="actions-top">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <div class="action-button">
        <a [routerLink]="['/districts', 'create']" class="btn btn-green">Create District</a>
      </div>
    </div>


    <div class="search-panel">
      <div *ngIf="!districtSchools" class="dash-panel"></div>
      <div *ngIf="districtSchools" class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{selectedDistrict.name}}</h3>
        </div>

        <div>

        </div>

        <div class="search-field">
          <label>Schools:</label>
          <br>
          <div *ngFor="let school of districtSchools" style="display:block;">{{school.name}}</div>
        </div>

        <div class="search-field">
          <label>Actions:</label>
        </div>

        <!-- <div style="margin-top:10px;">
          <button class="link-button">Convert</button> &nbsp; &nbsp; &nbsp; &nbsp;
        </div> -->
      </div>
    </div>

    <div>
      <mat-table [dataSource]="dataSource" class="mat-eleveation-z8">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>District</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"  (click)="onSelect(row.id)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>