<div class="content-grid">
    <app-side-nav></app-side-nav>
  
    <div class="dash-grid-center">
      <div class="dash-center">
        <div class="dash-panel">
          <div class="panel-head">
            <h2 class="green-underline">Create District</h2>
          </div>
  
          <div *ngIf="showUpdateError" class="alert alert-danger">
            Oops...something went wrong. Please check to make sure you didn't make a mistake.
          </div>
          <form (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label>District Name:</label>
              <input class="form-control" type="text" [(ngModel)]="districtName" name="districtName">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-green">
                Create District
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>