<i class="material-icons dialog-right" (click)="onNoClick()">close</i>
<div class="custom-modal-body">
    <div class="dash-panel">
        <div class="panel-head text-center">
            <h2>Contact Verification</h2>
        </div>
        <div *ngIf="step==1" style="margin-top:30px;">
            <label>Choose Preferences:</label>
        </div>
        <div *ngIf="step==1">
            <mat-form-field matTooltip="Select how you wish to receive notifications. You can receive a phone call, a text, an email, or all of the above. It’s up to you!">
                <mat-select [(value)]="selectedContact" color="primary" multiple>
                    <mat-option *ngFor="let cont of contactMethods" [value]="cont.key">{{cont.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="step==1" class="text-center dialog-actions">
            <button class="btn btn-green btn-wd" (click)="onSave()">SAVE</button>
        </div>

        <!-- PHONE VERIFICATION -->
        <div *ngIf="step==2" style="margin-top:30px;">
            <p>Please verify your phone number below and click to send a verification code</p>
            <form>
                <div class="form-group form-group-center">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone" required>
                </div>
            </form>
        </div>

        <div *ngIf="step==2" class="text-center dialog-actions">
            <button class="btn btn-green btn-wd" (click)="onSendCode()">SEND</button>
        </div>

        <!-- CODE VERIFICATION -->
        <div *ngIf="step==3" style="margin-top:30px;">
                <p>Please enter your verification code.</p>
                <form>
                    <div class="form-group form-group-center">
                        <label>Verification Code</label>
                        <input type="text" class="form-control" id="code" [(ngModel)]="code" name="code" required>
                    </div>
                </form>
            </div>
    
            <div *ngIf="step==3" class="text-center dialog-actions">
                <button class="btn btn-green btn-wd" (click)="onVerificationCode()">SUBMIT</button>
            </div>

    </div>
</div>