<i class="material-icons dialog-right" (click)="onNoClick()">close</i>
<div class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">How It Works</h2>
    </div>
    <div class="info-dialog-text">
        <div class="dialog-block">
            The sub's group will determine when each sub receives the request.
        </div>
        <div class="dialog-key">
            <div>
                <span class="key-selected"></span>
            </div>
            <div>Selected Subs receive offer first</div>

            <div>
                <span class="key-favorite"></span>
            </div>
            <div>Favorited Subs receive offer second</div>

            <div>
                <span class="key-other"></span>
            </div>
            <div>Remaining Subs with ratings of 3 stars and above receive the offer if the job is still open the night before
                it starts
            </div>
        </div>

        <div class="dialog-block">
            The job remains open to Selected and Favorited Subs even after it has been offered to Remaining Subs. The time before the
            next group receives an offer depends on the number of days before the job start date.
        </div>
    </div>


    <div class="dialog-actions">
        <button (click)="onNoClick()" class="btn btn-green btn-wd" tabindex="-1">GOT IT</button>
    </div>
</div>