<i class="material-icons dialog-right" (click)="onNoClick()">close</i>
<div class="custom-modal-body">

    <div class="sub-grid">
        <div style="padding-left:20px;">
            <div *ngIf="!data.chosenSub.picture" style="margin-bottom:15px;">
                <img src="/assets/avatarPlaceholder.png" class="avatar-image" height=100 width=100>
            </div>
            <div *ngIf="data.chosenSub.picture" style="margin-bottom:15px;">
                <img src="{{photos + data.chosenSub.picture}}" class="avatar-image" height=100 width=100>
            </div>

            <h3 class="green-underline">{{data.chosenSub.firstName}} {{data.chosenSub.lastName}}</h3>
            <div class="search-field apple-row">
                <div>
                    <label>Favorite:</label>
                </div>
                <div>
                    <span *ngIf="!data.chosenSub.isFavorite" class="tagg-apple-dark no-click-apple" style="margin-top:10px;"></span>
                    <span *ngIf="data.chosenSub.isFavorite" class="tagg-apple-favorite no-click-apple" style="margin-top:10px;"></span>
                </div>
                <div>
                </div>
            </div>
            <div class="search-field">
                <label style="margin:0;">Rating:</label>
                <ng-template #t let-fill="fill">
                    <span class="star-details" [class.filled]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>

                <ngb-rating [(rate)]="data.chosenSub.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                <span>({{data.chosenSub.ratingCount}})</span>
            </div>
            <div *ngIf="data.chosenSub.resumeFile">
                <button class="account-link-button tagg-green" (click)="onDownloadResume()">Download Resume</button>
            </div>

        </div>

        <div>
            <div class="pad-me">

                <div class="search-field">
                    <label>Bio:</label>
                    <br>{{data.chosenSub.bio}}
                </div>
                <div class="search-field">
                    <label>Interests:</label>
                    <br>{{data.chosenSub.interests}}
                </div>

                <div *ngIf="data.chosenSub.subbedAtSchool" class="search-field">
                    <label>Subbed at your school:</label>
                    <br>Yes
                </div>
                <div *ngIf="!data.chosenSub.subbedAtSchool" class="search-field">
                    <label>Subbed at your school:</label>
                    <br>No
                </div>

                <div class="search-field">
                    <label>Education Level:</label>
                    <br>{{educationLevel}}
                </div>

                <div *ngIf="data.chosenSub.hasTeacherLicense" class="search-field">
                    <label>Teaching License:</label>
                    <br>Yes
                </div>

                <div *ngIf="!data.chosenSub.hasTeacherLicense" class="search-field">
                    <label>Teaching License:</label>
                    <br>No
                </div>

                <div *ngIf="data.chosenSub.linkedInUrl" class="search-field">
                    <label>LinkedIn Profile:</label>
                    <br><button class="link-button" (click)="onLinkedIn()">{{data.chosenSub.linkedInUrl}}</button>
                </div>

            </div>
        </div>
    </div>


</div>