.sub-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.avatar-image{
    border-radius: 50%;
    margin:2px;
    cursor: pointer;
}

.apple-row{
    display:grid;
    grid-template-columns: 70px 40px 1fr;
    align-items: center;
}

.search-field{
    margin-bottom: 12px;
}



.star {
    font-size: 2.0rem;
    color: white;
    cursor: inherit;
  }

  .star-other{
    font-size: 2.0rem;
    color: white;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }

  .star-favorite{
    font-size: 2.0rem;
    color: #ccc;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }
  .star-selected{
    font-size: 2.0rem;
    color: #ccc;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }

  .star-details{
    font-size: 2.0rem;
    color: #ccc;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }

  .filled {
    color: #0E333E;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #0E333E;
  }