<i class="material-icons dialog-right" (click)="onNoClick()">close</i>

<div *ngIf="school" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Request a sub</h2>
        <div *ngIf="error" class="alert alert-danger">
            Oops...failed to create job. Please have patience while our developers are working on new feature :)
        </div>
        <br>
        <br>
    </div>
    <div>
        <h3 class="text-dark">{{job.startDate | date:'longDate'}}</h3>
        <br>
        <em>{{subjectDisplay}}, {{school.name}}</em>
        <br>
        <br>
    </div>
    <div style="margin-bottom:50px;">
        <div class="text-center">
            <div style="display:inline-block;">
                <label>Start Time</label>
                <ngb-timepicker [(ngModel)]="startTime" [meridian]="true" [spinners]="false"></ngb-timepicker>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <div style="display:inline-block;">
                <label>End Time</label>
                <ngb-timepicker [(ngModel)]="endTime" [meridian]="true" [spinners]="false"></ngb-timepicker>
            </div>
            <div *ngIf="timeError">
                <mat-error>Start time must be before end time.</mat-error>
            </div>
            
        </div>
    </div>
    <div class="text-center">
        <button (click)="onJobCreate(0)" class="btn btn-red" [disabled]="timeError">I DON'T NEED A SUB</button>
        <button (click)="onJobCreate(1)" class="btn btn-green" [disabled]="timeError">I NEED A SUB</button>
    </div>
</div>