<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div *ngIf="dashModel" class="home-grid">
        <div class="category-container">
            <h2 class="tagg-white">Subs</h2>
            <div class="home-panel" (click)="onSubsActive()">Active Subs</div>
            <div class="home-panel" (click)="onSubsDisabled()">Disabled Subs</div>
            <div class="create-panel" (click)="onSubCreate()">Create a Sub +</div>
        </div>

        <div class="category-container">
            <h2 class="tagg-white">Jobs</h2>
            <div class="home-panel" (click)="onJobsAll()">All Jobs</div>
            <div class="home-panel" (click)="onJobsUpcoming()">This Week</div>
            <div class="create-panel" (click)="onJobCreate()">Create a Job +</div>
        </div>

        <div class="category-container">
            <h2 class="tagg-white">Schools &amp; Districts</h2>
            <div class="home-panel" (click)="onSchoolsAll()">All Schools</div>
            <div class="home-panel" (click)="onDistrictsAll()">All Districts</div>
            <div class="create-panel" (click)="onDistrictCreate()">Create a District +</div>
            <div class="create-panel" (click)="onSchoolCreate()">Create a School +</div>
            <div class="create-panel" (click)="onTeacherCreate()">Create a Teacher +</div>
        </div>

        <div class="category-container">
            <h2 class="tagg-white">User Management</h2>
            <div class="home-panel" (click)="onUsersAll()">All Users</div>
            <div class="home-panel" (click)="onUsersIncomplete()">Incomplete Profiles</div>
            <div class="create-panel" (click)="onUserCreate()">Create a User +</div>
        </div>

        <div class="category-container">
            <h2 class="tagg-white">Notifications</h2>
            <div class="chip-panel" (click)="onApplications()">
                <div>Applications</div>
                <div *ngIf="dashModel.applicationCount">
                    <mat-chip-list>
                        <mat-chip color="accent" selected>+{{dashModel.applicationCount}}</mat-chip>
                    </mat-chip-list>
                </div>
            </div>

            <div class="chip-panel" (click)="onInquiries()">
                <div>School Inquiries</div>
                <div *ngIf="dashModel.inquiryCount">
                    <mat-chip-list>
                        <mat-chip color="accent" selected>+{{dashModel.inquiryCount}}</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
    </div>
</div>