.home-grid{
    padding:45px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}

.home-panel{
    background-color:#ebebeb;
    border-radius: 8px;
    padding-left: 20px;
    color: #0E333E;
    font-weight: 800;
    cursor: pointer;
    display:grid;
    align-items: center;
}

.create-panel{
    background-color:#5FCA6C;
    border-radius: 8px;
    padding-left: 20px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    display: grid;
    align-items: center;
}

.chip-panel{
    background-color:#ebebeb;
    border-radius: 8px;
    padding-left: 20px;
    color: #0E333E;
    font-weight: 800;
    cursor: pointer;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
}

.category-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px;
    grid-auto-rows: 50px;
    grid-row-gap: 10px;
}