<div class="side-nav">
    <!-- DISTRICT ADMIN -->
    <div>
        <ul>
            <li routerLinkActive="active" [routerLink]="['/home']">
                <span>
                    Dashboard
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/schools']">
                <span>
                    Schools
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/users']">
                <span>
                    Users
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/jobs']">
                <span>
                    Jobs
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/transactions']">
                <span>
                    Transactions
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/messages']">
                <span [class.notification]="hasNewMessage">Messages</span>
            </li>
        </ul>
    </div>
</div>