<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div class="list-grid">
        <div>
            <h2 class="tagg-white">Transactions</h2>
        </div>
        <div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <div *ngIf="!selectedTransaction" class="dash-panel"></div>

        <div *ngIf="selectedTransaction" class="search-panel">

            <div class="dash-panel">
                <div class="panel-head">
                    <h3 class="green-underline">#{{selectedTransaction.jobNumber | slice: 18 | uppercase}}</h3>
                </div>
                <div class="search-field">
                    <label>Job Date</label>
                    <br> {{selectedTransaction.jobDate | date:'shortDate'}}
                    <br>
                </div>
                <div class="search-field">
                    <label>Transaction Date</label>
                    <br> {{selectedTransaction.processOn | date:'shortDate'}}
                    <br>
                </div>
                <div class="search-field">
                    <label>Total</label>
                    <br>{{selectedTransaction.totalAmountUsd | currency:'USD'}}
                    <br>
                </div>
                <div class="search-field">
                    <label>Charge</label>
                    <br>{{selectedTransaction.payRateUsd | currency:'USD'}}
                    <br>
                </div>
                <div class="search-field">
                    <label>Teacher</label>
                    <br>{{selectedTransaction.teacherName}}
                    <br>
                </div>
                <div class="search-field">
                    <label>Sub</label>
                    <br>{{selectedTransaction.subName}}
                    <br>
                </div>
                <div class="search-field">
                    <label>Status</label>
                    <br>{{transactionStatus[selectedTransaction.status]}}
                    <br>
                </div>
                <div style="margin-top:10px;">
                    <button class="link-button" (click)="cancelTransaction(selectedTransaction.id)">Cancel</button> &nbsp; &nbsp; &nbsp; &nbsp;
                </div>
            </div>
        </div>

        <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div> -->

        <div>
            <mat-table [dataSource]="dataSource" matSort matSortActive="jobDate" matSortDirection="desc" class="mat-eleveation-z8">
                <ng-container matColumnDef="jobDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Job Date</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.jobDate | date:'shortDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="processOn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Process Date</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.processOn | date:'shortDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="payRateUsd">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Pay</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.payRateUsd | currency:'USD'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="totalAmountUsd">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.totalAmountUsd | currency: 'USD'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="teacherName">
                    <mat-header-cell *matHeaderCellDef>Teacher</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.teacherName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="subName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sub</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.subName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{transactionStatus[row.status]}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="link-button" (click)="onSelect(row.id)">View</span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;"></mat-row>
            </mat-table>

            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 20, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </div>