<i class="material-icons dialog-right" (click)="onNoClick()">close</i>
<div class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Set Availability</h2>
        <br>
        <h3 class="text-dark">{{data.date | date:'longDate'}}</h3>
    </div>
    <div *ngIf="error" class="alert alert-danger">
        Oops...we ran into a problem. If you continue to experience this error, please contact us as support@taggeducation.com.
    </div>
    <div class="dialog-actions">
        <button (click)="onToggleAvailability()" class="btn btn-blue">Change Availability</button>
    </div>
</div>