<div class="dialog-actions" (click)="onNoClick()">
    <i class="material-icons">close</i>
</div>

<div class="custom-modal">
    <div class="text-center">
        <h2 class="text-dark">Oops...Job is Closed</h2>
        <br>
        <br>
        <div>
            Looks like this job was recently closed or cancelled.
        </div>
    </div>
</div>