.calendar-grid{
    padding: 45px 5%;
    /* height: fit-content; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 23px auto;
    /* grid-template-rows: 4em 2em auto;
    grid-auto-rows: auto;
    grid-auto-flow: row; */
}

.calendar-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px;
}

.calendar-actions{
    align-self: center;
    align-items: center;
    justify-self: end;
    justify-items: center;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 1fr;
}

.month-nav-button{
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0 -10px;
    display: inline-block;
    color: white;
}

.day-label-row{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.day-label {
    text-align: right;
    padding: 0 5px 0 5px;
    color: white;
    font-weight: 600;
    z-index: 20;
}

.day-grid{
    background-color: #ccc;
    border-radius: 10px;
    display: grid;
}

.calendar-day{
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    cursor: pointer;
    overflow-y: hidden;
}
.tleft{
    border-top-left-radius: 10px;
}
.tright{
    border-top-right-radius: 10px;
}
.bleft{
    border-bottom-left-radius: 10px;
}
.bright{
    border-bottom-right-radius: 10px;
}
.placeholder{
    color: #ebebeb;
}

.calendar-event{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 10px;
    grid-template-rows: 20px;
    grid-auto-rows: 20px;
    padding: 10px;
}

.day-index-label{
    justify-self: end;
}
.event-title{
    font-weight: 600;
    display: inline-block;
}
.event-data{
    grid-column: 1 / span 2;
}

.unavailable{
    background-color: #EB5566;
    color: white;
}

.calendar-key {
    color: #fff;
    text-align: right;
    padding: 20px 0 0 0;
}

.calendar-key span {
    font-size: 1.3em;
    padding: 1em 0 0 0;
}


.calendar-key span::before {
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 8px 0 50px;
    position: relative;
    top: -1px;
    width: 13px;
}

.calendar-key .key-offered::before {
    background-color: #efe434;
}

.calendar-key .key-accepted::before {
    background-color: #5fca6c;
}

.calendar-key .key-unavailable::before {
    background-color: #eb5566;
}
.calendar-key .key-recent::before {
    background-color: #636363;
}

.accepted {
    border-bottom: 2px solid #5fca6c;
    grid-column: 1 / span 1;
}

.accepted::before {
    background-color: #5fca6c;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    width: 13px;
}

.offered {
    border-bottom: 2px solid #efe434;
    grid-column: 1 / span 1;
    font-weight: 800;
}

.offered::before {
    background-color: #efe434;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    width: 13px;
}

.recent {
    border-bottom: 2px solid #636363;
    grid-column: 1 / span 1;
    font-weight: 800;
}

.recent::before {
    background-color: #636363;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    width: 13px;
}

@media screen and (min-width:851px){
    .day-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 160px;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
    }
}

@media screen and (max-width:850px){
    
    .day-label-row{
        display: none;
    }
    .day-grid{
        grid-template-columns: 1fr;
        grid-auto-rows: 160px;
        grid-row-gap: 1px;
    }
    .day-label-row{
        display: none;
    }
    .day-label{
        display:none;
    }
    
    .calendar-key{
        text-align: center;
    }
}



















/* .calendar-month button{
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0 -10px;
}
.month-key{
    display: inline-block;
    width: 150px;
    text-align: center;
}

.heading {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 20px 0;
}

.heading h1 {
    align-self: end;
    margin: 0;
}

.calendar-month {
    align-self: end;
    font-size: 24px;
    justify-self: end;
    margin: 0;
}

.fake-day-borders {
    background-color: #ebebeb;
    border-radius: 9px;
    padding: 2px 5px 5px;
}

.calendar-wrapper {
    background-color: #ccc;
    background: linear-gradient(to bottom, #ebebeb 1%,#ccc 2%);
    display: grid;
    font-size: 16px;
    grid-gap: 1px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0px;
    grid-auto-rows: minmax(160px, auto);
}

.day-label {
    align-self: end;
    color: #eb5566;
    font-weight: 600;
    margin: 0 0 -2.6em 0.5em;
    z-index: 20;
}

.date-label {
    text-align: right;
}

.unavailable {
    background-color: #eb5566;
    bottom: 0;
    color: #fff;
    display: block;
    height: 100%;
    left: 0;
    padding: 1.1em 0.7em 2em;
    position: absolute;
    right: 0;
    top: 0;
}

.unavailable>div {
    margin: -2em 0 0 0;
}

.calendar-day {
    background-color: #ebebeb;
    padding: 1.2em 0.7em;
    position: relative;
    justify-items: stretch;
    box-sizing: border-box;
    grid-row: auto / span 1;
    flex-basis: 100px;

}

.unread-offer {
    font-weight: 800;
}

.accepted-job {
    border-bottom: 2px solid #5fca6c;
    padding: 0 0 0.5em 0;
}

.accepted-job::before {
    background-color: #5fca6c;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 0.3em 0 0;
    position: relative;
    top: -1px;
    width: 13px;
}

.offered-job {
    border-bottom: 2px solid #efe434;
    padding: 0 0 0.5em 0;
}

.offered-job::before {
    background-color: #efe434;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 0.3em 0 0;
    position: relative;
    top: -1px;
    width: 13px;
}

.calendar-key {
    color: #fff;
    text-align: right;
    padding: 20px 0 0 0;
}

.calendar-key span {
    font-size: 1.3em;
    padding: 1em 0 0 0;
}


.calendar-key span::before {
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 8px 0 50px;
    position: relative;
    top: -1px;
    width: 13px;
}

.calendar-key .key-offered::before {
    background-color: #efe434;
}

.calendar-key .key-accepted::before {
    background-color: #5fca6c;
}

.calendar-key .key-unavailable::before {
    background-color: #eb5566;
}


@media screen and (max-width:768px){
    .heading{
        display:block;
        text-align:center;
    }
    .calendar-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 160px;
    }
    .day-label-row{
        display: none;
    }
    .day-label{
        display:none;
    }
    .date-label-lg{
        display:none;
    }
    #date-0{
        display: none;
    }
    .calendar-key{
        text-align: center;
    }
    .calendar-event{
        bottom: 0;
        display: block;
        height: 60%;
        left: 0;
        padding: 1.1em 0.7em 2em;
        position: absolute;
        right: 0;
    }
}

@media screen and (min-width:767px) and (max-width:992px){
    .day-label-sm{
        display:none;
    }
}

@media screen and (min-width:993px) and (max-width:1199px){
    .day-label-sm{
        display:none;
    }
}

@media screen and (min-width:1200px){
    .day-label-sm{
        display:none;
    }
} */