<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div *ngIf="!calendar"></div>
    <div *ngIf="calendar" class="calendar-grid">
        <div class="calendar-title">
            <div>
                <h1 class="tagg-white" style="display:inline-block;">Calendar</h1>
                <i class="material-icons md-light md-abs" matTooltip="You can accept and decline job offers and manage upcoming jobs here.">help_outline</i>
            </div>

            <div class="calendar-actions">
                <div>
                    <button class="month-nav-button" (click)="onPrevMonth()">
                        <</button>
                </div>

                <div class="month-key">
                    <h3 class="tagg-white">{{monthLabel}}</h3>
                </div>
                <div>
                    <button class="month-nav-button" (click)="onNextMonth()">></button>
                </div>
            </div>
        </div>

        <div class="day-label-row">
            <div class="day-label">M</div>
            <div class="day-label">T</div>
            <div class="day-label">W</div>
            <div class="day-label">Th</div>
            <div class="day-label">F</div>
        </div>

        <div class="day-grid">
            <div *ngFor="let date of calendar; let i = index; let isFirst = first" class="calendar-day" [class.tleft]="isFirst" [class.tright]="i == 4"
                [class.bleft]="(calendar.length < 21 && i == 15) || (calendar.length > 20 && i == 20)" [class.bright]="(calendar.length < 21 && i == 19) || (calendar.length > 20 && i == 24)"
                [class.placeholder]="date.year == 0" (click)="onDateSelect(date.date)">

                <div *ngIf="!date.events?.length">
                    <div class="calendar-event">
                        <div></div>
                        <div class="day-index-label">
                            {{date.dayOfMonthIndex}}
                        </div>
                    </div>
                </div>

                <!-- MULIPLE OFFERS SAME DAY -->
                <div *ngIf="date.events?.length > 1">
                    <div *ngFor="let event of date.events; let i = index">
                        <div *ngIf="event.job" class="calendar-event" (click)="displayJob(event.job.id)">
                            <div *ngIf="i == 0" class="day-index-label">
                                {{date.dayOfMonthIndex}}
                            </div>
                            <div [class.accepted]="event.job.status===1" [class.offered]="event.job.status===0" [class.recent]="event.job.status===3">
                                {{subjects[event.job.subject]}}: {{event.job.payAmount | currency: 'USD':true:'2.0'}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- UNAVAILABLE -->
                <div *ngIf="date.events?.length == 1 && !date.events[0].job" class="calendar-event unavailable">
                    <div class="event-title">Unavailable</div>
                    <div class="day-index-label">
                        {{date.dayOfMonthIndex}}
                    </div>
                </div>

                <!-- SINGLE JOB/EVENT -->
                <div *ngIf="date.events?.length == 1 && date.events[0].job" class="calendar-event">
                    <div class="event-title"></div>
                    <div class="day-index-label">
                        {{date.dayOfMonthIndex}}
                    </div>
                    <div [class.accepted]="date.events[0].job.status===1" [class.offered]="date.events[0].job.status===0" [class.recent]="date.events[0].job.status===3">
                        {{subjects[date.events[0].job.subject]}}: {{date.events[0].job.payAmount | currency: 'USD':true:'2.0'}}
                    </div>
                </div>


            </div>
        </div>
        <div class="calendar-key">
            <span class="key-recent" matTooltip="A gray block on your calendar indicates a job that has been completed.">
                Recent Job
            </span>
            <span class="key-offered" matTooltip="A yellow block on your calendar indicates a job offer that has not been accepted and is still available. If you would like to accept an “offered job” or get more information about it, click on the offered job to view the details.">
                Offered Job
            </span>
            <span class="key-accepted" matTooltip="A green block on your calendar indicates a job that you have already accepted. To see more information about this job, click on the offered job to view the details.">
                Accepted Job
            </span>
            <span class="key-unavailable" matTooltip="Thinking about going on vacation? Click the pink dot on days you want to mark as unavailable. You will not receive any job requests for these days.">
                Mark as Unavailable</span>
            <div></div>
        </div>

    </div>
    <app-side-details></app-side-details>
</div>










<!-- <div class="content-grid">
    <app-side-nav></app-side-nav>

    <div *ngIf="!calendar"></div>
    <div *ngIf="calendar" class="dash-grid-calendar">

        <div class="heading">
            <div>
                <h1 style="display:inline-block;">Calendar</h1>
                <i class="material-icons md-light" matTooltip="You can accept and decline job offers and manage upcoming jobs here.">help_outline</i>
            </div>

            <div class="calendar-month">
                <button class="month-nav-button" (click)="onPrevMonth()">
                    <</button>
                        <div class="month-key">
                            <h3 class="tagg-white">{{monthLabel}}</h3>
                        </div>
                        <button class="month-nav-button" (click)="onNextMonth()">></button>

            </div>
        </div>

        <div *ngIf="calendar" class="calendar-main">

        </div>

        <div *ngIf="calendar" class="fake-day-borders">
            <div class="calendar-wrapper">
                <span class="day-label">M</span>
                <span class="day-label">T</span>
                <span class="day-label">W</span>
                <span class="day-label">Th</span>
                <span class="day-label">F</span>

                <div *ngFor="let date of calendar" class="calendar-day" attr.id="date-{{date.dayOfMonthIndex}}" (click)="onDateSelect(date.date)">
                    <span *ngIf="date.dayOfWeekIndex==1" class="day-label-sm">M</span>
                    <span *ngIf="date.dayOfWeekIndex==2" class="day-label-sm">T</span>
                    <span *ngIf="date.dayOfWeekIndex==3" class="day-label-sm">W</span>
                    <span *ngIf="date.dayOfWeekIndex==4" class="day-label-sm">Th</span>
                    <span *ngIf="date.dayOfWeekIndex==5" class="day-label-sm">F</span>
                    <div *ngIf="date.dayOfMonthIndex != 0" class="date-label">
                        {{date.dayOfMonthIndex}}
                    </div>

                    <div *ngFor="let event of date.events">
                        <div *ngIf="event.job;else unavailable">
                            <div *ngIf="event.job.status==1" class="accepted-job">{{subjects[event.job.subject]}}: {{event.job.payAmount | currency: 'USD':true:'2.0'}}</div>
                            <div *ngIf="event.job.status==0" class="offered-job unread-offer">{{subjects[event.job.subject]}}: {{event.job.payAmount | currency: 'USD':true:'2.0'}}</div>
                        </div>
                        <ng-template #unavailable>
                            <div class="unavailable">
                                <p class="date-label">{{date.dayOfMonthIndex}}</p>
                                <div>Unavailable</div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="calendar-key">
            <span class="key-offered" 
                matTooltip="A yellow block on your calendar indicates a job offer that has not been accepted and is still available. If you would like to accept an “offered job” or get more information about it, click on the offered job to view the details.">
                Offered Job
            </span>
            <span class="key-accepted" 
                matTooltip="A green block on your calendar indicates a job that you have already accepted. To see more information about this job, click on the offered job to view the details.">
                Accepted Job
            </span>
            <span class="key-unavailable"
                matTooltip="Thinking about going on vacation? Click the pink dot on days you want to mark as unavailable. You will not receive any job requests for these days.">
                Mark as Unavailable</span>
            <div></div>
        </div>

    </div>
    <app-side-details></app-side-details>
</div> -->