<div class="content-grid-nomenu rating-background">



  <div *ngIf="job" class="rating-grid">
    <div class="rg-placeholder">
    </div>

    <div class="rating-panel">
      <div>
        <div class="panel-head">
          <h1>Rate Your School</h1>
          <hr class="blue-bar">
        </div>
        <div class="job-details">
          <div class="head">
            <h3>{{job.startDate | date:'longDate'}}</h3>
            <div class="summary">{{subjects[job.subject]}}, {{job.schoolName}}</div>
          </div>
          <div class="grid">
            <div>Sub:</div>
            <div>{{job.substituteName}}</div>
            <div>Teacher:</div>
            <div>{{job.teacherName}}</div>
          </div>
        </div>

        <!-- QUESTION 1 -->
        <div class="questions">
          <div class="question-container">
            <div class="text">Was the classroom organized when you arrived?</div>
          </div>
          <div class="star-container">
            <div class="helper-start">Not At All</div>
            <div>
              <ngb-rating [(rate)]="ratingOne" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="helper-end">Absolutely</div>
          </div>
        </div>
        <!-- QUESTION 2 -->
        <div class="questions">
          <div class="question-container">
            <div class="text">Were the teacher's lesson plans and instructions readily available and clear?</div>
          </div>
          <div class="star-container">
            <div class="helper-start">Not At All</div>
            <div>
              <ngb-rating [(rate)]="ratingTwo" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="helper-end">Absolutely</div>
          </div>
        </div>
        <!-- QUESTION 3 -->
        <div class="questions">
          <div class="question-container">
            <div class="text">Did you enjoy your interactions with the teacher and the school's other faculty and staff?</div>
          </div>
          <div class="star-container">
            <div class="helper-start">Not At All</div>
            <div>
              <ngb-rating [(rate)]="ratingThree" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="helper-end">Absolutely</div>
          </div>
        </div>
        <!-- QUESTION 4 -->
        <div class="questions">
          <div class="question-container">
            <div class="text">Do you have any other feedback you'd like to provide?</div>
          </div>
          <textarea class="form-control" rows="7" [value]="subComments"></textarea>
        </div>
      </div>

      <div class="panel-actions">
        <button class="btn btn-green btn-wd" (click)="onSubmitRating()">SUBMIT</button>
      </div>

    </div>

    <div class="rg-placeholder"></div>
  </div>
</div>