.rating-grid{
    padding: 45px 5%;
    display: grid;
}

.rating-background{
    background: url('../../assets/login-bg.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

.rating-panel{
    background-color:#ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 20px 40px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 75px;
}

.rating-panel h1{
    font-size: 42px;
    font-weight: 700;
    color: #0E333E;
}

.blue-bar{
    display: block;
    height: 3px;
    border: 0;
    border-top: 16px solid #0E333E;
    margin: 1em 0;
    padding:0;
}

.summary{
    color: #0E333E;
    font-weight: 800;
    font-style: italic;
}

.job-details{
    margin-bottom: 20px;
}

.job-details .head{
    margin-bottom: 6px;
}

.job-details .grid{
    display:grid;
    grid-template-columns: 75px 1fr;
    font-size: 15px;
    color: #0E333E;
    font-weight: 100;
}
.question-container .text{
    color: #0E333E;
    font-size: 16px;
    font-weight: 800;
}

.star-container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 8px;
    margin-bottom: 8px;
}

.helper-start{
    justify-self: end;
    align-self: center;
    font-size: 12px;
    color: gray;
}

.helper-end{
    align-self: center;
    font-size: 12px;
    color: gray;
}

.star{
    font-size: 3.0rem;
    color: #ccc;
    cursor: inherit;
  }

  .filled {
    color: #5FCA6C;
  }





@media screen and (min-width:768px){
    .rating-grid{
        grid-template-columns: 1fr 500px 1fr;
        grid-template-rows: 1fr auto;
    }
}

/* PHONES (xs) */
@media screen and (max-width: 767px){
    .rating-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .rg-placeholder{
        display: none;
    }
}