<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div class="dash-grid-3">
        <div class="grid-row">
            <h1 class="tagg-white" style="display:inline-block;">Jobs</h1>
            <i class="material-icons md-light md-abs md-18" matTooltip="You can view and manage accepted, offered, and past jobs here.">help</i>
        </div>
        <div *ngIf="jobs" class="dash-panel panel-1 scroll-me">
             <div class="panel-head">
                <h3 class="green-underline">Accepted</h3>
            </div>
            <div *ngFor="let job of jobs.accepted" class="detail-item" (click)="onViewAccepted(job.id)">
                <div class="head-accepted">
                    {{job.startDate | date:'longDate'}}
                </div>
                <div class="grid">
                    <div>Teacher:</div>
                    <div>{{job.teacherName}}</div>

                    <div>Grade:</div>
                    <div>{{subjectDisplay[job.subject]}}</div>

                    <div>School:</div>
                    <div>{{job.schoolName}}</div>

                    <div>Time:</div>
                    <div class="italic">{{job.startDate | date:'shortTime'}} - {{job.endDate | date:'shortTime'}}</div>

                    <div>Pay Rate:</div>
                    <div class="bold">{{job.payAmount | currency: 'USD'}}</div>
                </div>
            </div>
        </div>

        <div *ngIf="jobs" class="dash-panel panel-1 scroll-me">
            <div class="panel-head">
                <h3 class="yellow-underline">Offered</h3>
            </div>
            <div *ngFor="let job of jobs.offered" class="detail-item" (click)="onViewOffered(job.id)">
                <div class="head-offered">
                    {{job.startDate | date:'longDate'}}
                </div>
                <div class="grid">
                    <div>Teacher:</div>
                    <div>{{job.teacherName}}</div>

                    <div>Grade:</div>
                    <div>{{subjectDisplay[job.subject]}}</div>

                    <div>School:</div>
                    <div>{{job.schoolName}}</div>

                    <div>Time:</div>
                    <div class="italic">{{job.startDate | date:'shortTime'}} - {{job.endDate | date:'shortTime'}}</div>

                    <div>Pay Rate:</div>
                    <div class="bold">{{job.payAmount | currency: 'USD'}}</div>
                </div>
            </div>
        </div>

        <div *ngIf="jobs" class="dash-panel panel-1 scroll-me">
            <div class="panel-head">
                <h3 class="blue-underline">Recent</h3>
            </div>
            <div *ngFor="let job of jobs.recent" class="detail-item" (click)="onViewRecent(job.id)">
                <div class="head-recent">
                    {{job.startDate | date:'longDate'}}
                </div>
                <div class="grid">
                    <div>Teacher:</div>
                    <div>{{job.teacherName}}</div>

                    <div>Grade:</div>
                    <div>{{subjectDisplay[job.subject]}}</div>

                    <div>School:</div>
                    <div>{{job.schoolName}}</div>

                    <div>Time:</div>
                    <div class="italic">{{job.startDate | date:'shortTime'}} - {{job.endDate | date:'shortTime'}}</div>

                    <div>Pay Rate:</div>
                    <div class="bold">{{job.payAmount | currency: 'USD'}}</div>
                </div>
            </div>
        </div>

        <!-- <div class="controls">
            <i class="material-icons">keyboard_arrow_left</i>
            <i class="material-icons">keyboard_arrow_right</i>
        </div>
        <div class="controls">
            <i class="material-icons">keyboard_arrow_left</i>
            <i class="material-icons">keyboard_arrow_right</i>
        </div>
        <div class="controls">
            <i class="material-icons">keyboard_arrow_left</i>
            <i class="material-icons">keyboard_arrow_right</i>
        </div> -->
    </div>
    <app-side-details></app-side-details>
</div>