.grid-title{
    grid-column: 1 / span 1;
}

.actions-top{
    grid-column: auto / span 1;
    text-align: right;
    margin-right: 10px;
}


.message-grid{
    padding:45px 2%;
    display:grid;
    grid-column-gap: 3%;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3em 80vh;
}
.chat-display-panel{
    overflow-y: auto;
}

.chat-big-panel{
    background-color:#ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 20px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

.chat-small-panel{
    background-color:#ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 5px 15px 20px 15px;
    overflow-y: auto;
}

.chat-meta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
}

.chat-subject{
    grid-column: auto / span 2;
}
.chat-updates{
    grid-column: auto / span 2;
    justify-self: end;
    text-align: right;
}
.chat-details{
    grid-column: auto / span 3;
    display: grid;
    grid-column-gap:15px;
    grid-row-gap:3px;
    grid-template-columns: 80px 1fr;
    font-size: 15px;
}

.chat-buttons{
    margin-top: 25px;
    grid-column: 2 / span 2;
}
.chat-job-link{
    align-self: end;
    justify-self: end;
}


.chat-input{
    align-self: end;
    align-items: end;
    display: grid;
    grid-template-columns: 1fr 100px;
}
.chat-box{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    height: 50px;
    resize: none;
}

.message-grid .grid-row{
    grid-column: 1 / span 2;
}

.message-container{
    display:block;
    margin: 0 10px 15px 10px;
    word-wrap: break-word;
}

.message-sent{
    text-align: right;
    display: block;
    margin-right: 5px;
}
.message-received{
    display: block;
}
.message-center{
    text-align: center;
}

.message-info{
    font-size: 12px;
    color: gray;
}
.message-body{
    color: #0E333E
}

span:hover{
    cursor: pointer;
}
h1 {
	font-size: 48px;
	font-weight: 800;
}

h3 {
	border-bottom: 5px solid #5fca6c;
	font-weight: 800;
	padding-bottom: 7px;
	margin-bottom: 15px;
}

.list-message {
    border-bottom: 1px solid #ccc;
    margin: 0 -15px;
    padding: 10px 15px 8px 15px;
}

.list-message:hover {
    background-color: rgba(0,0,0,.04);
    cursor: pointer;
}

.channel-selected{
    background-color: rgba(0,0,0,.06);
    cursor: pointer;
}

.list-message .date{
    color: #595959;
    font-size: 14px;
    font-weight: 600;
}

.another-date{
    color: #999999;
    font-size: 13px;
    font-weight: 500;
}

.message-from{
    color: #595959;
    font-weight: 600;
    font-size: 16px;
}

 .list-message.new-message .date::before {
    background-color: #eb5566;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 10px;
    margin: 0 5px 0 -8px;
    position: relative;
    top: 0px;
    width: 10px;
} 

.list-message .subject {
    font-size: 18px;
    font-weight: 800;
    padding: 10px 0;
}

.mat-raised-button {
    line-height: 50px;
}
