<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div class="message-grid">
        <div class="grid-row">
            <h1 class="tagg-white" style="display: inline-block;">Messages</h1>
            <i class="material-icons md-light md-abs md-18" matTooltip="Once you have accepted a job, you will be able to message a teacher if you have any questions.">help</i>
        </div>

        <div *ngIf="!showChannels" class="chat-small-panel">
            <mat-spinner *ngIf="showSpinner"></mat-spinner>
            <div *ngIf="!showSpinner">Once you've accepted your first job, you will be able to message your a teacher here.</div>
        </div>


        <div *ngIf="showChannels" class="chat-small-panel">
            <div *ngFor="let channel of channels; let i = index" class="list-message" 
                [class.new-message]="channel.sid != activeChannel.sid && channel.lastConsumedMessageIndex != channel.lastMessage.index" 
                [class.channel-selected]="channel.sid === activeChannel.sid"
                [id]="channel.sid" 
                (click)="onGetChannel(channel.uniqueName)">

                <!-- NOTE - WHEN CREATING CHANNEL FROM THE SERVER, ADD AN INITIAL MESSAGE TO MAKE SURE THERE IS A LAST MESSAGE -->
                <span class="date">{{channel.lastMessage.timestamp | date:'mediumDate'}} | {{channel.lastMessage.timestamp | date:'shortTime'}}</span>
                <br>
                <h4 class="text-dark">
                    <span class="subject">{{channel.friendlyName}}</span>
                </h4>
                <br>
                <div *ngIf="channel.attributes.isJob === '1'" class="message-from">{{channel.attributes.schoolUser}}</div>
                <div *ngIf="channel.attributes.isJob === '0'" class="message-from">Tagg Admin</div>
            </div>
        </div>

        <div *ngIf="activeChannel" class="chat-big-panel">
            <div class="chat-meta">
                <div class="chat-subject">
                    <h3 class="green-underline">{{activeChannel.attributes.dateTitle}}</h3>
                </div>

                <div class="chat-updates">
                    <span class="another-date">{{activeChannel.lastMessage.timestamp | date:'mediumDate'}} | {{activeChannel.lastMessage.timestamp | date:'shortTime'}}</span>
                    <br>
                    <button *ngIf="this.job?.lessonPlanId && activeChannel.members.size > 1 && activeChannel.attributes.isJob === '1'" class='link-button' (click)="onDownloadLessonPlan()">View Lesson Plan</button>
                </div>

                <!-- DETAILS FOR ADMIN MESSAGE CHANNEL -->
                <div *ngIf="activeChannel.attributes.isJob === '0'" class="chat-details">
                    <div>From:</div>
                    <div>Tagg Admin</div>

                    <div>To:</div>
                    <div>{{activeChannel.attributes.to}}</div>

                    <div>Subject:</div>
                    <div>{{activeChannel.friendlyName}}</div>
                </div>


                <!-- DETAILS FOR JOB OFFER -->
                <div *ngIf="!showConflict && activeChannel.members.size== 1 && activeChannel.attributes.isJob === '1'" class="chat-details">
                    <div>School:</div>
                    <div>{{activeChannel.state.attributes.schoolName}}</div>

                    <div>Teacher:</div>
                    <div>{{activeChannel.attributes.schoolUser}}</div>

                    <div>Grade:</div>
                    <div>{{activeChannel.attributes.grade}}</div>

                    <div>Time:</div>
                    <div class="italic">{{activeChannel.attributes.start | date:'shortTime'}} - {{activeChannel.attributes.end | date:'shortTime'}}</div>

                    <div>Pay Rate:</div>
                    <div class="bold">{{activeChannel.attributes.pay}}</div>
                </div>
                <div *ngIf="!showConflict && activeChannel.members.size == 1 && activeChannel.attributes.isJob === '1'" class="chat-buttons">
                    <button *ngIf="!jobWasDeclined && !debounce" class="btn btn-red" (click)="onDeclineJob()">DECLINE</button>
                    <button *ngIf="!jobWasDeclined && !debounce" class="btn btn-green" (click)="onAcceptJob()">ACCEPT</button>
                    <strong *ngIf="jobWasDeclined">You declined this job.</strong>
                </div>

                <!-- CONFLICT -->
                <div *ngIf="showConflict" class="chat-details">
                    <div>Job Status:</div>
                    <div>Sorry, this job was closed or cancelled recently and is no longer available.</div>
                </div>


                <!-- DETAILS FOR CHAT AFTER OFFER ACCEPTED -->
                <div *ngIf="activeChannel.members.size > 1 && activeChannel.attributes.isJob === '1'" class="chat-details">
                    <div>Teacher:</div>
                    <div>{{activeChannel.attributes.schoolUser}}</div>

                    <div>Sub:</div>
                    <div>{{activeChannel.attributes.subUser}}</div>

                    <div>Job:</div>
                    <div>
                        {{activeChannel.attributes.schoolName}}
                        <br> {{activeChannel.attributes.grade}}
                    </div>
                </div>
                <div *ngIf="!showConflict && activeChannel.attributes.isJob === '1'" class="chat-job-link">
                    <button class='link-button' (click)="onViewJob()">View Job Details</button>
                </div>
            </div>

            <div #chatPanel *ngIf="activeChannel && activeChannel.members.size > 1" class="chat-display-panel" (scroll)="setManualScroll()">
                <div *ngIf="!messagesLoaded" class="message-center">
                    <mat-spinner></mat-spinner>
                </div>

                <div #messageContainer *ngFor="let message of channelMessages; let i = index" class="message-container">
                    <div *ngIf="message.state.author === 'system'" class="message-center">
                        <div class="message-info">{{message.state.timestamp | date:'fullDate'}}</div>
                        <div class="message-info">{{message.state.body}}</div>
                    </div>
                    <div *ngIf="channelMessages[i-1] && (channelMessages[i-1].state.timestamp | date: 'dd') != (message.timestamp | date:'dd')"
                        class="message-center">
                        <div class="message-info">{{message.state.timestamp | date:'fullDate'}}</div>
                    </div>
                    <div *ngIf="message.state.author !== 'system'"
                        [class.message-sent]="message.state.author === currentUserId"
                        [class.message-received]="message.state.author !== currentUserId"
                        [class.message-center]="message.state.author === 'system'">
                        <div class="message-info">{{message.attributes.fromName}} | {{message.state.timestamp | date:'shortTime'}}</div>
                        <div class="message-body">{{message.state.body}}</div>
                    </div>
                </div>
            </div>

            <div *ngIf="activeChannel.members.size > 1" class="chat-input">
                <div>
                    <textarea wrap="hard" class="form-control chat-box" (keydown)="sendMessage($event)" [(ngModel)]="newMessageContent"></textarea>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="onSendButton()">SEND</button>
                </div>
            </div>
        </div>


        <!-- JOB DETAILS FOR OFFER -->
        <!-- <div *ngIf="isJobOffer && activeChannel" class="chat-display-panel">

            <div style="float:right;">

            </div>
            
            <div *ngIf="!job.substituteId" class="text-center" class="job-button-container">
                
            </div>
            <div *ngIf="job.substituteId === authService.user.profile.sub" class="text-center" class="job-button-container">
                <h3 class="tagg-green">You accepted this job offer!</h3>
                <br>
                <button class="btn btn-green" (click)="onMessageTeacher(job.id)">MESSAGE TEACHER</button>
            </div>
        </div> -->



    </div>

    <app-side-details></app-side-details>
</div>