.metrics-grid{
    padding:45px 5%;
    display:grid;
}

.star {
    font-size: 4.0rem;
    color: #ccc;
    cursor: inherit;
    position: relative;
    display: inline-block;
  }
  .filled {
    color: #5FCA6C;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #0E333E;
  }



@media screen and (min-width:768px){
    .metrics-grid{
        grid-column-gap: 3%;
        grid-row-gap:1em;
        grid-template-rows: 3em auto;
        grid-template-columns:repeat(6, 1fr);
    
    }
    .grid-title{
        grid-column: auto / span 4;
    }
    .actions-top{
        margin-right: 10px;
        grid-column: auto / span 2;
        align-self: end;
        justify-self: end;
    }
    
    .metrics-panel-3{
        grid-column: auto / span 3;
    }
    
    .metrics-panel-2{
        grid-column: auto / span 2;
    }
}

@media screen and (min-width:550px) and (max-width:767px){
    .metrics-grid{
        grid-column-gap: 3%;
        grid-row-gap:1em;
        grid-template-rows: 3em auto;
        grid-template-columns: 1fr 1fr;
    
    }
    .grid-title{
        grid-column: auto / span 1;
    }
    .actions-top{
        margin-right: 10px;
        grid-column: auto / span 1;
        align-self: end;
        justify-self: end;
    }
    
    .metrics-panel-3{
        grid-column: auto / span 2;
    }
    
    .metrics-panel-2{
        grid-column: auto / span 2;
    }
}

@media screen and (max-width:549px){
    .metrics-grid{
        grid-column-gap: 3%;
        grid-row-gap:1em;
        grid-template-rows: 3em auto;
        grid-template-columns: 1fr;
    
    }
    .grid-title{
        grid-column: auto / span 1;
        justify-self: center;
    }
    .actions-top{
        margin-right: 10px;
        grid-column: auto / span 1;
        align-self: start;
        justify-self: center;
    }
    
    .metrics-panel-3{
        grid-column: auto / span 1;
    }
    
    .metrics-panel-2{
        grid-column: auto / span 1;
    }
}