<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div *ngIf="!metrics" class="metrics-grid"></div>
    <div *ngIf="metrics" class="metrics-grid">
        <div class="grid-title">
            <h1 class="tagg-white" style="display: inline-block;">Metrics</h1>
            <i class="material-icons md-light md-abs md-18" matTooltip="Here are some key statistics about your performance and other fun information.">help</i>
        </div>
        <div *ngIf="metrics" class="actions-top">
            <button *ngIf="metrics.sub.paymentId" class="btn btn-green btn-wd" (click)="onPaymentLogin()">View Payment Details</button>
        </div>
        <div class="dash-panel metrics-panel-2">
            <div class="panel-head">
                <h3 class="green-underline">
                    Earning in last month
                </h3>
            </div>
            <div class="metric">
                {{metrics.earningsLastMonth | currency:'USD'}}
            </div>
        </div>

        <div class="dash-panel metrics-panel-2">
            <div class="panel-head">
                <h3 class="green-underline">
                    Average earnings per month
                </h3>
            </div>
            <div class="metric">
                {{metrics.earningsAvgPerMonth | currency:'USD'}}
            </div>
        </div>

        <div class="dash-panel metrics-panel-2">
            <div class="panel-head">
                <h3 class="green-underline">
                    Rating
                </h3>
            </div>
            <div *ngIf="metrics.daysSubbing > 2" class="metric">
                {{metrics.rating}} Stars
            </div>

            <div *ngIf="metrics.daysSubbing < 3" class="metric">
                3 Stars
            </div>

            <ng-template #t let-fill="fill">
                <span class="star" [class.filled]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
            </ng-template>

            <ngb-rating *ngIf="metrics.daysSubbing > 2" [(rate)]="metrics.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            <ngb-rating *ngIf="metrics.daysSubbing < 3" [rate]="metrics.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        </div>
        <div class="dash-panel metrics-panel-3">
            <div class="panel-head">
                <h3 class="green-underline">
                    Number of days subbing
                </h3>
            </div>
            <div class="metric">
                {{metrics.daysSubbing}}
            </div>
        </div>
        <div class="dash-panel metrics-panel-3">
            <div class="panel-head">
                <h3 class="green-underline">
                    Number of schools worked for
                </h3>
            </div>
            <div class="metric">
                {{metrics.totalSchools}}
            </div>
        </div>
        <div class="dash-panel metrics-panel-3">
            <div class="panel-head">
                <h3 class="green-underline">
                    Favorite school
                </h3>
            </div>
            <div class="metric">
                {{metrics.favoriteSchool}}
            </div>
        </div>
        <div class="dash-panel metrics-panel-3">
            <div class="panel-head">
                <h3 class="green-underline">
                    Favorite grade
                </h3>
            </div>
            <div *ngIf="metrics.daysSubbing > 0" class="metric">
                {{subjects[metrics.favoriteGrade]}}
            </div>
        </div>
    </div>

    <app-side-details></app-side-details>
</div>