<i class="material-icons dialog-right" (click)="onNoClick()">close</i>

<!-- OFFER -->
<div *ngIf="!showConflict && data.job.status == 0" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">You've been tagged!</h2>
        <br>
        <br>
    </div>
    <div>
        <h3 class="text-dark">{{data.job.startDate | date:'longDate'}}</h3>
        <br>
        <em>{{subjectDisplay[data.job.subject]}}, {{data.job.schoolName}}</em>
        <br>
        <br>
    </div>
    <div>
        <h4>Details</h4>
        <dl class="dl-horizontal">
            <dt>Teacher:</dt>
            <dd>{{data.job.teacherName}}</dd>

            <dt>Grade:</dt>
            <dd>{{subjectDisplay[data.job.subject]}}</dd>

            <dt>School:</dt>
            <dd>{{data.job.schoolName}}</dd>

            <dt>Time:</dt>
            <dd>{{data.job.startDate | date:'shortTime'}} - {{data.job.endDate | date:'shortTime'}}</dd>

            <dt>Pay Rate:</dt>
            <dd>{{data.job.payAmount | currency: 'USD'}}</dd>
        </dl>
    </div>
    <div *ngIf="!data.job.substituteId && !debounce" class="text-center">
        <button (click)="onDecline(data.job.id)" class="btn btn-red">DECLINE</button>
        <button (click)="onAccept(data.job.id)" class="btn btn-green">ACCEPT</button>
    </div>
</div>

<!-- ACCEPTED -->
<div *ngIf="!showConflict && data.job.status == 1" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">You're it!</h2>
        <br>
        <br>
    </div>
    <div>
        <h3 class="text-dark">{{data.job.startDate | date:'longDate'}}</h3>
        <br>
        <em>{{subjectDisplay[data.job.subject]}}, {{data.job.schoolName}}</em>
        <br>
        <br>
    </div>
    <div>
        <h4>Details</h4>
        <dl class="dl-horizontal">
            <dt>Teacher:</dt>
            <dd>{{data.job.teacherName}}</dd>

            <dt>Grade:</dt>
            <dd>{{subjectDisplay[data.job.subject]}}</dd>

            <dt>School:</dt>
            <dd>{{data.job.schoolName}}</dd>

            <dt>Time:</dt>
            <dd>{{data.job.startDate | date:'shortTime'}} - {{data.job.endDate | date:'shortTime'}}</dd>

            <dt>Pay Rate:</dt>
            <dd>{{data.job.payAmount | currency: 'USD'}}</dd>
        </dl>
    </div>
    <div class="text-center">
        <div *ngIf="showCancelConfirm" class="alert alert-danger">
            <strong>If you cancel too many jobs it may impact your rating and can be grounds for removal from the app. Would you still like to cancel the job?</strong>
        </div>
        <div *ngIf="showCancelError" class="alert alert-danger">
            <strong>We could not cancel this job for you. Please contact us at support@taggeducation.com if you still want to cancel
                this job.</strong>
        </div>

        <button *ngIf="!showCancelConfirm && !showCancelError" class="btn btn-red btn-wd" (click)="onCancelConfirm()">CANCEL JOB</button>
        <button *ngIf="showCancelConfirm" class="btn btn-red btn-wd" (click)="onCancel(data.job.id)">YES, CANCEL JOB</button>
        <button *ngIf="showCancelConfirm" class="btn btn-blue btn-wd" (click)="onResetCancel()">NO, KEEP JOB</button>
    </div>
</div>

<!-- CANCELLED -->
<div *ngIf="!showConflict && data.job.status == 2" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Cancelled Job</h2>
        <br>
        <br>
    </div>
    <div>
        <h3 class="text-dark">{{data.job.startDate | date:'longDate'}}</h3>
        <br>
        <em>{{subjectDisplay[data.job.subject]}}, {{data.job.schoolName}}</em>
        <br>
        <br>
    </div>
    <div>
        <h4>Details</h4>
        <dl class="dl-horizontal">
            <dt>Teacher:</dt>
            <dd>{{data.job.teacherName}}</dd>

            <dt>Grade:</dt>
            <dd>{{subjectDisplay[data.job.subject]}}</dd>

            <dt>School:</dt>
            <dd>{{data.job.schoolName}}</dd>

            <dt>Time:</dt>
            <dd>{{data.job.startDate | date:'shortTime'}} - {{data.job.endDate | date:'shortTime'}}</dd>

            <dt>Pay Rate:</dt>
            <dd>{{data.job.payAmount | currency: 'USD'}}</dd>
        </dl>
    </div>
</div>

<!-- RECENT -->
<div *ngIf="!showConflict && data.job.status == 3" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Recent Job</h2>
        <br>
        <br>
    </div>
    <div>
        <h3 class="text-dark">{{data.job.startDate | date:'longDate'}}</h3>
        <br>
        <em>{{subjectDisplay[data.job.subject]}}, {{data.job.schoolName}}</em>
        <br>
        <br>
    </div>
    <div>
        <h4>Details</h4>
        <dl class="dl-horizontal">
            <dt>Teacher:</dt>
            <dd>{{data.job.teacherName}}</dd>

            <dt>Grade:</dt>
            <dd>{{subjectDisplay[data.job.subject]}}</dd>

            <dt>School:</dt>
            <dd>{{data.job.schoolName}}</dd>

            <dt>Time:</dt>
            <dd>{{data.job.startDate | date:'shortTime'}} - {{data.job.endDate | date:'shortTime'}}</dd>

            <dt>Pay Rate:</dt>
            <dd>{{data.job.payAmount | currency: 'USD'}}</dd>
        </dl>
    </div>
</div>

<!-- CONFLICT -->
<div *ngIf="showConflict" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Job Unavailable</h2>
        <br>
        <br>
    </div>
    <div>
        <h4>Sorry, this job has been closed recently and is no longer available.</h4>
    </div>
</div>