﻿@model Tagg.Admin.Controllers.ConfirmationViewModel

<form asp-action="Confirmation">
    @Html.HiddenFor(m => m.EmailAddress)
    <button class="btn btn-info btn-rnd" type="submit">Submit</button>
</form>
