﻿<div class="dash-grid-center maintenance-background">
    <div></div>
    <div class="dash-panel">
        <div class="panel-head">
            <h1 class="green-underline-big">Tagg is Down for Maintenance</h1>
        </div>
        <p>@ViewData["message1"]</p>
        <p>@ViewData["message2"]</p>
    </div>
    <div></div>
</div>


