<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="search-grid">
    <div class="link-trail">
      <a [routerLink]="['/admin', 'schools']">Schools</a> &nbsp;&nbsp;>&nbsp;&nbsp;
      <a [routerLink]="['/schools', schoolId, 'admins']" class="link-trail-selected">Admins</a>
    </div>
    <div class="grid-title">
      <h1 class="tagg-white">School Admins</h1>
    </div>
    <div *ngIf="school" class="actions-top">
      <button class="btn btn-green btn-wd" (click)="onAddAdmin()">ADD ADMIN</button>
      <!-- <a [routerLink]="['/schools', school.id, 'add', '1']" class="btn btn-green">ADD A TEACHER</a> -->
    </div>
    <div *ngIf="selectedAdmin" class="search-panel">
      <div class="dash-panel">
        <div class="text-center">
          <img *ngIf="selectedAdmin.picture" class="avatar-image" src="{{photos + selectedAdmin.picture}}" height=100 width=100>
          <img *ngIf="!selectedAdmin.picture" class="avatar-image" src="/assets/avatarPlaceholder.png" height=100 width=100>
        </div>
        <div class="panel-head">
          <h3 class="green-underline">{{selectedAdmin.firstName}} {{selectedAdmin.lastName}}</h3>
        </div>
        <div class="search-field">
          <label>School:</label>
          <br> {{school.schoolBase.name}}
          <br>
        </div>
        <div class="search-field">
          <label>Email:</label>
          <br> {{selectedAdmin.email}}
          <br>
        </div>
        <div class="search-field">
          <label>Phone:</label>
          <br>{{selectedAdmin.phoneNumber}}
          <br>
        </div>

        <div class="search-field">
          <label>Account</label>
          <br>
          <div *ngIf="!selectedAdmin.enabled">
            <button class="link-button" (click)="onEnableAdmin(selectedAdmin.id)">Active</button> / Disabled</div>
          <div *ngIf="selectedAdmin.enabled">Active /
            <button class="link-button" (click)="onDisableAdmin(selectedAdmin.id)">Disabled</button>
          </div>
          <br>
        </div>

      </div>
    </div>
    <div *ngIf="!school" class="result-col-2"></div>
    <div *ngIf="school" class="result-col-2">
      <div class="result-panel" *ngFor="let admin of school.schoolBase.admins" (click)="onSelectAdmin(admin.id)">
        <div *ngIf="admin.picture" class="avatar-container">
          <img class="avatar-image" height=40 width=40 src="{{photos + admin.picture}}" />
        </div>
        <div *ngIf="!admin.picture" class="avatar-container">
          <img class="avatar-image" height=40 width=40 src="/assets/avatarPlaceholder.png" />
        </div>
        <div>
          <p class="avatar-name">{{admin.firstName}} {{admin.lastName}}</p>
        </div>
        <div *ngIf="admin.enabled" class="avatar-name admin-active">
          Active
        </div>
        <div *ngIf="!admin.enabled" class="avatar-name admin-disabled">
          Disabled
        </div>
      </div>
    </div>
  </div>
  <app-side-details></app-side-details>
</div>