﻿html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}
dd{
    text-align:left;
}

.btn-rnd {
    border-radius: 20px;
    min-width: 140px;
    margin-bottom: 15px;
}

.btn-info {
    background-color: #5fca6c;
    border-color: #5fca6c;
}

    .btn-info:hover, .btn-info:focus {
        background-color: #b34a00;
        border-color: #b34a00;
    }

.panel-body h1, h2, h3, h4, h5, h6 {
    margin: 2px auto;
}

.panel h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}

.panel-default .panel-heading, .panel-footer {
    background-color: #f4f3ef;
    color: #595959;
}

.panel-default {
    background-color: #F6F6F6;
}

.hr-green{
    display:block;
    height:3px;
    border: 0;
    border-top: 4px solid #5fca6c;
    margin: 1em 0;
    padding: 0;
}

.black {
    color: black !important
}

.form-group-center label {
    margin-left: 7.5%;
}

.form-group-center input {
    max-width: 85%;
    margin: auto;
}

.fine-print {
    color: #7f7f7f;
    font-size: .9em;
    max-width: 80%;
    margin: 10px auto;
}



@media screen and (min-width: 1001px){
    .body-container {
    display: grid;
    height: calc(100vh);
    
    /* rows / columns */
    grid: 71px 1em auto 1em 20px / 195px 1em 1fr 1em 20%;
    grid-template-areas: 
        "header header header header header" 
        "navigation content content content content" 
        "navigation content content content content" 
        "navigation content content content content" 
        "footer footer footer footer footer";
    }

    .dash-container {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: auto auto auto auto auto;
        grid-auto-flow: row;
        grid-auto-rows: 1px;
    }
}

.label-danger{
    background-color: #eb5566;
}

.navbar-inverse {
    background-color: #5FCA6C !important;
}

@media screen and (max-width: 1000px) {

    .body-container {
        /* display: grid;
        height: calc(100vh - 2em); */
        grid: 71px auto auto auto 1em 10px / 100%;
        grid-template-areas: 
            "header" 
            "content" 
            "content" 
            "content" 
            "footer";
    }
    .navbar{
        height: 70px;
    }

    .layout-item-navigation {
        display: none;
    }
}



.layout-item {
    box-sizing: border-box;
    font-size: 1em;
    padding: 1em;
    /* overflow: hidden; */
    /*text-align: center;*/
}

.layout-item-header {
    background-color: #f6f6f6;
    grid-area: header;
}

.layout-item-header a{
    display:inline-block;
}

header .burg {
    /*display:inline-block;*/
    float: right;
    font-size: 28px;
    margin-top: 2px;
    color: #5FCA6C;
}

.layout-item-navigation {
    background-color: #5FCA6C;
    grid-area: navigation;
    padding-top:50px;
}
.layout-item-navigation a{
    text-decoration: none;
    color:white;
    display:block;
    font-size:20px;
    font-weight:800;
    margin:25px;
}

    .layout-item-navigation a:hover {
        background-color: #EB5566;
        /*text-decoration: none;
        color: white;
        display: block;
        font-size: 20px;
        font-weight: 800;
        margin: 25px;*/
    }

.layout-item-content {
    grid-area: content;
    background-color: #0E333E;
}

    .layout-item-content h1, h2, h3, h4, h5, h6 {
        color: #F6F6F6;
    }



.layout-item-footer {
    grid-area: footer;
    max-height:20px;
}




.dash-panel {
    margin: 5px;
}

.dash-row {
    grid-column: 1 / span 10;
}

@media (max-width: 1200px) {
    .dash-3, .dash-4 {
        grid-column: auto / span 5;
    }
    .dash-2-center, .dash-4-center {
        grid-column: 3 / span 6;
    }
    .dash-6-center{
        grid-column: 2 / span 8;
    }
    .dash-10{
        grid-column: 1 / span 10;
    }
}

@media (max-width: 767px) {
    .dash-2, .dash-3, .dash-4, .dash-5, .dash-6 {
        grid-column: 1 / span 10;
    }

    .dash-2-center, .dash-4-center {
        grid-column: 1 / span 10;
    }

}

@media (min-width: 1201px) {
    .dash-2 {
        grid-column: auto / span 2;
    }

    .dash-2-left {
        grid-column: auto / span 2;
        grid-row: auto / span 5;
    }

    .dash-2-center {
        grid-column: 5 / span 2;
    }

    .dash-3 {
        grid-column: auto / span 3;
    }

    .dash-3-left {
        grid-column: auto / span 3;
        grid-row: auto / span 100;
    }

    .dash-4 {
        grid-column: auto / span 4;
    }

    .dash-4-left {
        grid-column: auto / span 4;
        grid-row: auto / span 100;
    }

    .dash-4-center {
        grid-column: 4 / span 4;
    }

    .dash-5 {
        grid-column: auto / span 5;
    }

    .dash-5-left {
        grid-column: auto / span 5;
        grid-row: auto / span 100;
    }

    .dash-6 {
        grid-column: auto / span 6;
    }

    .dash-6-left {
        grid-column: auto / span 6;
        grid-row: auto / span 100;
    }

    .dash-6-center {
        grid-column: 3 / span 6;
    }

    .dash-8 {
        grid-column: auto / span 8;
    }

    .dash-8-center {
        grid-column: 2 / span 8;
    }

    .dash-9 {
        grid-column: auto / span 9;
    }

    .dash-10 {
        grid-column: auto / span 10;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #EB5566;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #F6F6F6;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #5FCA6C;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (min-width: 1001px){
    #smallSideNav {
        display:none;
    }
}

@media screen and (max-width: 1000px) {
    #fullSideNav {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}






/*.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 1000px) {

    .main-nav {
        height: calc(100vh);
        width: 260px;
    }

    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .navbar-header {
        float: none;
    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }

    .navbar ul {
        float: none;
    }

    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }

    .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .navbar-brand {
        height: 70px;
    }
}*/
