﻿
<div class="flex-container">
    <div class="panel-sm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Email Confirmed!</h4>
            </div>
            <div class="panel-body">
                Thank you for confirming your email. Please <a [routerLink]="['/apply/account']">click here to login.</a>
            </div>
        </div>
    </div>
</div>