
<div class="flex-container">
    <div class="panel-sm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Please enter your postal code to get started.</h4>
            </div>
            <div class="panel-body">
                <form (ngSubmit)="onPostalCheck()">
                    <div class="form-group form-group-center">
                        <label>Postal Code:</label>
                        <input type="text" class="form-control" id="postalCode"
                               name="postalCode" required
                               [(ngModel)]="postalCode" />
                        <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
                    </div>
                    <button type="submit" class="btn btn-info btn-rnd center-block"
                            [disabled]="!postalCode">
                        Continue
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
