
<div class="flex-container">
    <div class="panel-sm">
        <div *ngIf="!showSuccess">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Create an account</h3>
            </div>
            <div class="panel-body">
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()" novalidate>
                    <div class="form-group form-group-center">
                        <label>First name:</label>
                        <input class="form-control" formControlName="firstName" />
                        <div class="text-danger" *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
                            <div *ngIf="firstName.errors.required">First name is required</div>
                        </div>
                    </div>

                    <div class="form-group form-group-center">
                        <label>Last name:</label>
                        <input class="form-control" formControlName="lastName" />
                        <div class="text-danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
                            <div *ngIf="lastName.errors.required">Last name is required</div>
                        </div>
                    </div>

                    <div class="form-group form-group-center">
                        <label>Email:</label>
                        <input class="form-control" formControlName="email" />
                        <div class="text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors.required">Email address is required</div>
                            <div *ngIf="emailErrorMessage && !email.errors.required">{{emailErrorMessage}}</div>
                        </div>
                    </div>
                    <div formGroupName="passwordGroup">
                        <div class="form-group form-group-center">
                            <label>Password:</label>
                            <input class="form-control" type="password" formControlName="password" />
                            <div class="text-danger" *ngIf="!password.valid && (password.dirty || password.touched)">
                                <div *ngIf="password.errors.required">Password is required.</div>
                            </div>
                        </div>

                        <div class="form-group form-group-center">
                            <label>Confirm password:</label>
                            <input class="form-control" type="password" formControlName="confirmPassword" />
                            <div class="text-danger" *ngIf="!confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)">
                                <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
                            </div>
                            <div class="text-danger" *ngIf="!passwordGroup.valid && confirmPasswordErrorMessage">
                                <div>{{confirmPasswordErrorMessage}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <p class="fine-print">
                            By creating an account, I aggree to Tagg Education LLC's
                            <a href="#">Terms Of Service</a>.
                        </p>
                        <button type="submit" class="btn btn-info btn-rnd center-block"
                            [disabled]="registerForm.pristine || !registerForm.valid">
                        Create
                    </button>
                    </div>
                    
                </form>
            </div>
        </div>
        </div>

        <div *ngIf="showSuccess">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Registration Submitted</h3>
                </div>
                <div class="panel-body">
                    Thanks for registering! You will receive a confirmation email shortly with a link to create your profile.
                </div>
            </div>
        </div>
    </div>
</div>
