<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div class="list-grid">
    <div>
      <h2 class="tagg-white">Applications</h2>
    </div>
    <div class="actions-top">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <!-- <div class="action-button">
        <a [routerLink]="['/users', 'create']" class="btn btn-green">Create Sub</a>
      </div> -->
    </div>

    
    <div class="search-panel">
        <div *ngIf="!selectedSub" class="dash-panel"></div>
      <div *ngIf="selectedSub" class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{selectedSub.firstName}} {{selectedSub.lastName}}</h3>
        </div>
        <div class="search-field">
          <label>Email</label>
          <br>{{selectedSub.email}}
          <br>
        </div>

        <div class="search-field">
          <label>Enabled</label>
          <br>
          <div *ngIf="selectedSub.enabled">Yes</div>
          <div *ngIf="!selectedSub.enabled">No</div>
        </div>

        <div class="search-field">
          <label>Status</label>
          <br>{{appStatus[selectedSub.status]}}
          <br>
        </div>

        <div class="search-field">
          <label>Teaching License</label>
          <br>
          <div *ngIf="selectedSub.hasTeachingLicense">Yes</div>
          <div *ngIf="!selectedSub.hasTeachingLicense">No</div>
        </div>

        <div class="search-field">
          <label>Transcripts</label>
          <br>
          <div *ngIf="selectedSub.hasTranscripts">Yes</div>
          <div *ngIf="!selectedSub.hasTranscripts">No</div>
        </div>

        <div class="search-field">
          <label>Education</label>
          <br>{{educations[selectedSub.educationLevel]}}
          <br>
        </div>



        <div style="margin-top:10px;">
          <button class="link-button" (click)="onApprove(selectedSub.id)">Approve</button> &nbsp; &nbsp; &nbsp; &nbsp;
          <button class="link-button" (click)="onDisable(selectedSub.id)">Disable</button> &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
      </div>
    </div>

    <div>
      <mat-table [dataSource]="dataSource" class="mat-eleveation-z8">
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef>Enabled</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.enabled}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">{{appStatus[row.status]}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="approvedDate">
          <mat-header-cell *matHeaderCellDef>Approval Date</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.phoneNumber}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" (click)="onSelect(row.id)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>