﻿@model IEnumerable<Tagg.Domain.Substitute>

@{
    ViewData["Title"] = "Applicants";
}

<h2>Under Construction...</h2>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTeachingLicense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTranscripts)
            </th>
            <th>
                @Html.DisplayName("Application Complete")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayName("Approval Date")
            </th>
            <th>
                @Html.DisplayName("Min Pay")
            </th>
            <th>
                @Html.DisplayName("Max Distance")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasTeachingLicense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasTranscripts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPayAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDistance)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>*@
