﻿@model Tagg.Domain.Substitute

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Substitute</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Under Construction...</h2>
        @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserProfileId" class="control-label"></label>
                <select asp-for="UserProfileId" class ="form-control" asp-items="ViewBag.UserProfileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationLevel" class="control-label"></label>
                <input asp-for="EducationLevel" class="form-control" />
                <span asp-validation-for="EducationLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasTeachingLicense" /> @Html.DisplayNameFor(model => model.HasTeachingLicense)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasTranscripts" /> @Html.DisplayNameFor(model => model.HasTranscripts)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" class="form-control" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ApplicationComplete" /> @Html.DisplayNameFor(model => model.ApplicationComplete)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalDate" class="control-label"></label>
                <input asp-for="ApprovalDate" class="form-control" />
                <span asp-validation-for="ApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobbies" class="control-label"></label>
                <input asp-for="Hobbies" class="form-control" />
                <span asp-validation-for="Hobbies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedInUrl" class="control-label"></label>
                <input asp-for="LinkedInUrl" class="form-control" />
                <span asp-validation-for="LinkedInUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPayAmount" class="control-label"></label>
                <input asp-for="MinPayAmount" class="form-control" />
                <span asp-validation-for="MinPayAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDistance" class="control-label"></label>
                <input asp-for="MaxDistance" class="form-control" />
                <span asp-validation-for="MaxDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>*@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
