﻿@model Tagg.Domain.Substitute

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<h2>Under Construction...</h2>

@*<div>
    <h4>Substitute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasTeachingLicense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasTeachingLicense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasTranscripts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasTranscripts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationComplete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hobbies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hobbies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkedInUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkedInUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinPayAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinPayAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxDistance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxDistance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@
