﻿@model Tagg.Domain.ApiModels.SubstituteDto

@{
    ViewData["Title"] = "Details";
    string actionButton = Model.Enabled ? "Disable" : "Approve";
}

<div class="dash-container">
    <div class="dash-panel dash-6-center">
        <h3>Sub Details - @Model.FirstName @Model.LastName</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        Education
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EducationLevel)
                    </dd>
                    <dt>
                        License
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.HasTeachingLicense)
                    </dd>
                    <dt>
                        Transcripts
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.HasTranscripts)
                    </dd>

                    <dd>
                        @Html.DisplayFor(model => model.ResumeFile)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Enabled)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Enabled)
                    </dd>
                    <dt>
                        Approval Date
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ApprovalDate)
                    </dd>
                    <dt>
                        Approved By
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ApprovedBy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt>
                        LinkedIn
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LinkedInUrl)
                    </dd>
                    <dt>
                        Min Pay
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MinPayAmount)
                    </dd>
                    <dt>
                        Max Distance
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MaxDistance)
                    </dd>
                    <dt>
                        Excluded Schools:
                    </dt>
                    <dd>
                        
                    </dd>
                </dl>
            </div>
            <div class="panel-footer">
                <div>
                    <a asp-action="Index" asp-route-id="New" class="btn btn-default">Back to List</a>&nbsp; | &nbsp;
                    <a asp-action="@actionButton" asp-route-id="@Model.Email" class="btn btn-warning">@actionButton</a>
                    <a asp-action="Exclude" asp-route-id="@Model.Email" class="btn btn-warning"> | Exclude</a>
                </div>
            </div>
        </div>
    </div>
</div>

