﻿@model SubExcludeViewModel
@{ 
    ViewData["Title"] = "Exclude Sub";
}

<div class="dash-container">
    <div class="dash-panel dash-6-center">
        <h3>@ViewData["Title"]</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="Exclude">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="SubId" type="hidden" />
                    <input asp-for="SubEmail" type="hidden" />
                    <div class="form-group text-left">
                        <label class="control-label">School</label>
                        <select asp-for="SchoolId" class="form-control" asp-items="(SelectList)@ViewData["schools"]"></select>
                    </div>
                    <div class="form-group text-left">
                        <input type="submit" value="Submit" class="btn btn-warning" />
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div>
                    <a asp-action="Details" asp-route-id="SubId">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
