﻿@model IEnumerable<Tagg.Domain.ApiModels.SubstituteDto>

<div class="dash-container">


    <div class="dash-panel dash-10">
        <h2>@ViewData["Title"]</h2>
        <div class="pull-right">
            <a asp-action="Create" class="btn btn-success">Create Sub</a>
        </div>

        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("Last Name")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Enabled)
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            @Html.DisplayName("Approval Date")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Enabled)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovalDate)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Email">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




