<div class="content-grid-nomenu rating-background">



  <div *ngIf="job" class="rating-grid">
    <div class="rg-placeholder">
    </div>

    <div class="rating-panel">
      <div>
        <div class="panel-head">
          <h1>Rate Your Sub</h1>
          <hr class="blue-bar">
        </div>
        <div class="job-details">
          <div class="head">
            <h3>{{job.startDate | date:'longDate'}}</h3>
            <div class="summary">{{subjects[job.subject]}}, {{job.schoolName}}</div>
          </div>
          <div class="grid">
            <div>Sub:</div>
            <div>{{job.substituteName}}</div>
            <div>Teacher:</div>
            <div>{{job.teacherName}}</div>
          </div>
        </div>

        <!-- QUESTION 1 -->
        <div class="questions">
          <div class="question-container">
            <div class="text">Did your sub leave your classroom clean?</div>
          </div>
          <div class="star-container">
            <div class="helper-start">Not At All</div>
            <div>
              <ngb-rating [(rate)]="ratingOne" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="helper-end">Absolutely</div>
          </div>
        </div>
        <!-- QUESTION 2 -->
        <div class="questions">
          <div class="question-container">
            <div class="text">Was your sub prepared and on time?</div>
          </div>
          <div class="star-container">
            <div class="helper-start">Not At All</div>
            <div>
              <ngb-rating [(rate)]="ratingTwo" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="helper-end">Absolutely</div>
          </div>
        </div>
        <!-- QUESTION 3 -->
        <div class="questions">
          <div class="question-container">
            <div class="text">Did your sub follow given instructions and manage your classroom well?</div>
          </div>
          <div class="star-container">
            <div class="helper-start">Not At All</div>
            <div>
              <ngb-rating [(rate)]="ratingThree" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="helper-end">Absolutely</div>
          </div>
        </div>
        <!-- QUESTION 4 -->
        <div class="questions">
          <div class="question-container">
            <div class="text">Were your students successful with your sub?</div>
          </div>
          <div class="star-container">
            <div class="helper-start">Not At All</div>
            <div>
              <ngb-rating [(rate)]="ratingFour" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="helper-end">Absolutely</div>
          </div>
        </div>

        <!-- QUESTION 5 -->
        <div class="questions">
            <div class="question-container">
              <div class="text">Did you enjoy your interactions with your sub?</div>
            </div>
            <div class="star-container">
              <div class="helper-start">Not At All</div>
              <div>
                <ngb-rating [(rate)]="ratingFive" max="5">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </div>
              <div class="helper-end">Absolutely</div>
            </div>
          </div>

      </div>

      <div class="panel-actions">
        <button class="btn btn-green btn-wd" (click)="onSubmitRating()"
        [disabled]="!ratingOne|| !ratingTwo || !ratingThree || !ratingFour || !ratingFive">SUBMIT</button>
      </div>

    </div>

    <div class="rg-placeholder"></div>
  </div>
</div>