.summary{
    color: #0E333E;
    font-weight: 300;
    font-style: italic;
}
.job-top{
    margin-bottom: 15px;
}

.job-details{
    margin-bottom: 20px;
}

.job-details .head{
    margin-bottom: 6px;
}

.job-details .grid{
    display:grid;
    grid-row-gap: 3px;
    grid-template-columns: 85px 1fr;
    font-size: 15px;
    color: #0E333E;
    font-weight: 100;
}

.job-details .sub-grid{
    display:grid;
    grid-row-gap: 3px;
    grid-template-columns: 100px 1fr;
    font-size: 15px;
    color: #0E333E;
    font-weight: 100;
}

.column-title{
    color:#5FCA6C;
}

