<i class="material-icons dialog-right" (click)="onNoClick()">close</i>

<div *ngIf="data.job.status === 1" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Confirmed Job</h2>
        <br>
        <br>
    </div>
    <div class="job-top">
        <h3 class="text-dark">{{data.job.startDate | date:'longDate'}}</h3>
        <br>
        <div class="summary">{{subjects[data.job.subject]}}, {{data.job.schoolName}}</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="job-details">
                <div class="head">
                    <h4 class="column-title">Job Details</h4>
                </div>

                <div class="grid">
                    <div>Time:</div>
                    <dd>{{data.job.startDate | date:'shortTime'}} - {{data.job.endDate | date:'shortTime'}}</dd>

                    <div>Teacher:</div>
                    <dd>{{data.job.teacherName}}</dd>

                    <div>Grade:</div>
                    <dd>{{subjects[data.job.subject]}}</dd>

                    <div>School:</div>
                    <dd>{{data.job.schoolName}}</dd>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="job-details">
                <div class="head">
                    <h4 class="column-title">Sub Details</h4>
                </div>

                <div class="sub-grid">
                    <div>Sub:</div>
                    <dd>{{data.job.substituteName}}</dd>

                    <div>Rating:</div>
                    <dd>{{data.job.subRating}} Stars ({{data.job.ratingCount}} reviews)</dd>

                    <div>Subbed at your school:</div>
                    <dd *ngIf="data.job.subbedAtSchool">Yes</dd>
                    <dd *ngIf="!data.job.subbedAtSchool">No</dd>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="!data.job.lessonPlanId">
        <div class="column-title">Add Lesson Plan</div>
        <div *ngIf="showUploadSuccess" class="alert alert-success">
            <strong>Lesson plan uploaded successfully!</strong>
        </div>
        <input class="file-input" type="file" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            (change)="onLessonPlanUpload($event.target.files)" />
    </div>
    <div *ngIf="!showCancelConfirm" class="row text-center" style="margin-top:20px;">
        <button class="btn btn-red btn-wd" (click)="onCancelConfirm()" matTooltip="Subs will automatically be notified if you cancel a job.">CANCEL JOB</button>
    </div>
    <div *ngIf="showCancelConfirm" class="row text-center" style="margin-top:20px;">
        <div class="alert alert-danger">Are you sure you want to cancel this job?</div>
        <button class="btn btn-red btn-wd" tabindex="-1" (click)="onCancelJob()">YES, CANCEL JOB</button>
        <button class="btn btn-blue btn-wd" tabindex="-1" (click)="onNoClick()">NO, KEEP JOB</button>
    </div>
</div>

<div *ngIf="data.job.status === 0" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Request Details</h2>
        <br>
        <br>
    </div>
    <div>
        <h3 class="text-dark">{{data.job.startDate | date:'longDate'}}</h3>
        <br>
        <em>{{subjects[data.job.subject]}}, {{data.job.schoolName}}</em>
        <br>
        <br>
    </div>
    <div>
        <h4 class="column-title">Job Details</h4>
        <dl class="dl-horizontal">
            <dt>Time:</dt>
            <dd>{{data.job.startDate | date:'shortTime'}} - {{data.job.endDate | date:'shortTime'}}</dd>

            <dt>Teacher:</dt>
            <dd>{{data.job.teacherName}}</dd>

            <dt>Grade:</dt>
            <dd>{{subjects[data.job.subject]}}</dd>

            <dt>School:</dt>
            <dd>{{data.job.schoolName}}</dd>

            <dt *ngIf="showPay">Pay Rate:</dt>
            <dd *ngIf="showPay">{{data.job.payAmount | currency: 'USD'}}</dd>
        </dl>
    </div>
    <div *ngIf="!data.job.lessonPlanId">
        <div class="column-title">Add Lesson Plan</div>
        <div *ngIf="showUploadSuccess" class="alert alert-success">
            <strong>Lesson plan uploaded successfully!</strong>
        </div>
        <input class="file-input" type="file" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            (change)="onLessonPlanUpload($event.target.files)" />
    </div>
    <div class="row text-center">
        <button class="btn btn-red btn-wd" (click)="onCancelJob()" matTooltip="Subs will automatically be notified if you cancel a job.">CANCEL JOB</button>
    </div>
</div>

<div *ngIf="data.job.status === 3" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Recent Job</h2>
        <br>
        <br>
    </div>
    <div>
        <h3 class="text-dark">{{data.job.startDate | date:'longDate'}}</h3>
        <br>
        <em>{{subjects[data.job.subject]}}, {{data.job.schoolName}}</em>
        <br>
        <br>
    </div>
    <div>
        <h4 class="column-title">Job Details</h4>
        <dl class="dl-horizontal">
            <dt>Time:</dt>
            <dd>{{data.job.startDate | date:'shortTime'}} - {{data.job.endDate | date:'shortTime'}}</dd>

            <dt>Teacher:</dt>
            <dd>{{data.job.teacherName}}</dd>

            <dt>Grade:</dt>
            <dd>{{subjects[data.job.subject]}}</dd>

            <dt>School:</dt>
            <dd>{{data.job.schoolName}}</dd>
        </dl>
    </div>
</div>