<mat-sidenav-container>
    <mat-sidenav position="end" mode="over" fixedInViewport="true" #menu class="example-sidenav">
        <mat-toolbar class="side-toolbar">
            <mat-toolbar-row>
                <button type="button" class="menu-button" mat-button (click)="menu.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a [routerLink]="['/home']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Dashboard</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a [routerLink]="['/schools']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Schools</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row>
                    <a [routerLink]="['/users']">
                        <button mat-button class="menu-button" (click)="menu.toggle()">Users</button>
                    </a>
                </mat-toolbar-row>
            <mat-toolbar-row>
                <a [routerLink]="['/jobs']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Jobs</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row>
                    <a [routerLink]="['/messages']">
                        <button mat-button class="menu-button" (click)="menu.toggle()">Messages</button>
                    </a>
                </mat-toolbar-row>
            <mat-toolbar-row>
                    <button mat-button class="menu-button" (click)="onSignOut()">Sign Out</button>
                </mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <div class="app-grid">
                <div class="app-item app-header">
                    <a [routerLink]="['/home']">
                        <div class="header-logo">
                            <img src="../assets/Tagg-Logo-Blue-Green.png">
                        </div>
                    </a>
                    <div class="burg">
                        <span class="glyphicon glyphicon-menu-hamburger" (click)="open()"></span>
                    </div>
                </div>
                <div class="app-item app-content">
                    <router-outlet></router-outlet>
                </div>
                <div class="app-item app-footer">
                    <div class="tagg-blue text-center" style="padding-top:8px;">
                        &copy; Tagg Education, LLC
                    </div>

                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>