﻿.example-sidenav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 200px;
    background: #eb5566;
}

.side-toolbar {
    background-color: rgba(0,0,0,0);
}

.app-grid {
    display: grid;
    height: 100vh;
    grid-template-rows: 80px 1fr 35px;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
}

.app-item {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app-header {
    background-color: #f6f6f6;
    grid-area: header;
}

    .app-header a {
        display: inline-block;
    }

    .app-header .burg {
        float: right;
        font-size: 42px;
        padding: 15px 50px;
        color: #5FCA6C;
    }

.app-content {
    background-color: #0E333E;
    grid-area: main;
}

.app-footer {
    background-color: #f6f6f6;
    grid-area: footer;
}

.content-grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr 1fr;
}

.login-grid {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: 1fr;
}

.login-form-grid{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

.dash-grid-6 {
    padding: 45px 5%;
    display: grid;
    grid-column-gap: 3%;
    grid-row-gap: 1em;
    grid-template-rows: 3em auto;
    grid-template-columns: repeat(6, 1fr);
}

    .dash-grid-6 .grid-row {
        grid-column: auto / span 6;
    }

.dash-grid-3 {
    padding: 45px 5%;
    display: grid;
    grid-column-gap: 3%;
    grid-row-gap: 1em;
    grid-template-rows: 3em auto;
    grid-template-columns: repeat(3, 1fr);
}

.dash-grid-calendar {
    padding: 45px 5%;
    display: grid;
    grid-template-columns: 1fr;
}

.dash-grid-center {
    padding: 45px 5%;
    display: grid;
    grid-template-columns: 1fr;
}

.dash-grid-3 .grid-row {
    grid-column: auto / span 3;
    grid-row: auto / span 1;
}

.panel-3 {
    grid-column: auto / span 2;
    /* grid-row: 1 / span 1; */
}

.panel-2 {
    grid-column: auto / span 3;
}

.panel-1 {
    grid-column: auto / span 1;
}

.dash-center {
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 700px){
    .login-placeholder{
        display: none;
    }
    .login-form-grid{
        grid-template-columns:1fr;
    }
}
