﻿﻿@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Book.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Circular', sans-serif;
    font-size: 16px;
    font-weight: 200;
    min-height: 100%;
}

h1 {
    font-size: 45px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: #fff;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #11333e;
}

.panel h1 {
    margin-bottom: 25px;
}

.green-underline {
    border-bottom: 5px solid #5fca6c;
    margin-bottom: 20px;
}

.green-underline-big {
    border-bottom: 20px solid #5fca6c;
}

.yellow-underline {
    border-bottom: 5px solid #efe434;
    margin-bottom: 20px;
}

.blue-underline {
    border-bottom: 5px solid #0e333e;
    margin-bottom: 20px;
}

.red-underline {
    border-bottom: 7px solid #eb5566;
    margin-bottom: 20px;
}

a {
    color: #5fca6c;
    text-decoration: underline;
}

    a:hover {
        color: #4ab157;
    }

.tagg-green {
    color: #5fca6c;
}

.tagg-yellow {
    color: #efe434;
}

.tagg-blue {
    color: #0e333e;
}

.tagg-red {
    color: #eb5566;
}

.tagg-white {
    color: #fff;
}

.tagg-gray {
    color: #f6f6f6;
}


.login-panel {
    background-color: #ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 4% 50px;
}

.login-panel h1, h2, h3, h4, h5, h6 {
    color: #0E333E;
    display: block !important;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.dash-panel {
    background-color: #ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 20px 30px;
}

    .dash-panel h1, h2, h3, h4, h5, h6 {
        color: #0E333E;
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 0px;
    }

.panel-head {
    display: block;
}








.dl-horizontal dd, .dl-horizontal dt {
    text-align: left;
}

span {
    cursor: pointer;
}

.heading {
    color: #fff;
    display: grid;
    font-weight: 800;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 20px 0;
}

.header-logo {
    padding-top: 15px;
    padding-left: 50px;
}

    .header-logo > img {
        height: 50px;
        width: 100px;
    }


/* ===========================================
    Top level layout
============================================*/
.example-sidenav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 200px;
    background: #eb5566;
}

.side-toolbar {
    background-color: rgba(0,0,0,0);
}

.app-container {
    display: grid;
    height: 100vh;
    /* overflow-x: hidden;
    
    grid-column-gap:0px; */
    grid-template-rows: 80px 1fr 35px;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
}

.layout-item {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.layout-header {
    background-color: #f6f6f6;
    grid-area: header;
}

    .layout-header a {
        display: inline-block;
    }

    .layout-header .burg {
        float: right;
        font-size: 42px;
        padding: 15px 50px;
        color: #5FCA6C;
    }

.layout-content {
    background-color: #0E333E;
    grid-area: main;
}

/*.layout-content h1,h2,h3,h4,h5,h6{
    color:white;
}*/

.layout-footer {
    background-color: #f6f6f6;
    grid-area: footer;
    place-self: center;
}

.content-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr 1fr;
}

.dash-container {
    padding: 60px 50px;
    /* display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr); */
}

.dash-container-center {
    display: grid;
    padding: 50px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.dash-test-center {
    grid-column: 2 / span 1;
}


/* ===========================================
    Login screen
============================================*/
.login-background {
    background: #58bc64 url(../images/login-bg.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

    .login-background .form-control {
        margin-bottom: 25px;
    }

.login-remember strong {
    color: #11333e !important;
}
.login-password{
    margin-bottom:0px !important;
}


/* ===========================================
    Jobs
============================================*/
.jobs-screen .panel.panel-default {
    padding: 30px;
}

.jobs-screen .panel-body {
    padding: 0;
}

.jobs-each-job {
    margin: 0 -30px;
    padding: 20px 35px;
    transition: background-color 0.2s;
}

    .jobs-each-job:hover {
        background-color: #dedede;
        cursor: pointer;
    }

.jobs-date {
    border-bottom: 1px solid #999;
    color: #11333e;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 11px;
    padding-bottom: 5px;
}

.material-icons.md-48 {
    color: rgba(255,255,255,0.5);
    font-size: 48px;
    transition: color 0.2s;
}

    .material-icons.md-48:hover {
        color: rgba(255,255,255,1);
    }

/* ===========================================
    Old Schools/Teachers
============================================*/
/*.panel-results {
    background-color: #ebebeb;
    border: none;
    border-radius: 10px;
    line-height: 50px;
    transition: background-color 0.2s;
}

.panel-results:hover {
    background-color: #d7d7d7;
    cursor: pointer;
}

.filter-input {
    background-color: rgba(255,255,255,0.23);
    border: none;
    border-radius: 20px;
    color: rgba(255,255,255,0.35);
    font-weight: 200;
    width: 240px;
    padding: 10px 20px;
    align-self: end;
}

.search-grid{
    display:grid;
    grid-column-gap: 35px;
    grid-template-columns:repeat(3, 1fr);
    padding: 60px 50px 0;
}

.search-panel{
    color: #7c7c7c;
    grid-template-columns : minmax(1fr, 215px);
    grid-column: 1 / span 1;
}

.result-col-1 {
    display:grid;
    grid-column: 2 / span 2;
    grid-row: 2 / span 10;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    height: 82vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.result-col-2 {
    display:grid;
    grid-column: 2 / span 2;
    grid-row: auto / span 5;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    height: 82vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.school-image {
    border-radius: 50%;
    height: 125px;
    margin: 0 0 20px 0;
    width: 125px;
}

.results-image {
    border-radius: 50%;
    height: 35px;
    margin: 0 15px 0 20px;
    width: 35px;
}

.transactions-list-controls {
    color: #fff;
}

.results-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 3fr 2fr 2fr 1fr 2fr 2fr;
}*/




/* ===========================================
    New Schools/Teachers
============================================*/
.list-page-container {
    display: grid;
    grid-template-columns: minmax(auto, 275px) 1fr;
    grid-template-rows: 40px 1fr;
    grid-gap: 20px 35px;
    height: calc(100vh - 120px);
    overflow-y: hidden;
    padding: 60px 50px;
}

.page-title {
    align-self: end;
}

.details-panel {
    grid-column: 1;
    grid-row: 2;
    overflow-x: hidden;
}

.list-controls {
    align-self: end;
    color: rgba(255,255,255,0.5);
    display: grid;
    grid-column: 2;
    grid-gap: 5px;
    grid-row: 1;
    grid-template-columns: 3fr 2fr 2fr 1fr 2fr 2fr;
    padding: 0 0 0 20px;
}

    .list-controls p {
        margin: 0;
    }

.list-results {
    display: grid;
    grid-auto-rows: 50px;
    grid-column-start: 2;
    grid-gap: 10px;
    grid-row-start: 2;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
}

.list-item {
    align-items: center;
    background-color: #ebebeb;
    border-radius: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 3fr 2fr 2fr 1fr 2fr 2fr;
    padding: 0 0 0 20px;
    transition: background-color 0.2s;
}

    .list-item:hover {
        background-color: #d7d7d7;
        cursor: pointer;
    }

    .list-item p {
        line-height: 1em;
        margin: 0;
        padding: 0;
    }

.school-image {
    border-radius: 50%;
    height: 125px;
    margin: 0 0 20px 0;
    width: 125px;
}

.side-by-side-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 0 0;
    text-align: center;
}

.results-image {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.filter-input {
    background-color: rgba(255,255,255,0.23);
    border: none;
    border-radius: 20px;
    color: rgba(255,255,255,0.35);
    font-weight: 200;
    width: 240px;
    padding: 10px 20px;
    align-self: end;
}
















@media screen and (max-width:1500px) {
    .dash-container-center {
        grid-template-columns: 1fr 5fr 1fr;
    }
}

@media screen and (max-width:1250px) {
    .dash-container-center {
        grid-template-columns: 1fr 7fr 1fr;
    }
}

@media screen and (max-width:1150px) {
    .dash-container-center {
        grid-template-columns: 1fr 11fr 1fr;
    }
}



.offset-v-50 {
    height: 50px;
}


@media screen and (max-width:1000px) {
    .side-nav {
        display: none;
    }

    .content-container {
        grid-template-columns: 1fr;
    }

    .panel-body-pad {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.menu-button {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.form-control {
    border-radius: 20px !important;
    border: none;
}

/*.green-bar{
    display:block;
    height:3px;
    border: 0;
    border-top: 16px solid #5fca6c;
    margin: 1em 0;
    padding: 0;
}

.red-bar{
    display:block;
    height:3px;
    border: 0;
    border-top: 16px solid #eb5566;
    margin: 1em 0;
    padding: 0;
}

.yellow-bar{
    display:block;
    height:3px;
    border: 0;
    border-top: 16px solid #efe434;
    margin: 1em 0;
    padding: 0;
}

.blue-bar{
    display:block;
    height:3px;
    border: 0;
    border-top: 16px solid #0E333E;
    margin: 1em 0;
    padding: 0;
}

 thin bars 
.hr-green{
    display:block;
    height:3px;
    border: 0;
    border-top: 4px solid #5fca6c;
    margin: 1em 0;
    padding: 0;
}

.blue-th-bar{
    display:block;
    height:3px;
    border: 0;
    border-top: 1px solid #0E333E;
    margin: 1em 0;
    padding: 0;
}

.yellow-th-bar{
    display:block;
    height:3px;
    border: 0;
    border-top: 1px solid yellow;
    margin: 1em 0;
    padding: 0;
}

.green-th-bar{
    display:block;
    height:3px;
    border: 0;
    border-top: 1px solid #5fca6c;
    margin: 1em 0;
    padding: 0;
}*/

.message-select {
    background-color: rgba(14,51,62,.1);
}


.btn {
    border-radius: 20px;
    font-size: 19px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 0px;
    min-width: 190px;
    padding: 5px 20px;
    text-transform: uppercase;
}

.panel .btn {
    margin-top: 25px;
}

.panel ngb-timepicker .btn {
    background-color: #5fca6c;
    color: #ffff;
    min-width: 0;
    margin: 0;
    transition: background-color 0.2s
}

    .panel ngb-timepicker .btn:hover {
        background-color: #eb5566;
        color: #fff;
    }

.btn-green {
    background-color: #5fca6c;
}

.btn-yellow {
    background-color: #efe434;
}

.btn-blue {
    background-color: #11333e;
}

.btn-red {
    background-color: #eb5566;
}

.btn-gray {
    background-color: #acacac;
}

.btn-green, .btn-blue, .btn-red, .btn-gray {
    color: #fff;
    transition: background-color 0.2s;
}

    .btn-green:hover, .btn-yellow:hover, .btn-blue:hover, .btn-gray:hover {
        background-color: #eb5566;
        color: #fff;
    }

    .btn-red:hover {
        background-color: #da4455;
        color: #fff;
    }

    .btn-green:active, .btn-blue:active, .btn-red:active, .btn-gray:active {
        color: #fff;
    }


/* ===========================================
    Password Reset 
============================================*/
.password-screen {
    align-items: center;
    background: url('../../../assets/register-bg.jpg') no-repeat center;
    background-size: cover;
    /* display: flex; */
    height: 100%;
    justify-content: center;
    padding-top: 50px;
}

.pwreset-dash-panel {
    margin-right: 0;
}

.password-grid {
    display: grid;
}


@media screen and (max-width:500px) {
    .password-grid {
        grid-template-columns: 1fr;
        padding-left: 18px;
        padding-right: 18px;
    }

    .grid-placeholder {
        display: none;
    }
}

@media screen and (min-width:501px) and (max-width:1199px) {
    .password-grid {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (min-width:1200px) and (max-width:1499px) {
    .password-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1500px) {
    .password-grid {
        grid-template-columns: 3fr 2fr 3fr;
    }
}