﻿﻿@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Book.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Circular', sans-serif;
    font-size: 16px;
    font-weight: 200;
    min-height: 100%;
}

h1 {
    font-size: 45px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: #fff;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #11333e;
}

.app-grid {
    display: grid;
    height: 100vh;
    grid-template-rows: 84px 1fr 25px;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
}

.app-item {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app-header {
    background-color: #f6f6f6;
    grid-area: header;
}

    .app-header a {
        display: inline-block;
    }

    .app-header .burg {
        float: right;
        font-size: 42px;
        padding: 15px 50px;
        color: #5FCA6C;
    }

.app-content {
    background-color: #0E333E;
    grid-area: main;
}

.app-footer {
    background-color: #f6f6f6;
    grid-area: footer;
}

.maintenance-background {
    background: #58bc64 url(../images/login-bg.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.header-logo {
    padding-top: 15px;
    padding-left: 50px;
}

    .header-logo > img {
        height: 50px;
        width: 100px;
    }

.dash-grid-center {
    padding-top:5%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
}

.dash-panel {
    background-color: #ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 20px 30px;
    text-align: center;
    height: 50%;
}

    .dash-panel h1, h2, h3, h4, h5, h6 {
        color: #0E333E;
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 0px;
    }

.panel-head {
    display: block;
}

.green-underline {
    border-bottom: 5px solid #5fca6c;
    margin-bottom: 20px;
}

.green-underline-big {
    border-bottom: 20px solid #5fca6c;
}

.yellow-underline {
    border-bottom: 5px solid #efe434;
    margin-bottom: 20px;
}

.blue-underline {
    border-bottom: 5px solid #0e333e;
    margin-bottom: 20px;
}

.red-underline {
    border-bottom: 7px solid #eb5566;
    margin-bottom: 20px;
}

.tagg-green {
    color: #5fca6c;
}

.tagg-yellow {
    color: #efe434;
}

.tagg-blue {
    color: #0e333e;
}

.tagg-red {
    color: #eb5566;
}

.tagg-white {
    color: #fff;
}

.tagg-gray {
    color: #f6f6f6;
}

@media screen and (max-width: 700px) {
    .login-placeholder {
        display: none;
    }

    .login-form-grid {
        grid-template-columns: 1fr;
    }
}
