.confirm-panel{
    background-color:#ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 20px 32px;
}

.confirm-head{
    text-align: center;
    margin-bottom: 10px;
}