﻿<div class="content-grid">
    <div></div>

    <div class="dash-grid-center">
        <div class="dash-center-sm">
            <div class="confirm-panel">
                <div class="confirm-head">
                    <h2>Email Confirmed</h2>
                </div>
                <hr class="blue-bar">
                <div>
                    Thank you for confirming your email address.
                    <br>
                    Click below to log in.
                </div>
                <br>
                <div class="text-center">
                    <a [routerLink]="['/register', 'steps']" class="btn btn-green btn-wd">LOG IN</a>
                </div>
            </div>
        </div>
    </div>
</div>