<div class="password-screen">
    <div class="password-grid">
        <div class="grid-placeholder"></div>
        <div *ngIf="user && showForm">
            <div class="dash-panel">
                <div class="panel-head">
                    <h2 class="green-underline">Create Password</h2>
                </div>
                <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>

                <form [formGroup]="registerForm" (ngSubmit)="onRegister()" novalidate>
                    <div formGroupName="passwordGroup">
                        <div class="form-group form-group-center">
                            <label>Password:</label>
                            <input class="form-control" type="password" formControlName="password"
                                matTooltip="Password must be at least 8 characters with one uppercase letter and one number" />
                            <div class="text-danger" *ngIf="!password.valid && (password.dirty || password.touched)">
                                <div *ngIf="password.errors.required">Password is required.</div>
                            </div>
                        </div>

                        <div class="form-group form-group-center">
                            <label>Confirm password:</label>
                            <input class="form-control" type="password" formControlName="confirmPassword" />
                            <div class="text-danger" *ngIf="!confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)">
                                <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
                            </div>
                            <div class="text-danger" *ngIf="!passwordGroup.valid && confirmPasswordErrorMessage">
                                <div>{{confirmPasswordErrorMessage}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-center">
                        <div class="fine-print-grid">
                            <div>
                                <mat-checkbox formControlName="agreeToTerms">
                                </mat-checkbox>
                            </div>
                            <div>
                                <p class="fine-print">
                                    I agree to Tagg Education LLC's
                                    <a href="http://www.taggeducation.com/terms-of-service">Terms Of Service</a>.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-red btn-wd center-block" [disabled]="registerForm.pristine || !registerForm.valid">
                            Create
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="grid-placeholder"></div>
</div>