.register-grid{
    padding: 45px 5%;
    display: grid;
}

.register-background{
    background: url('../../assets/login-bg.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

.register-panel{
    background-color:#ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 20px 20px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 75px;
}

.red-bar{
    display: block;
    height: 3px;
    border: 0;
    border-top: 16px solid #EB5566;
    margin: 1em 0;
    padding:0;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin:6px;
    cursor: inherit;
  }

  .dot-active{
    height: 15px;
    width: 15px;
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    display: inline-block;
    margin:6px;
    cursor: inherit;
  }





@media screen and (min-width:768px){
    .register-grid{
        grid-template-columns: 1fr 520px 1fr;
        grid-template-rows: 1fr auto;
    }

    .step-dots{
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
}

/* PHONES (xs) */
@media screen and (max-width: 767px){
    .register-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .step-dots{
        grid-row: auto;
        grid-column: auto;
    }

    .rg-placeholder{
        display: none;
    }
}