﻿<router-outlet></router-outlet>

<!-- <mat-sidenav-container>
    <mat-sidenav position="end" mode="over" fixedInViewport="true" #menu class="example-sidenav">
        <mat-toolbar class="side-toolbar">
            <mat-toolbar-row>
                <button type="button" class="menu-button" mat-button (click)="menu.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a [routerLink]="['/home']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Home</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a [routerLink]="['/profile']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Profile</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/about']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">About</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/contact']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Contact</button>
                </a>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="body-container" id="main">
            <header class="layout-item layout-item-header">
                <a [routerLink]="['/home']">
                    <div style="padding-left:30px !important;">
                        <img src="../assets/Tagg-Logo-Blue-Green.png" height="50" width="100">
                    </div>
                </a>
                <div class="burg">
                    <span class="glyphicon glyphicon-menu-hamburger" (click)="menu.toggle()"></span>
                </div>
            </header>

            <article class="layout-item layout-item-content">
                <router-outlet></router-outlet>
            </article>

            <footer class="layout-item layout-item-footer">
                &copy; Tagg Education, LLC
            </footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->