<div class="register-screen">
    <div class="row">
        <div class="col-md-4 col-md-offset-2 welcome-message">
            <h1>Welcome!</h1>
            <hr class="welcome-bar">
            <p style="font-weight: 200">
                We're excited to have you join the Tagg platform! Please fill out the form on the right to get started. Once you’ve completed
                the all of the steps, we will reach out to you with further details.
            </p>
        </div>

        <div class="col-md-4">
            <div *ngIf="!showSuccess">
                <div class="dash-panel">
                    <div *ngIf="showSpinner">
                        <h2 class="reg-panel-heading">Register</h2>
                        <hr class="green-bar">
                        <div style="margin-left:35%;">
                            <mat-spinner></mat-spinner>
                        </div>
                    </div>

                    <div *ngIf="!showSpinner">
                        <h2 class="reg-panel-heading">Register</h2>
                        <hr class="green-bar">
                        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First" formControlName="firstName" />
                                        <div class="text-danger" *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
                                            <div *ngIf="firstName.errors">First name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last" formControlName="lastName" />
                                        <div class="text-danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
                                            <div *ngIf="lastName.errors">Last name is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email" formControlName="email" />
                                        <div class="text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
                                            <div *ngIf="email.errors.required">Email address is required</div>
                                            <div *ngIf="emailErrorMessage && !email.errors.required">{{emailErrorMessage}}</div>
                                        </div>
                                        <div class="text-danger" *ngIf="duplicateErrorMessage">
                                            <div>{{duplicateErrorMessage}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Zip Code" formControlName="postalCode" />
                                        <div class="text-danger" *ngIf="!postalCode.valid && (postalCode.dirty || postalCode.touched)">
                                            <div *ngIf="postalCode.errors">Zip code address is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-danger" *ngIf="outOfArea">Oops! We haven't made it to your area yet.</div>
                                </div>
                            </div>



                            <div formGroupName="passwordGroup">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control" type="password" placeholder="Password" formControlName="password" matTooltip="Password must be at least 8 characters with one uppercase letter and one number"
                                        />

                                        <div class="text-danger" *ngIf="!password.valid && (password.dirty || password.touched)">
                                            <div *ngIf="password.errors.required">Password is required.</div>
                                        </div>
                                        <div class="text-danger" *ngIf="showPasswordInvalid">
                                            <div>Password must be at least 8 characters with one uppercase letter and one number</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <input class="form-control input-rnd" type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
                                        <div class="text-danger" *ngIf="!confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)">
                                            <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
                                        </div>
                                        <div class="text-danger" *ngIf="!passwordGroup.valid && confirmPasswordErrorMessage">
                                            <div>{{confirmPasswordErrorMessage}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <mat-checkbox formControlName="agreeToTerms">
                                <p class="fine-print">
                                    I agree to Tagg Education LLC's
                                    <a href="http://www.taggeducation.com/terms-of-service">Terms Of Service</a>.
                                </p>
                            </mat-checkbox>
                            <br/>
                            <br/>
                            <div class="text-center">
                                <button type="submit" class="btn btn-green btn-wd" [disabled]="registerForm.pristine || !registerForm.valid">
                                    Create
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div *ngIf="showSuccess">
                <div class="dash-panel">
                    <h2 style="color:#0E333E;font-weight:900 !important;">Registration Submitted</h2>
                    <hr class="green-bar">
                    <p>Thanks for registering! You will receive a confirmation email shortly with a link to create your profile.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="dash-container">
        <div class="dash-panel dash-row"><br><br><br><br></div>
        <div class="dash-panel dash-2">
    
        </div>
        <div class="dash-panel dash-2">
            
        </div>
        <div class="dash-panel dash-1"></div>
        <div class="dash-panel dash-3">
    
            
        </div>
    </div> -->