<div class="content-grid-nomenu register-background">
    <div class="register-grid">
        <div class="rg-placeholder"></div>
        <!-- STEP 1 -->
        <div *ngIf="stepNumber==1 && showForm">
            <div class="register-panel">
                <div>
                    <form [formGroup]="settingsForm">
                        <div class="panel-head">
                            <h2>Create Profile</h2>
                            <hr class="red-bar">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                            </div>

                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input class="form-control" type="text" placeholder="Address Line 1" formControlName="street1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <input class="form-control" type="text" placeholder="Address Line 2" formControlName="street2">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="City" formControlName="city">
                            </div>

                            <div class="form-group col-md-6">
                                <mat-form-field floatLabel="never">
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="state" color="primary" (change)="markDirty()">
                                        <mat-option *ngFor="let state of states" [value]="state.key">{{state.key}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="Zip" formControlName="postalCode">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="Phone" formControlName="phoneNumber">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="panel-actions">
                    <button class="btn btn-blue btn-wd" (click)="onNext()">NEXT</button>
                </div>

            </div>
        </div>

        <!-- STEP 2 -->
        <div *ngIf="stepNumber==2 && showForm" class="dash-center">
            <form [formGroup]="preferenceForm">
                <div class="register-panel">
                    <div>
                        <div class="panel-head">
                            <h2>Create Profile</h2>
                            <hr class="red-bar">
                        </div>
                        <div class="mtfg-12">
                            <mat-form-field 
                                matTooltip="This is the minimum amount of money you are willing to work for. For example, if you set your minimum pay at $70, 
                            then you won’t receive any job requests with a pay rate less than $70 dollars.">
                                <mat-select formControlName="minPay" placeholder="Minimum Pay (Ex: $100)">
                                    <mat-option *ngFor="let pay of payAmounts" [value]="pay.key">{{pay.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            
                        </div>

                        <div class="mtfg-12">
                            <mat-form-field matTooltip="This refers to the number of miles you are willing to travel to work. For instance, if you set your max distance at 30 miles from your home address, then you will not receive requests from schools located beyond this radius.">
                                <mat-select formControlName="maxDistance" placeholder="Max Distance from Home (Miles)" required>
                                    <mat-option *ngFor="let dist of distances" [value]="dist.key">{{dist.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="mtfg-12">
                            <mat-form-field matTooltip="These are the grades and subjects you are interested in working for. For example, if you don’t want to teach high school english, then you would deselect “grades 9-12, english”. Remember, the more grades and subjects you deselect, the fewer job requests you will receive.">
                                <mat-select [(value)]="selectedSubjects" color="primary" placeholder="Grades and Subjects (One Required)" (change)="markDirty()"
                                    multiple>
                                    <mat-option *ngFor="let sub of subjects" [value]="sub.key">{{sub.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="mtfg-12">
                            <mat-form-field matTooltip="Select how you wish to receive job requests. You can receive a phone call, a text, an email, or all of the above. It’s up to you!">
                                <mat-select [(value)]="selectedContact" color="primary" placeholder="Contact Preference " (change)="markDirty()" multiple>
                                    <mat-option *ngFor="let cont of contactMethods" [value]="cont.key">{{cont.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="panel-actions">
                        <button class="btn btn-blue btn-wd" (click)="onNext()">NEXT</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- STEP 3 -->
        <div *ngIf="stepNumber==3 && showForm" class="dash-center">
            <div class="register-panel">
                <div>
                    <div class="panel-head">
                        <h2>Create Profile</h2>
                        <hr class="red-bar">
                    </div>
                    <br>

                    <div *ngIf="this.user.receiveSMS">
                        <div *ngIf="!showVerify && !showError && !showSuccess">
                            <strong>Phone Verification</strong>
                            <p>Please verify your phone number below and click to send a verification code.</p>
                            <form>
                                <div class="form-group form-group-center">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone" required>
                                </div>
                            </form>
                        </div>

                        <div *ngIf="showVerify && !showError && !showSuccess">
                            <strong>Phone Verification</strong>
                            <p>Please enter your security code.</p>
                            <form>
                                <div class="form-group form-group-center">
                                    <label>Security Code</label>
                                    <input type="text" class="form-control" id="code" [(ngModel)]="code" name="code" required>
                                </div>
                            </form>
                        </div>

                        <div *ngIf="showSuccess && !showError">
                            <strong>Phone Verification Complete</strong>
                            <p>Your phone number has been successfully verified. Thank you!</p>
                        </div>
                    </div>

                    <div *ngIf="!this.user.receiveSMS">
                        <strong>Phone Verification</strong>
                        <p>If you don't want notifications on your phone, you don't need to do anything on this screen. Just
                            hit next! (Note: If you would like to receive job notifications via text or phone call you will
                            need to add this information after you complete your profile.)</p>
                    </div>
                </div>
                <div class="panel-actions">
                    <button *ngIf="!this.user.receiveSMS" class="btn btn-blue btn-wd center-block" type="submit" (click)="goToStep(4)">NEXT</button>
                    <button *ngIf="showSuccess && !showError" class="btn btn-blue btn-wd" (click)="goToStep(4)">NEXT</button>
                    <button *ngIf="showVerify && !showError && !showSuccess" class="btn btn-blue btn-wd center-block" type="submit" (click)="onVerify()" [disabled]="!code">Submit</button>
                    <button *ngIf="!showVerify && !showError && !showSuccess && this.user.receiveSMS" class="btn btn-blue btn-wd center-block"
                        type="submit" (click)="onSendCode()" [disabled]="!this.phone">Send Code</button>
                </div>


            </div>
        </div>

        <!-- STEP 4 -->
        <div *ngIf="stepNumber==4 && showForm" class="dash-center">
            <div class="register-panel">
                <div>
                    <div class="panel-head">
                        <h2>Create Profile</h2>
                        <hr class="red-bar">
                    </div>
                    <br>
                    <strong class="tagg-blue">Automated Payments through Stripe</strong>
                    <br>
                    <br>
                    <p class="tagg-blue">Tagg partners with Stripe to ensure you are paid in a secure and timely fashion following each ofyour
                        jobs.
                    </p>
                    <br>
                    <p class="tagg-blue">Once you securely provide your debit card or banking information to Stripe, you will be redirected back
                        to Tagg to finalize your profile.</p>
                    <br>
                    <p class="tagg-blue">Click "next" to continue your account set up.</p>
                </div>

                <div class="panel-actions">
                    <button class="btn btn-blue btn-wd" (click)="onAddPayment()">NEXT</button>
                </div>
            </div>
        </div>

        <div class="step-dots">
            <div *ngIf="stepNumber==1" class="text-center tagg-white">
                <div style="display:block;margin-top:15px;">
                    <span class="dot-active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                Step {{stepNumber}} of 4
            </div>

            <div *ngIf="stepNumber==2" class="text-center tagg-white">
                <div style="display:block;margin-top:15px;">
                    <span class="dot"></span>
                    <span class="dot-active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                Step {{stepNumber}} of 4
            </div>

            <div *ngIf="stepNumber==3" class="text-center tagg-white">
                <div style="display:block;margin-top:15px;">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot-active"></span>
                    <span class="dot"></span>
                </div>
                Step {{stepNumber}} of 4
            </div>

            <div *ngIf="stepNumber==4" class="text-center tagg-white">
                <div style="display:block;margin-top:15px;">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot-active"></span>
                </div>
                Step {{stepNumber}} of 4
            </div>
        </div>



        <div class="rg-placeholder"></div>
    </div>
</div>