.register-screen {
    align-items: center;
    background: url('../../assets/register-bg.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
}

h2 {
	color: #0e333e;
	font-weight: 800;
}

.welcome-message h1 {
    font-size: 72px;
}

.reg-panel-heading{
    font-size: 44px;
    margin-bottom: 12px;
}

.welcome-bar{
    display: block;
    height: 3px;
    border: 0;
    border-top: 15px solid #5fca6c;
    margin-bottom: 25px;
    margin-top: 0;
    padding:0;
}

.green-bar{
    display: block;
    height: 3px;
    border: 0;
    border-top: 15px solid #5fca6c;
    margin-top: 0;
    padding:0;
}

.welcome-message h1 {
	color: #fff;
    text-align: center;
}

.welcome-message p {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}

@media screen and (max-width: 991px) {
    .register-screen{
        padding: 100px;
    }
}

@media screen and (max-width: 420px) {
    .register-screen{
        padding: 100px;
    }

    .welcome-message h1 {
        font-size: 48px;
    }
}