﻿@model ConvertInquiryViewModel

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h3>Convert Inquiry</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="ConvertInquiry">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="InquiryId" />
                    <input type="hidden" asp-for="User.PhoneNumber" />
                    <h3 class="black">Confirm District</h3>
                    <div class="alert alert-info">
                        A new district will be created unless you select an existing district.
                    </div>
                    <div class="form-group">
                        <label class="control-label">New District</label>
                        <input class="form-control" asp-for="District.Name" />
                    </div>
                    <div class="text-center">
                        <h4 style="color:black">OR</h4>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Select District</label>
                        <select asp-for="District.Id" class="form-control" asp-items="(SelectList)@ViewData["districts"]">
                            <option disabled selected>Select...</option>
                        </select>
                    </div>
                    <hr class="hr-green" />


                    <h3 class="black">Create School</h3>
                    <div class="alert alert-info">
                        A new school will be created with the following details.
                    </div>
                    <div class="form-group">
                        <label class="control-label">School Name</label>
                        <input class="form-control" asp-for="School.Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">City</label>
                        <input class="form-control" asp-for="School.Address.City" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">State</label>
                        <input class="form-control" asp-for="School.Address.State" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Postal Code</label>
                        <input class="form-control" asp-for="School.Address.PostalCode" />
                    </div>
                    <hr class="hr-green" />
                    <h3 class="black">Invite User as School Administrator</h3>
                    <div class="alert alert-info">
                        <ul>
                            <li>The following user will be created as an administrator for the school above.</li>
                            <li>An email will be sent to the user's email (@Model.User.Email)</li>
                            <li>This user be able to update the school information and add teachers</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" asp-for="User.Email" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input class="form-control" asp-for="User.FirstName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input class="form-control" asp-for="User.LastName" />
                    </div>
                    <button class="btn btn-into btn-rnd" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
