﻿@model Tagg.Domain.ApiModels.DistrictDto
@{
    ViewData["Title"] = "Create District";
}

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h3>@ViewData["Title"]</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="CreateDistrict">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-left">
                        <label class="control-label">School District Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

