﻿@model SchoolDetailViewModel

@{
    ViewData["Title"] = "School Details";
}

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h2>School Details - @Model.School.Name</h2>
        <div class="panel panel-default">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.School.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.ContactPhone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.ContactPhone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.ContactEmail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.ContactEmail)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.StartTime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.StartTime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.EndTime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.EndTime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.Url)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.Url)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.Address.Street1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.Address.Street1)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.Address.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.Address.City)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.Address.State)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.Address.State)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.School.Address.PostalCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.School.Address.PostalCode)
                </dd>
            </dl>

            <div class="panel-footer">
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.School.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>

    <div class="dash-panel dash-6-center">
        <h2>Teachers - @Model.School.Name</h2>
        <div class="pull-right">
            <a asp-action="Create" asp-controller="Teachers" class="btn btn-success">Create Teacher</a>
        </div>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                        <td>Status</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Teachers)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td><a asp-action="Details" asp-controller="Teachers" asp-route-id="@item.Email">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

