﻿@model Tagg.Domain.ApiModels.SchoolDto

@{
    ViewData["Title"] = "Edit School";
}

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h3>@ViewData["Title"]</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Id" hidden="hidden" />

                    <div class="form-group text-left">
                        <label class="control-label">District</label>
                        <select asp-for="DistrictId" class="form-control" asp-items="(SelectList)@ViewData["districts"]"></select>
                    </div>

                    <div class="form-group text-left">
                        <label class="control-label">School Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">School Type</label>
                        <select asp-for="SchoolType" class="form-control" asp-items="(SelectList)@ViewData["schoolTypes"]"></select>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Street Address</label>
                        <input asp-for="Address.Street1" class="form-control" />
                        <span asp-validation-for="Address.Street1" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">City</label>
                        <input asp-for="Address.City" class="form-control" />
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">State</label>
                        <select asp-for="Address.State" class="form-control" asp-items="(SelectList)@ViewData["states"]"></select>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Postal Code</label>
                        <input asp-for="Address.PostalCode" class="form-control" />
                        <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Contact Phone</label>
                        <input asp-for="ContactPhone" class="form-control" />
                        <span asp-validation-for="ContactPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Contact Email</label>
                        <input asp-for="ContactEmail" class="form-control" />
                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Start Time</label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">End Time</label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Website</label>
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div>
                    <a asp-action="Index">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
