﻿@model IEnumerable<Tagg.Domain.ApiModels.SchoolDto>

@{
    ViewData["Title"] = "Schools";
}
<div class="dash-container">
    

    <div class="dash-panel dash-10">
        <h2>Schools</h2>
        <div class="pull-right">
            <a asp-action="Create" class="btn btn-success">Create School</a>
        </div>
        
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Website
                        </th>
                        <th>
                            Postal Code
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>

