﻿@model Tagg.Domain.ApiModels.SchoolInquiryDto

<div class="dash-container">
    <div class="dash-panel dash-6-center">
        <h2>School Inquiry Details</h2>
        <div class="panel panel-default">
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        Name
                    </dt>
                    <dd>
                        @Model.FirstName @Model.LastName
                    </dd>
                    <dt>
                        Title
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        Phone Number
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt>
                        School Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SchoolName)
                    </dd>
                    <dt>
                        District Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DistrictName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.State)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.State)
                    </dd>
                    <dt>
                        Postal Code
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PostalCode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
            </div>
            @{
                var statusData = new Dictionary<string, string>
                    {
                        {"inquiryId", Model.Id },
                        {"status", "Pending" }
                    };
            }
            <div class="panel-footer">
                <a asp-action="Index">Back to List</a> &nbsp; &nbsp;

                @if (Model.Status != Tagg.Domain.TaggStatus.Complete)
                {
                    <a asp-action="UpdateInquiryStatus" asp-all-route-data="statusData">Mark As Pending</a> 
                    @Html.ActionLink(" | Convert", "ConvertInquiry", new { id = Model.Id });
                }
            </div>
        </div>
    </div>
</div>




