.content-grid{
    display:grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr 1fr;
}

.content-grid-nomenu{
    display:grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.dash-grid-6{
    padding:45px 5%;
    display:grid;
    grid-column-gap: 3%;
    grid-row-gap:1em;
    grid-template-rows: 3em auto;
    grid-template-columns:repeat(6, 1fr);
}

.dash-grid-3{
    padding: 45px 5%;
    display:grid;
    grid-column-gap: 3%;
    grid-row-gap:1em;
    grid-template-rows: 3em 78vh;
    grid-template-columns: 1fr 1fr 1fr;
}

.dash-grid-6 .grid-row{
    grid-column: auto / span 6;
}

.dash-grid-3 .grid-row{
    grid-column: auto / span 3;
    grid-row: auto / span 1;
}

.dash-grid-calendar{
    padding: 45px 5%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 2em auto;
}

.dash-grid-center{
    padding: 45px 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px auto;
    grid-row-gap: 20px;
}

.panel-3{
    grid-column: auto / span 2;
    /* grid-row: 1 / span 1; */
}

.panel-2{
    grid-column: auto / span 3;
}
.panel-1{
    grid-column: auto / span 1;
}

.dash-center{
    margin-left: 20%;
    margin-right: 20%;
}

.dash-center-sm{
    margin-left: 30%;
    margin-right: 30%;
}