/* PHONES (xs) */
@media screen and (max-width:768px){
    .side-nav{
        display:none;
    }
    .side-nav-right{
        display: block;
    }
    .content-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 0 auto;
    }
    .dash-grid-3{
        grid-template-columns: 1fr;
        display:block;
    }
    .dash-grid-calendar{
        grid-template-columns: 1fr;
    }
}

/* TABLETS (sm) */
@media screen and (min-width:767px) and (max-width:992px){
    .side-nav{
        display:none;
    }
    .side-nav-right{
        display: block;
    }
    .content-grid{
        grid-template-columns: 1fr;
        grid-template-rows:0px auto;
    }
}

/* SMALL LAPTOPS (md) */
@media screen and (min-width:993px) and (max-width:1199px){
    .side-details{
        display:none;
    }
    .side-nav-right{
        display: none;
    }
    .content-grid{
        grid-template-columns: 1fr 7fr;
    }
    .side-toolbar-mini{
        display: none;
    }
}

/* LAPTOPS AND DESKTOPS (lg) */
@media screen and (min-width:1200px){
    .side-nav-right{
        display: none;
    }
}