<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.5.1/oidc-client.js"></script>
<script type="text/javascript">
   var mgr = new Oidc.UserManager();
   if(mgr){
       mgr.signinSilentCallback();
   }
</script>