<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="dash-grid-center">
    <div class="dash-center">
      <div class="dash-panel">
        <div class="panel-head">
          <h2 class="green-underline">Create Job</h2>
        </div>
        <div *ngIf="showUpdateError" class="alert alert-danger">
          Oops...something went wrong. Please check to make sure you didn't make a mistake
        </div>
        <div *ngIf="showNoSubs" class="alert alert-danger">
            <strong>There are currently no subs available for this job.</strong>
          </div>
        <div *ngIf="schools" class="form-group">
          <label>Select School:</label>
          <mat-form-field>
            <mat-select [(value)]="selectedSchoolId" color="primary" (change)="onSchoolSelected()">
              <mat-option *ngFor="let school of schools" [value]="school.id">{{school.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="teachers" class="form-group">
            <label>Select Teacher:</label>
            <mat-form-field>
              <mat-select [(value)]="selectedTeacherId" color="primary" (change)="onTeacherSelected()">
                <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.firstName}} {{teacher.lastName}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="showDateTime" class="form-group">
          <label>Day:</label>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [formControl]="pickerDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div style="display:block;margin-top:25px;">
            <label>Start Time:</label>
            <mat-form-field class="time-field">
              <mat-select [(value)]="startHour" color="primary">
                <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
              </mat-select>
            </mat-form-field> :
            <mat-form-field class="time-field">
              <mat-select [(value)]="startMinute" color="primary">
                <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button class="time-button" (click)="toggleStartMeridiem()">{{startMeridiem.value}}</button>

            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;

            <label>End Time:</label>
            <mat-form-field class="time-field">
              <mat-select [(value)]="endHour" color="primary">
                <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
              </mat-select>
            </mat-form-field> :
            <mat-form-field class="time-field">
              <mat-select [(value)]="endMinute" color="primary">
                <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button class="time-button" (click)="toggleEndMeridiem()">{{endMeridiem.value}}</button>
          </div>


        </div>

        <div class="text-center">
          <button class="btn btn-green" [disabled]="!startHour || !endHour || showNoSubs" (click)="onJobCreate()">
            Create Job
          </button>
        </div>




        <!-- <form *ngIf="showForm" [formGroup]="jobForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="form-group">
            <input class="form-control" formControlName="firstName" placeholder="First Name">
            <div class="text-danger" *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
              <div *ngIf="firstName.errors.required">First name is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="lastName" placeholder="Last Name">
            <div class="text-danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
              <div *ngIf="lastName.errors.required">Last name is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="email" placeholder="Email">
            <div class="text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
              <div *ngIf="email.errors.required">Email is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="phoneNumber" placeholder="Phone Number">
            <div class="text-danger" *ngIf="!phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)">
              <div *ngIf="phoneNumber.errors.required">Phone number is required</div>
            </div>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</div>