<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div class="list-grid">
    <div>
      <h2 class="tagg-white">Jobs</h2>
    </div>
    <div class="actions-top">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <div class="action-button">
        <a [routerLink]="['/jobs', 'create']" class="btn btn-green">Create Job</a>
      </div>
    </div>

    <div>
      <div class="search-panel">
        <div *ngIf="!selectedJob" class="dash-panel"></div>
        <div *ngIf="selectedJob" class="dash-panel">
          <div class="panel-head">
            <h3 class="green-underline">{{selectedJob.startDate | date:'longDate'}}</h3>
          </div>

          <div class="search-field">
            <label>School</label>
            <br>{{selectedJob.schoolName}}
            <br>
          </div>

          <div class="search-field">
            <label>Teacher</label>
            <br>{{selectedJob.teacherName}}
            <br>
          </div>

          <div class="search-field">
            <label>Sub</label>
            <br>{{selectedJob.substituteName}}
            <br>
          </div>

          <div class="search-field">
            <label>Grade</label>
            <br>{{subjects[selectedJob.subject]}}
            <br>
          </div>

          <div class="search-field">
            <label>Start Time</label>
            <br>{{selectedJob.startDate | date:'shortTime'}}
            <br>
          </div>

          <div class="search-field">
            <label>End Time</label>
            <br>{{selectedJob.endDate | date:'shortTime'}}
            <br>
          </div>

          <div class="search-field">
            <label>Status</label>
            <br>
            <div *ngIf="selectedJob.subNeeded">{{jobStatus[selectedJob.status]}}</div>
            <div *ngIf="!selectedJob.subNeeded">Leave</div>
            <br>
          </div>

          <div style="margin-top:10px;">
            <button class="link-button" (click)="onEditJob(selectedJob.id)">Edit</button> &nbsp; &nbsp; &nbsp; &nbsp;
          </div>
        </div>
      </div>

      <div *ngIf="selectedJob && selectedJob.status != 2" class="text-center">
        <button class="btn btn-red" (click)="onCancelJob(selectedJob.id)">Cancel Job</button>
      </div>
    </div>

    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div>
      <mat-table [dataSource]="dataSource" matSort matSortActive="startDate" matSortDirection="desc" class="mat-eleveation-z8">
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.startDate | date:'shortDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="schoolName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>School</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.schoolName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="substituteName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Sub</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.substituteName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="teacherName">
          <mat-header-cell *matHeaderCellDef>Teacher</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.teacherName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="subject">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
          <mat-cell *matCellDef="let row">{{subjects[row.subject]}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.subNeeded ? jobStatus[row.status] : 'Leave'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" (click)="onSelectJob(row.id)"></mat-row>
      </mat-table>

      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>