.actions-top{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.action-button{
    justify-self: end;
}


.mat-column-select{
    flex: 0 0 50px;
}

.mat-column-date{
    flex: 0 0 75px;
}

.mat-row{
    cursor: pointer;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }