﻿@{
    ViewData["Title"] = "Tagg Education";
}

<div class="dash-container">
    <div class="dash-panel dash-4-center text-center">
        <h2>@ViewData["Title"]</h2>
        <br/><br />
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <h3 class="black">Substitutes login here</h3>
                        <br/><br />
                        <a href="@ViewData["Subs"]" class="btn btn-info btn-rnd">Subs</a>
                    </div>
                    <div class="col-md-6 text-center">
                        <h3 class="black">Teachers login here</h3>
                        <br/><br />
                        <a href="@ViewData["Teachers"]" class="btn btn-info btn-rnd">Teachers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
