﻿@model Tagg.Admin.Models.JobCreateViewModel
@{ 
    ViewData["Title"] = "Create New Job";
}
<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h3>@ViewData["Title"]</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="TeacherId" hidden="hidden" />
                    <div class="form-group">
                        <label asp-for="SchoolName" class="control-label"></label>
                        <input asp-for="SchoolName" class="form-control" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherName" class="control-label"></label>
                        <input asp-for="TeacherName" class="form-control" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PayAmount" class="control-label"></label>
                        <input asp-for="PayAmount" class="form-control" />
                        <span asp-validation-for="PayAmount" class="text-danger"></span>
                    </div>
                    @*<div class="input-group date" data-provider="datepicker">
                        <input type="text" class="form-control" />
                        <div class="input-group-addon glyphicon glyphicon-calendar"></div>
                    </div>*@
                    
                    <div class="form-group">
                        @*<div><input type="text" id="fromDate" class="datepicker" /></div>*@
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" type="text" id="startDate" class="datepicker form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" type="text" id="endDate" class="datepicker form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create Job" class="btn btn-default" />
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div>
                    <a asp-action="Index">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
