﻿@model IEnumerable<Tagg.Domain.ApiModels.JobDto>
@{
    ViewData["Title"] = "Jobs";
}

<div class="dash-container">
    <div class="dash-panel dash-6-center">
        <h2>Jobs</h2>
        <div class="pull-right">
            <a asp-action="Teachers" class="btn btn-success">Create Job</a>
        </div>

        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>School</th>
                        <th>Teacher</th>
                        <th>Amount</th>
                        <th>Start</th>
                        <th>End</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SchoolName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeacherName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


