﻿@model TeacherSelectModel

@{
    ViewData["Title"] = "New Job - Select Teacher";
}

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h3>@ViewData["Title"]</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="Teachers">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group text-left">
                        <label class="control-label">Select School</label>
                        <select asp-for="SchoolId" class="form-control" asp-items="@Model.SchoolList"></select>
                    </div>*@

                    <div class="form-group text-left">
                        <label class="control-label">Teacher</label>
                        @*TODO : Add filter to get teachers for selected school*@
                        <select asp-for="TeacherId" class="form-control" asp-items="@Model.TeacherList"></select>
                    </div>
                    <div class="form-group text-left">
                        <input type="submit" value="Continue" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div>
                    <a asp-action="Index">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
