﻿@model Tagg.Domain.ApiModels.UserCreateDto
@{
    ViewData["Title"] = "Create User";
}

<div class="dash-container">
    <div class="dash-panel dash-6-center">
        <h2>@ViewData["Title"]</h2>
        <div class="panel panel-default">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">User Type</label>
                    <select id="type-select" asp-for="UserType" class="form-control" asp-items="Html.GetEnumSelectList<Tagg.Domain.UserType>()"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">School</label>
                    <select id="school-select" asp-for="SchoolId" class="form-control" asp-items="(SelectList)@ViewData["schools"]" disabled="disabled"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Send Invite Email?</label>
                    <input type="checkbox" asp-for="SendInvitEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
            <div class="panel-footer">
                <a asp-action="Index" class="btn btn-default">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('#type-select').change(function () {
            var typeVal = $('#type-select').val();
            if (typeVal > 0 && typeVal < 4) {
                
                $('#school-select').prop('disabled', false);
            }
            else {
                $('#school-select').prop('disabled', true);
            }
        });
    </script>
}
