﻿@model IEnumerable<Tagg.Domain.ApiModels.UserDto>

@{
    ViewData["Title"] = "All Users";
}

<div class="dash-container">
    <div class="dash-panel dash-6-center">
        <h2>@ViewData["Title"]</h2>
        <div class="pull-right">
            <a asp-action="Create" class="btn btn-success">Create User</a>
        </div>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Phone Number
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



