<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="dash-grid-center">
    <div class="dash-center">
      <div class="dash-panel">
        <div class="panel-head">
          <h2 class="green-underline">Create User</h2>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>User Type</mat-label>
            <mat-select [(value)]="userTypeParam" color="primary" (change)="onTypeSelected()">
              <mat-option *ngFor="let type of typeSelect" [value]="type.key">{{type.value}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="requireSchool">
            <mat-label>School</mat-label>
            <mat-select [(value)]="schoolOrDistrictId" color="primary" (change)="onSchoolSelected()">
              <mat-option *ngFor="let school of schoolSelect" [value]="school.id">{{school.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="requireDistrict">
            <mat-label>District</mat-label>
            <mat-select [(value)]="schoolOrDistrictId" color="primary" (change)="onSelectDistrict()">
              <mat-option *ngFor="let district of districtSelect" [value]="district.id">{{district.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="showUpdateError" class="alert alert-danger">
          Oops...something went wrong. Please check to make sure you didn't make a mistake
        </div>
        <form *ngIf="showForm" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="form-group">
            <input class="form-control" formControlName="firstName" placeholder="First Name">
            <div class="text-danger" *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
              <div *ngIf="firstName.errors">First name is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="lastName" placeholder="Last Name">
            <div class="text-danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
              <div *ngIf="lastName.errors">Last name is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="email" placeholder="Email">
            <div class="text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
              <div *ngIf="email.errors">Email is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="phoneNumber" placeholder="Phone Number">
            <div class="text-danger" *ngIf="!phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)">
              <div *ngIf="phoneNumber.errors">Phone number is required</div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-green" [disabled]="userForm.pristine || !userForm.valid">
              Create User
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>