<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div class="list-grid">
    <div>
      <h2 class="tagg-white">Users</h2>
    </div>
    <div class="actions-top">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <div class="action-button">
        <a [routerLink]="['/users', 'create']" class="btn btn-green">Create User</a>
      </div>
    </div>

    

    <div class="search-panel">
        <div *ngIf="!selectedUser" class="dash-panel"></div>
      <div *ngIf="selectedUser" class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{selectedUser.firstName}} {{selectedUser.lastName}}</h3>
        </div>
        <div class="search-field">
          <label>Email</label>
          <br>{{selectedUser.email}}
          <br>
        </div>

        <div class="search-field">
          <label>Phone</label>
          <br>{{selectedUser.phoneNumber}}
          <br>
        </div>

        <div class="search-field">
          <label>User Type</label>
          <br>{{userTypes[selectedUser.userType]}}
          <br>
        </div>

        <div style="margin-top:10px;">
          <button *ngIf="!selectedUser.isLockedOut" class="link-button" (click)="onLockout()">Disable</button>
          <button *ngIf="selectedUser.isLockedOut" class="link-button" (click)="onUnlock()">Enable</button> &nbsp; &nbsp; &nbsp; &nbsp;
          <button class="link-button" (click)="onSendMessage()">Send Message</button>
          <br>
          <button class="link-button" (click)="onResendInvite(selectedUser.id)">Resend Invite</button> &nbsp; &nbsp; &nbsp; &nbsp;
          <button class="link-button" (click)="onGetInviteLink(selectedUser.id)">Get Invite Link</button>
        </div>
      </div>
    </div>

    <div>
      <mat-table [dataSource]="dataSource" class="mat-eleveation-z8">
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{userTypes[row.userType]}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.phoneNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef>Enabled</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div *ngIf="row.isLockedOut">No</div>
            <div *ngIf="!row.isLockedOut">Yes</div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" (click)="onSelectUser(row.id)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>