﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tagg.Admin</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/lib/datepicker/bootstrap-datepicker.css" />
    
</head>
<body>
    <div id="fullSideNav" class="sidenav">
        @*<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>*@
        <a href="javascript:void(0)" class="closebtn" id="fullNavClose">&times;</a>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a href="#">Profile</a>
        <a href="#">Account</a>
        <a asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
    </div>

    <div id="smallSideNav" class="sidenav">
        @*<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>*@
        <a href="javascript:void(0)" class="closebtn" id="smallNavClose">&times;</a>
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a asp-area="" asp-controller="Substitutes" asp-action="Index" asp-route-id="Active">Subs</a>
        <a asp-area="" asp-controller="Schools" asp-action="Index">Schools</a>
        <a asp-area="" asp-controller="Jobs" asp-action="Contact">Jobs</a>
        <div style="min-height:50px;"></div>
        <a href="#">Profile</a>
        <a href="#">Account</a>
        <a asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
    </div>

    <div class="body-container" id="main">
        <header class="layout-item layout-item-header">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <div style="padding-left:30px !important;">
                    <img src="~/images/Tagg-Logo-Blue-Green.png" height=50 width=100>
                </div>
            </a>
            <div class="burg">
                @*<span class="glyphicon glyphicon-menu-hamburger" onclick="openNav()"></span>*@
                    <span class="glyphicon glyphicon-menu-hamburger" id="hamButton"></span>
            </div>
        </header>

        <nav class="layout-item layout-item-navigation">
            <a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
            <a asp-area="" asp-controller="Substitutes" asp-action="Index" asp-route-id="Active">Subs</a>
            <a asp-area="" asp-controller="Schools" asp-action="Index">Schools</a>
            <a asp-area="" asp-controller="Jobs" asp-action="Index">Jobs</a>
        </nav>

        <article class="layout-item layout-item-content">
            @RenderBody()
        </article>

        <footer class="layout-item layout-item-footer">
            &copy; Tagg Education, LLC
        </footer>
    </div>

    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#hamButton').click(function () {
                $("#fullSideNav").css('width', '250px');
                $("#smallSideNav").css('width', '100%');
            });

            $('#fullNavClose').click(function () {
                $("#fullSideNav").css('width', '0px');
            });

            $('#smallNavClose').click(function () {
                $("#smallSideNav").css('width', '0px');
            });
            
            $(".datepicker").datepicker({ format: 'mm/dd/yyyy', autoclose: true, todayBtn: 'linked' });
        });
        //function openNav() {
            //$("#fullSideNav").style.width = "250px";
            //document.getElementById("fullSideNav").style.width = "250px";
            //document.getElementById("smallSideNav").style.width = "100%";
        //}

        //function closeNav() {
            //document.getElementById("fullSideNav").style.width = "0";
            //document.getElementById("smallSideNav").style.width = "0";
        //}
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
