<div class="dialog-actions" (click)="onNoClick()">
    <i class="material-icons">close</i>
</div>

<div class="custom-modal">
    <div class="custom-modal-body">
        <div class="text-center">
            <h3>This link will expire in 24 Hours</h3>
            <br>
            <textarea #linkbox type="text" [(ngModel)]="data.link" rows="10" cols="50" readonly="readonly"></textarea>
            <textarea #selBox type="text" [(ngModel)]="data.link" style="position:'fixed';left:0;top:0;opacity:0;"></textarea>
        </div>
        <div class="text-center">
            <button class="btn btn-green btn-rnd" (click)="onCopyLink()">Copy Link</button>
            <button class="btn btn-gray btn-rnd" (click)="onNoClick()">Close</button>
        </div>
    </div>

</div>