<div class="dialog-actions" (click)="onNoClick()">
    <i class="material-icons">close</i>
</div>

<div class="custom-modal">
    <div class="text-center" *ngIf="data.modalType == 0 || data.modalType == 1">
        <h2 class="tagg-blue">Job #{{data.job.id | slice:18 | uppercase}}</h2>
        <br>
        <br>
    </div>
    <div *ngIf="error" class="alert alert-danger">
        Oops...we weren't able to cancel that job for you. Please contact us as support@taggeducation.com if you continue to experience
        this problem.
    </div>
    <div>
        <h3 class="tagg-blue">{{data.job.startDate | date:'longDate'}}</h3>
        <br>
        <em>{{subjects[data.job.subject]}}, {{data.job.schoolName}}</em>
        <br>
        <br>
    </div>
    <div class="no-click">
        <div class="detail-item">
            <h4 class="tagg-green">Details</h4>
            <div class="grid">
                <div>Job #:</div>
                <div>{{data.job.id | slice:18 | uppercase}}</div>

                <div>Date:</div>
                <div>{{data.job.startDate | date:'longDate'}}</div>

                <div>Teacher:</div>
                <div>{{data.job.teacherName}}</div>

                <div>Sub:</div>
                <div *ngIf="data.job.substituteName">{{data.job.substituteName}}</div>
                <div *ngIf="!data.job.substituteName">Pending</div>

                <div>Total:</div>
                <div>{{data.job.chargeAmount | currency: 'USD'}}</div>

                <div>Status:</div>
                <div>{{jobStatus[data.job.status]}}</div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button *ngIf="data.modalType != 1 && data.job.status != 2" class="btn btn-red btn-rnd" (click)="onCancelJob(data.job.id)">Cancel Job</button>
        <button *ngIf="data.modalType != 1 && data.job.status == 2" class="btn btn-blue btn-rnd" (click)="onCancelJob(data.job.id)">Reopen Job</button>
    </div>
</div>