<div class="custom-modal">
    <div class="dialog-actions">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>

    <div class="custom-modal-body">
        <div class="text-center">
            <h2>Edit Job</h2>
        </div>

        <div class="text-center" *ngIf="data.modalType == 0 || data.modalType == 1">
            <h2 class="tagg-blue">Job #{{data.job.id | slice:18 | uppercase}}</h2>
            <br>
            <br>
        </div>
        <div *ngIf="error" class="alert alert-danger">
            Oops...we weren't able to cancel that job for you. Please contact us as support@taggeducation.com if you
            continue to experience
            this problem.
        </div>
        <div>
            <h3 class="tagg-blue">{{data.job.startDate | date:'longDate'}}</h3>
            <br>
            <em>{{subjects[data.job.subject]}}, {{data.job.schoolName}}</em>
            <br>
            <br>
        </div>
        <div class="no-click">
            <div class="detail-item">
                <h4 class="tagg-green">Details</h4>
                <div class="grid">
                    <div>Job #:</div>
                    <div>{{data.job.id | slice:18 | uppercase}}</div>

                    <div>Date:</div>
                    <div>{{data.job.startDate | date:'longDate'}}</div>

                    <div>Teacher:</div>
                    <div>{{data.job.teacherName}}</div>

                    <div>Sub:</div>
                    <div *ngIf="data.job.substituteName">{{data.job.substituteName}}</div>
                    <div *ngIf="!data.job.substituteName">Pending</div>

                    <div>Total:</div>
                    <div>{{data.job.chargeAmount | currency: 'USD'}}</div>

                    <div>Status:</div>
                    <div>{{jobStatus[data.job.status]}}</div>
                </div>
            </div>
        </div>
    </div>

</div>