<div class="custom-modal">
    <div class="dialog-actions">
        <i class="material-icons" (click)="onNoClick()">close</i>
    </div>
    
    <div class="custom-modal-body">
        <div class="text-center">
            <h2>New Message</h2>
        </div>
        <div class="new-message-container">
            <div class="message-control-group">
                <label class="message-label">Send To:</label>
                <mat-form-field>
                    <mat-select [(value)]="sendToOption">
                        <mat-option *ngFor="let option of sendToOptions" [value]="option.value">
                            {{option.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- USER SEARCH -->
            <div *ngIf="sendToOption == 1" class="message-control-group">
                <label class="message-label">To:</label>
                <mat-form-field [style.width.px]="400">
                    <input type="text" aria-label="Number" matInput [formControl]="userControl" [matAutocomplete]="userAuto">
                    <mat-autocomplete #userAuto="matAutocomplete" [displayWith]="displayUser">
                        <mat-option *ngFor="let option of usersFiltered | async" [value]="option">
                            {{option.firstName}} {{option.lastName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>


            <!-- SCHOOL SEARCH -->
            <div *ngIf="sendToOption == 2" class="message-control-group">
                <label class="message-label">To:</label>
                <mat-form-field [style.width.px]="400">
                    <input type="text" aria-label="Number" matInput [formControl]="schoolControl" [matAutocomplete]="schoolAuto">
                    <mat-autocomplete #schoolAuto="matAutocomplete" [displayWith]="displaySchool">
                        <mat-option *ngFor="let option of schoolsFiltered | async" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- SEARCH DISTRICTS -->
            <div *ngIf="sendToOption == 3" class="message-control-group">
                <label class="message-label">To:</label>
                <mat-form-field [style.width.px]="400">
                    <input type="text" aria-label="Number" matInput [formControl]="districtControl" [matAutocomplete]="districtAuto">
                    <mat-autocomplete #districtAuto="matAutocomplete" [displayWith]="displayDistrict">
                        <mat-option *ngFor="let option of districtsFiltered | async" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="message-control-group">
                <label class="message-label">Subject:</label>
                <mat-form-field [style.width.px]="400">
                    <input type="text" matInput [(ngModel)]="messageSubject">
                </mat-form-field>
            </div>

            <div class="message-control-group">
                <label class="message-label">Message:</label>
                <mat-form-field [style.width.px]="400">
                    <textarea matInput [(ngModel)]="messageBody" rows="8"></textarea>
                </mat-form-field>
            </div>
            <div class="text-center">
                <button class="btn btn-green" (click)="onSendMessage()" [disabled]="!sendToOption">SEND</button>
                <mat-spinner *ngIf="showSpinner"></mat-spinner>
            </div>
        </div>
    </div>
</div>