<div class="dialog-actions" (click)="onNoClick()">
    <i class="material-icons">close</i>
</div>

<div class="custom-modal">
    <div class="text-center" *ngIf="data.modalType == 0 || data.modalType == 1">
        <h2 class="tagg-blue">Delete User {{data.user.firstName}} {{data.user.lastName}}</h2>
        <br>
        <br>
    </div>
    <div class="alert alert-danger">
        <strong>Are you sure you want to delete this user? This cannot be undone.</strong>
    </div>
    
    <div class="no-click">
        <div class="detail-item">
            <h4 class="tagg-green">Details</h4>
            <div class="grid">
                <div>User Id #:</div>
                <div>{{data.user.id}}</div>

                <div>First Name:</div>
                <div>{{data.user.firstName}}</div>

                <div>Last Name:</div>
                <div>{{data.user.lastName}}</div>

                <div>Email:</div>
                <div>{{data.user.email}}</div>

                <div>User Type:</div>
                <div>{{data.user.type}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="showSuccess" class="alert alert-success">
        <strong>User successfully deleted.</strong>
    </div>

    <div *ngIf="showError" class="alert alert-danger">
        <strong>Failed to delete user. Contact support.</strong>
    </div>

    <div *ngIf="!showSuccess && !showError" class="text-center">
        <button class="btn btn-red btn-rnd" (click)="onDeleteConfirm()">Yes, Delete User</button>
        <button class="btn btn-blue btn-rnd" (click)="onCancelJob(data.job.id)">No, Don't Delete</button>
    </div>
</div>