<div class="content-grid">
        <!-- <app-side-nav></app-side-nav> -->
        <div></div>
        <div class="dash-grid-center">
            <div class="dash-center-sm">
                <div *ngIf="!showEmail" class="dash-panel">
                    <div class="panel-head">
                        <h3 class="green-underline">Welcome to Tagg Education!</h3>
                    </div>
    
                    <div>
                        <p>We need to confirm your account before getting started. Please review the email address below and click
                            send to receive a confirmation link:</p>
    
                        <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
    
                        <form (ngSubmit)="onVerify()">
                            <div class="form-group text-center">
                                <label>Email Address:</label>
                                {{displayEmail}}
                            </div>
    
                            <div class="text-center">
                                <button type="submit" class="btn btn-red">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div *ngIf="showEmail" class="dash-panel">
                    <h3 class="green-underline">Thank you</h3>
                    <div>
                        <div>You will receive a email shortly with a link to verify your account.</div>
                        <div class="offset-v-50"></div>
                    </div>
                </div>
    
                <div *ngIf="errorMessage" class="dash-panel">
                    <div>
                        <p>{{errorMessage}}</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>