﻿@{ 
    ViewData["Title"] = "Error";
}

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h2>Oops...something went wrong.</h2>
        <div class="panel panel-default">
            <h3 class="black">Error code: @ViewData["ErrorMessage"]</h3>
        </div>
    </div>
</div>
