﻿@model AdminDashModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="dash-container">
    <div class="dash-panel dash-3">
        <h2>Subs</h2>
        <div class="panel panel-default">
            <div class="list-group">
                <a asp-controller="Substitutes" asp-action="Index" asp-route-id="Active" class="list-group-item">
                    Active Subs
                    @*@if (Model.ActiveSubs > 0)
                        {
                            <span class="badge">@Model.ActiveSubs</span>

                        }*@
                </a>
                <a asp-controller="Substitutes" asp-action="Index" asp-route-id="Disabled" class="list-group-item">
                    Disabled Subs
                    @*@if (Model.DisabledSubs > 0)
                        {
                            <span class="badge">@Model.DisabledSubs</span>
                        }*@
                </a>
                <a asp-controller="Substitutes" asp-action="Create" class="list-group-item">Create Sub <span class="label label-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span></span></a>
            </div>
        </div>
    </div>

    <div class="dash-panel dash-3">
        <h2>Jobs</h2>
        <div class="panel panel-default">
            <a asp-controller="Jobs" asp-action="Index" class="list-group-item">All Jobs <span class="badge"></span></a>
            <a asp-controller="Jobs" asp-action="Index" class="list-group-item">This Week <span class="badge"></span></a>
            <a asp-controller="Jobs" asp-action="Teachers" class="list-group-item">Create Job <span class="label label-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span></span></a>
        </div>
    </div>

    <div class="dash-panel dash-3">
        <h2>Schools &amp; Districts</h2>
        <div class="panel panel-default">
            <div class="list-group">
                <a asp-controller="Schools" asp-action="Index" class="list-group-item">All Schools <span class="badge"></span></a>
                <a asp-controller="Teachers" asp-action="Index" class="list-group-item">All Teachers <span class="badge"></span></a>
                <a asp-controller="Schools" asp-action="CreateDistrict" class="list-group-item">Create District <span class="label label-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span></span></a>
                <a asp-controller="Schools" asp-action="Create" class="list-group-item">Create School <span class="label label-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span></span></a>
                <a asp-controller="Teachers" asp-action="Create" class="list-group-item">Create Teacher <span class="label label-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span></span></a>
            </div>
        </div>
    </div>

    <div class="dash-panel dash-3">
        <h2>User Management</h2>
        <div class="panel panel-default">
            <a asp-controller="Users" asp-action="Index" class="list-group-item">All Users<span class="badge"></span></a>
            <a asp-controller="Users" asp-action="Index" asp-route-status="Incomplete" class="list-group-item">
                Incomplete Profiles
                @*@if (Model.IncompleteApplicants > 0)
                    {
                        <span class="badge">@Model.IncompleteApplicants</span>
                    }*@
            </a>
            <a asp-controller="Users" asp-action="Create" class="list-group-item">Create User <span class="label label-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span></span></a>
        </div>
    </div>

    @*<div class="dash-panel dash-3">
            <h2>Payments</h2>
            <div class="panel panel-default">
                <a asp-controller="Payments" asp-action="Index" class="list-group-item">Search <span class="badge"></span></a>
            </div>
        </div>*@

    <div class="dash-panel dash-3">
        <h2>Waiting For Admin</h2>
        <div class="panel panel-default">
            <a asp-controller="Substitutes" asp-action="Index" asp-route-id="New" class="list-group-item">
                Applicants
                @if (Model.PendingApplicants > 0)
                {
                    <span class="label label-warning pull-right">New! @Model.PendingApplicants</span>
                }
            </a>
            <a asp-controller="Schools" asp-action="Inquiries" class="list-group-item">
                School Inquiries
                @if (Model.InquiryCount > 0)
                {
                    <span class="label label-warning pull-right">New! @Model.InquiryCount</span>
                }

            </a>
        </div>
    </div>
</div>
