﻿@model LoginResult

<div class="dash-container">
    <div class="dash-panel dash-4">
        <h3>@ViewData["Title"]</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>@Model.Token</p>
                <p>@Model.Expiration</p>
            </div>
        </div>
    </div>
</div>


