﻿@model LoginViewModel

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h3>Login</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="Login">
                    <div class="form-group text-left">
                        <label class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                    </div>

                    <div class="form-group text-left">
                        <label class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <div class="form-group text-left">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

