﻿@model IEnumerable<Tagg.Domain.Substitute>

    <h2>Under Construction...</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTeachingLicense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTranscripts)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ApplicationComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LinkedInUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPayAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDistance)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasTeachingLicense)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasTranscripts)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LinkedInUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinPayAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxDistance)
                </td>

                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
