<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="dash-grid-center">
    <div *ngIf="verifyForm" class="dash-center-sm">
      <div class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{school.name}} Bank Verification</h3>
        </div>
        <div *ngIf="showError" class="alert alert-danger">
          <strong>Oops...we were not able to verify the amounts you entered. Please check to make sure the amounts are correct. If
            they are correct, please switch Amount 1 and Amount 2 and resubmit.</strong>
        </div>
        <form [formGroup]="verifyForm" (ngSubmit)="onVerify()">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Amount 1" formControlName="amountOne">
            <div class="text-danger">
              <div *ngIf="amountOne.dirty && !amountOne.valid">Amount is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Amount 2" formControlName="amountTwo">
            <div class="text-danger">
              <div *ngIf="amountTwo.dirty && !amountTwo.valid">Amount is required</div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-red center-block" [disabled]="!verifyForm.valid || verifyForm.pristine">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-side-details></app-side-details>
</div>