<i class="material-icons dialog-right" (click)="onNoClick()">close</i>

<div class="custom-modal-body">
  <div class="text-center">
    <img *ngIf="data.teacher.picture" class="avatar-image" src="{{photos + data.teacher.picture}}" height=100 width=100>
    <img *ngIf="!data.teacher.picture" class="avatar-image" src="/assets/avatarPlaceholder.png" height=100 width=100>
  </div>
  <br>
  <br>

  <div class="text-center">
    <div class="panel-head">
      <h3 class="green-underline">{{data.teacher.firstName}} {{data.teacher.lastName}} Pay Rate</h3>
    </div>
    
    <div>
      Current Pay Rate: {{payDisplay | currency:'USD'}}
    </div>
    <br>

    <mat-form-field>
      <input matInput placeholder="Pay Per Day" [(ngModel)]="teacherPay">
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
    <br>
    <br>

    <div style="margin-top:10px;">
      <!-- <button class="link-button" (click)="onViewProfile()">View Profile</button> &nbsp; &nbsp; &nbsp; &nbsp; -->
      <button class="btn btn-red" (click)="onNoClick()">Cancel</button>
      <button class="btn btn-green" (click)="onSavePay()">Save</button>
    </div>
  </div>

  <!-- <div class="dash-panel">
    
  </div> -->
</div>