<i class="material-icons dialog-right" (click)="onNoClick()">close</i>

<div *ngIf="school" class="custom-modal-body">
    <div class="text-center">
        <h2 class="text-dark">Request a Sub</h2>
        <br>
        <h2>for {{data.teacher.firstName}} {{data.teacher.lastName}}</h2>
        <br>
        <em>{{subjectDisplay}}, {{school.name}}</em>
        <div *ngIf="error" class="alert alert-danger">
            Oops...we weren't able to complete your request. Please contact us at support@taggeducation.com.
        </div>
        <br>
        <br>
    </div>
    <div class="text-center">
        <mat-form-field>
            <!-- <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="Choose a date" [min]="minDate" [formControl]="pickerDate"> -->
            <!-- FOR TESTING -->
            <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="Choose a date" [formControl]="pickerDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- <h3 class="text-dark">{{job.startDate | date:'longDate'}}</h3>
        <br>
        
        <br>
        <br> -->
    </div>
    <div style="margin-bottom:50px; margin-top:50px;" class="text-center">
        <div style="display: inline-block;margin-right:25px;">
            <label>Start Time</label>
            <br>
            <mat-form-field class="time-field">
                <mat-select [(value)]="startHour" color="primary">
                    <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
                </mat-select>
            </mat-form-field> :
            <mat-form-field class="time-field">
                <mat-select [(value)]="startMinute" color="primary">
                    <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="time-button" (click)="toggleStartMeridiem()">{{startMeridiem.value}}</button>
        </div>
        <div style="display: inline-block;">
            <label>End Time</label>
            <br>
            <mat-form-field class="time-field">
                <mat-select [(value)]="endHour" color="primary">
                    <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
                </mat-select>
            </mat-form-field> :
            <mat-form-field class="time-field">
                <mat-select [(value)]="endMinute" color="primary">
                    <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="time-button" (click)="toggleEndMeridiem()">{{endMeridiem.value}}</button>
        </div>
        <mat-error *ngIf="timeError">Start time must be before end time.</mat-error>
    </div>
    <div class="text-center">
        <button (click)="onJobCreate()" class="btn btn-green" [disabled]="timeError">REQUEST SUB</button>
    </div>
</div>