<div class="content-grid">
  <app-side-nav></app-side-nav>

  <!-- <div *ngIf="!searchResult && !showNoSubs" class="search-grid">
      <mat-spinner></mat-spinner>
  </div> -->
  <div *ngIf="!transactions"></div>

  <!-- <div *ngIf="showNoTransactions" class="search-grid">
    <div class="search-panel">
      <div class="dash-panel">
        <div class="search-field">
          <label>There are currently no transactions.</label>
        </div>
      </div>
    </div>
  </div> -->

  <div *ngIf="transactions" class="search-grid">
    <div></div>
    <div>
      <label class="tagg-white">School:</label>
      <mat-form-field>
        <mat-select [(ngModel)]="schoolId" (change)="getTransactions()">
          <mat-option *ngFor="let s of schools" [value]="s.id">{{s.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search-grid-title">
      <h1 class="tagg-white">Transactions</h1>
    </div>
    <div class="results-header">
      <div>
        Job Date
        <div class="sort-button">
          <span (click)="sort('date')">
            <i class="material-icons">keyboard_arrow_down</i>
          </span>
        </div>
      </div>
      <div>
        Pay Rate
        <div class="sort-button">
          <span (click)="sort('pay')">
            <i class="material-icons">keyboard_arrow_down</i>
          </span>
        </div>
      </div>
      <div>
        Total
        <div class="sort-button">
          <span (click)="sort('total')">
            <i class="material-icons">keyboard_arrow_down</i>
          </span>
        </div>
      </div>
      <div>
        Teacher
        <div class="sort-button">
          <span (click)="sort('teacher')">
            <i class="material-icons">keyboard_arrow_down</i>
          </span>
        </div>
      </div>
      <div>
        Sub
        <div class="sort-button">
          <span (click)="sort('sub')">
            <i class="material-icons">keyboard_arrow_down</i>
          </span>
        </div>
      </div>
    </div>

    <div class="details-cell">

      <div *ngIf="showNoTransactions" class="dash-panel">
        <div>There are currently no transactions.</div>
      </div>


      <div *ngIf="!showNoTransactions" class="dash-panel">
        <h3 class="green-underline">#{{chosenTransaction.jobNumber}}</h3>
        <div class="search-field">
          <label>Job #</label>
          <br> {{chosenTransaction.jobNumber}}
          <br>
        </div>
        <div class="search-field">
          <label>
            Job Date
            <i class="material-icons md-blue md-18"
              matTooltip="This is the date that the sub was in the classroom.">help</i>
          </label>
          <br> {{chosenTransaction.jobDate | date:'shortDate'}}
          <br>
        </div>
        <div class="search-field">
          <label>
            Transaction Date
            <i class="material-icons md-blue md-18"
              matTooltip="This is the date that the sub was in the classroom.">help</i>
          </label>
          <br> {{chosenTransaction.processOn | date:'shortDate'}}
          <br>
        </div>
        <div class="search-field">
          <label>
            Pay Rate
            <i class="material-icons md-blue md-18" matTooltip="Pay Rate refers to the amount paid to the sub.">help</i>
          </label>
          <br>{{chosenTransaction.payRateUsd | currency:'USD'}}
          <br>
        </div>
        <div class="search-field">
          <label>
            Total &nbsp;
            <i class="material-icons md-blue md-18"
              matTooltip="Total refers to the total amount paid out by the school for a particular job. This amount includes the sub’s pay, Tagg’s service fee, and a small transaction fee.">help</i>
          </label>
          <br>{{chosenTransaction.totalAmountUsd | currency:'USD'}}
          <br>
        </div>
        <div class="search-field">
          <label>Teacher</label>
          <br>{{chosenTransaction.teacherName}}
          <br>
        </div>
        <div class="search-field">
          <label>Sub</label>
          <br>{{chosenTransaction.subName}}
          <br>
        </div>
        <div class="search-field">
          <label>Status</label>
          <br>{{statusDisplay[chosenTransaction.status]}}
          <br>
        </div>
      </div>
      <div *ngIf="!showNoTransactions && chosenTransaction.status == 0" class="text-center">
        <button *ngIf="chosenTransaction.status == 0" class="btn btn-red"
          (click)="cancelTransaction(chosenTransaction.id)" [disabled]="chosenTransaction.status == 3"
          matTooltip="If you find a transaction discrepancy or error (i.e. the substitute never came etc), then you can decline the payment here within 7 days of the job. This will prevent the payment from automatically processing. If an incorrect payment does go through, please contact us at support@taggeducation.com for assistance.">
          DECLINE
        </button>

        <button class="btn btn-green" (click)="createCharge(chosenTransaction.id)"
          [disabled]="chosenTransaction.status == 3"
          matTooltip="If you would like to approve a payment before the automatic 48 hour window, you can do so here.">
          APPROVE
        </button>
      </div>
    </div>
    <div class="result-col-1">
      <div class="result-panel" *ngFor="let trx of transactions">
        <div class="result-row" (click)="selectTransaction(trx.id)">
          <div>
            {{trx.jobDate | date:'shortDate'}}
          </div>
          <div>
            {{trx.payRateUsd | currency:'USD'}}
          </div>
          <div>
            {{trx.totalAmountUsd | currency:'USD'}}
          </div>
          <div>
            {{trx.teacherName}}
          </div>
          <div>
            {{trx.subName}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-side-details></app-side-details>
</div>