.register-screen {
    align-items: center;
    background: url('../../assets/register-bg.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
}

h2 {
	color: #0e333e;
	font-weight: 800;
}

.welcome-message {
	
}

.green-bar{
    display: block;
    height: 3px;
    border: 0;
    border-top: 16px solid #5fca6c;
    margin: 1em 0;
    padding:0;
}

.welcome-message h1 {
	color: #fff;
    text-align: right;
}

.welcome-message p {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}

@media screen and (max-width: 992px) {
    .register-screen{
        padding-left:25px;
        padding-right: 25px;
    }
    .welcome-message h1 {
        font-size: calc(28px + (100 - 28) * ((100vw - 300px) / (992 - 300)));
    }
    .welcome-message p {
        font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (992 - 300)));
    }
}

@media screen and (min-width: 993px) {
    .welcome-message h1 {
        font-size: calc(28px + (100 - 28) * ((100vw - 993px) / (2000 - 993)));
    }
}

/* @media screen and (max-width:1500px){
    
}

@media screen and (max-width:500px){
   
}

@media screen and (min-width:501px){
} */

