<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="dash-grid-center">
    <div *ngIf="school" class="dash-center dash-panel">
      <div class="panel-head">
        <h3 class="green-underline">{{school.name}} Details</h3>
      </div>

      <dl class="dl-horizontal">
        <dt>Street Address</dt>
        <dd>{{school.address.street1}}</dd>
        <dt>City &amp; State</dt>
        <dd>{{school.address.city}}, {{school.address.state}} {{ school.address.postalCode}}</dd>
        <dt>Contact Phone</dt>
        <dd>{{school.contactPhone}}</dd>
        <dt>Contact Email</dt>
        <dd>{{school.contactEmail}}</dd>
        <dt>Website</dt>
        <dd>{{school.url}}</dd>
        <dt>Start Time</dt>
        <dd>{{school.startTime}}</dd>
        <dt>End Time</dt>
        <dd>{{school.endTime}}</dd>
        <dt>Pay Rate</dt>
        <dd>{{school.payRate | currency:'USD'}} per day</dd>
        <dt>Payment Method</dt>
        <dd *ngIf="!school.customerId">
          <strong>Please add an account</strong> -
          <a [routerLink]="['payments']">Click to add</a>
        </dd>
        <dd *ngIf="school.customerId && school.accountStatus == 0">
          <strong>Pending</strong> -
          <a [routerLink]="['verify']">Click to verify</a>
        </dd>
        <dd *ngIf="school.customerId && school.accountStatus == 1">
          <strong>Verified</strong> -
          <a [routerLink]="['payments']">Click to change</a>
        </dd>
      </dl>
      <div class="text-center">
        <a [routerLink]="['edit']" class="btn btn-green">Edit Details</a>
        <a [routerLink]="['edit']" class="btn btn-gray">Add Teacher</a>
      </div>

    </div>
    <!-- <div *ngIf="school" class="center-3">
      <h3 class="text-light"></h3>
      <div class="display-panel">

      </div>
    </div> -->
  </div>

  <app-side-details></app-side-details>
</div>