<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div *ngIf="!metrics" class="metrics-grid">
        <div class="grid-title">
            <h1 class="tagg-white">Metrics</h1>
        </div>
    </div>

    <div *ngIf="metrics" class="metrics-grid">
        <div class="grid-title">
            <h1 class="tagg-white">Metrics</h1>
        </div>
        <div class="dash-panel metrics-panel-2">
            <div class="panel-head-metrics">
                <h3 class="green-underline">
                    Sub Jobs this Month
                </h3>
            </div>
            <div class="metric">
                {{metrics.subDaysMonth}}
            </div>
        </div>

        <div class="dash-panel metrics-panel-2">
            <div class="panel-head-metrics">
                <h3 class="green-underline">
                    Jobs Filled this Year
                </h3>
            </div>
            <div class="metric">
                {{metrics.filledSytdPercent}}%
            </div>
        </div>

        <div class="dash-panel metrics-panel-2">
            <div class="panel-head-metrics">
                <h3 class="green-underline">
                    Total Days Taken Off by Teachers this Month
                </h3>
            </div>
            <div class="metric">
                {{metrics.teacherDaysMonth}}
            </div>
        </div>
        <div class="dash-panel metrics-panel-3">
            <div class="panel-head-metrics">
                <h3 class="green-underline">
                    Total Days Taken Off by Teachers This School Year
                </h3>
            </div>
            <div class="metric">
                {{metrics.teacherDaysSytd}}
            </div>
        </div>
        <div class="dash-panel metrics-panel-3">
            <div class="panel-head-metrics">
                <h3 class="green-underline">
                    Days Covered By a Sub This School Year
                </h3>
            </div>
            <div class="metric">
                {{metrics.subDaysSytd}}
            </div>
        </div>
        <div class="dash-panel metrics-panel-3">
            <div class="panel-head-metrics">
                <h3 class="green-underline">
                    Average Sub Rating
                </h3>
            </div>
            <div class="metric">
                {{metrics.avgRating}} Stars
            </div>
            <ngb-rating [rate]="metrics.avgRating" max="5" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>
        </div>
        <div class="dash-panel metrics-panel-3">
            <div class="panel-head-metrics">
                <h3 class="green-underline">
                    Most Frequently Used Subs
                </h3>
            </div>
            <div class="metric">
                {{metrics.popularSubs}}
            </div>
        </div>
    </div>

    <app-side-details></app-side-details>
</div>