.search-grid{
    padding:5%;
    display:grid;
    grid-column-gap: 1%;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 3em 3em auto;
    /* grid-auto-rows: auto; */
    /* grid-auto-flow: column; */
}

.details-cell{
    grid-column: 1 / span 1;
    /* grid-row: 1 / span 1; */
}

.search-grid .search-grid-title{
    grid-column: 1 / span 1;
}

.search-grid .results-header{
    grid-column: auto / span 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: end;
    margin-bottom: 8px;
    margin-right: 10px;
    padding-left: 10px;
    color: white;
}

.result-col-1{
    grid-column: 2 / span 2;
    /* grid-row: auto / span 2; */
    display:grid;
    height: 82vh;
    grid-template-columns: 1fr;
    /* grid-template-rows: 20px; */
    grid-auto-rows: 45px;
    overflow-y: auto;
    overflow-x: hidden;
}

.result-panel{
    background-color:#F6F6F6;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top:8px;
}

.result-panel:hover{
    cursor: pointer;
}

.result-panel .result-row{
    grid-column: auto / span 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.sort-button{
    /* padding-top:10px; */
    border:none;
    background-color: rgba(0,0,0,0);
    display:inline-block;
    vertical-align: middle;
}




