<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="dash-grid-center">
    <div *ngIf="customerInfoForm" class="dash-center-sm">
      <div class="dash-panel">
        <div class="panel-head">
          <h3 class="green-underline">{{school.name}} Bank Account</h3>
        </div>
        <form [formGroup]="customerInfoForm" (ngSubmit)="onUpdateAccount()">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Name on Account" formControlName="accountHolderName">
            <div class="text-danger">
              <div *ngIf="accountHolderName.dirty && !accountHolderName.valid">Name on account is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Routing number" formControlName="routingNumber">
            <div class="text-danger">
              <div *ngIf="routingNumber.dirty && !routingNumber.valid">Routing number is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Account number" formControlName="accountNumber">
            <div class="text-danger">
              <div *ngIf="accountNumber.dirty && !accountNumber.valid">Account number is required</div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-red center-block" [disabled]="!customerInfoForm.valid">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-side-details></app-side-details>
</div>