<div class="register-screen">
    <div class="row">
        <div class="col-md-4 col-md-offset-2 welcome-message">
            <h1 class="welcome-text">Welcome!</h1>
            <hr class="green-bar">
            <p>We're excited to learn more about your school and get you onboard! Please complete the inquiry form and someone
                will contact you soon.
            </p>
        </div>
        <div class="col-md-5">
            <div *ngIf="showForm" class="dash-panel">
                <!-- <div class="panel-body"> -->
                <h2>School Inquiry</h2>
                <hr class="green-bar">

                <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
                <div *ngIf="showSuccess">Thank you for your interest in Tagg Education! We have received your inquiry. You will receive an email from
                    us at the address you provided with more details</div>
                <div *ngIf="!showSuccess">
                    <form [formGroup]="inquiryForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="First name" formControlName="firstName" />
                                    <div class="text-danger" *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
                                        <div *ngIf="firstName.errors.required">Your First name is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Last name" formControlName="lastName" />
                                    <div class="text-danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
                                        <div *ngIf="lastName.errors.required">Your Last name is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your e-mail" formControlName="email" />
                                    <div class="text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
                                        <div *ngIf="email.errors.required">Your Email address is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your role at school" formControlName="title" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your phone number" formControlName="phoneNumber" />
                                    <div class="text-danger" *ngIf="!phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)">
                                        <div *ngIf="phoneNumber.errors.required">Phone number is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="School name" formControlName="schoolName" />
                                    <div class="text-danger" *ngIf="!schoolName.valid && (schoolName.dirty || schoolName.touched)">
                                        <div *ngIf="schoolName.errors.required">School name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="School district" formControlName="districtName" />
                                    <div class="text-danger" *ngIf="!districtName.valid && (districtName.dirty || districtName.touched)">
                                        <div *ngIf="districtName.errors.required">District is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="School city" formControlName="city" />
                                    <div class="text-danger" *ngIf="!city.valid && (city.dirty || city.touched)">
                                        <div *ngIf="city.errors.required">City is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <mat-form-field floatLabel="never">
                                        <mat-label>State</mat-label>
                                        <mat-select formControlName="state" color="primary" (change)="markDirty()">
                                            <mat-option *ngFor="let state of states" [value]="state.key">{{state.key}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-form-field>
                                        <mat-select formControlName="state" placeholder="State" color="primary">
                                            <mat-option *ngFor="let state of states" [value]="state.key">{{state.key}}</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                    <!-- <select class="form-control" formControlName="state">
                                        <option [ngValue]="null">State</option>
                                        <option *ngFor="let state of states" [ngValue]="state.key">{{state.key}}</option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Zip code" formControlName="postalCode" />
                                    <div class="text-danger" *ngIf="!postalCode.valid && (postalCode.dirty || postalCode.touched)">
                                        <div *ngIf="postalCode.errors.required">Postal code is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-green btn-wd center-block" [disabled]="inquiryForm.pristine || !inquiryForm.valid">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>




<!-- <div class="dash-container-center">
    <div class="dash-test-center">
        <h3 class="text-light">School Inquiry</h3>


    </div>
</div> -->


<!-- <div class="panel panel-default">
                
            </div> -->