<div class="content-grid">
    <app-side-nav></app-side-nav>

    <div *ngIf="!showForm" class="account-grid"></div>
    <div *ngIf="showForm" class="account-grid">
        <div *ngIf="showForm" class="test-title">
            <h2 class="tagg-white">{{school.name}} Profile</h2>
        </div>
        <div class="actions-top">
            <button type="submit" class="btn btn-red" (click)="onSubmit()" [disabled]="!editForm.dirty || !editForm.valid || !settingsValid()">
                Save Changes
            </button>
        </div>

        <div class="settings-panel">
            <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
            <form *ngIf="showForm" [formGroup]="editForm">
                <div class="school-settings-panel">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="School name" formControlName="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">

                                <input class="form-control" type="text" placeholder="School website" formControlName="url">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Contact email" formControlName="contactEmail">
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Contact phone" formControlName="contactPhone">
                            </div>

                        </div>
                    </div>

                    <div formGroupName="address">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Street address" formControlName="street1">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Street 2 (optional)" formControlName="street2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="City" formControlName="city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field floatLabel="never">
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="state" color="primary" (change)="markDirty()">
                                        <mat-option *ngFor="let state of states" [value]="state.key">{{state.key}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Postal code" formControlName="postalCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <input class="form-control" placeholder="Pay Rate per day (required, example: 100)" formControlName="payRate"> -->
                                <mat-form-field>
                                    <input matInput placeholder="Pay Per Day" formControlName="payRate" class="mat-gray" (keyup)="calculateCostPerDay(payRate.value)">
                                    <span matPrefix class="mat-gray">$&nbsp;</span>
                                </mat-form-field>
                                <label class="total-cost">Total Cost Per Day = {{costPerDay | currency:'USD'}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group-center">
                                <textarea class="form-control" placeholder="About School (optional)" formControlName="summary"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- SMALL PANEL -->
        <div class="account-panel-small">
            <div class="school-settings-panel">
                <form *ngIf="showForm">
                    <div class="small-form-group">
                        <label>School Type</label>
                        <mat-form-field>
                            <mat-select [(value)]="schoolType" color="primary" (change)="markDirty()">
                                <mat-option value="Public">Public</mat-option>
                                <mat-option value="Charter">Charter</mat-option>
                                <mat-option value="Independent">Independent</mat-option>
                                <mat-option value="Other">Other</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="small-form-group">
                        <label>Lowest Grade</label>
                        <mat-form-field>
                            <mat-select [(value)]="startGrade" color="primary" (change)="markDirty()">
                                <mat-option *ngFor="let grade of grades" [value]="grade.key">{{grade.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="small-form-group">
                        <label>Highest Grade</label>
                        <mat-form-field>
                            <mat-select [(value)]="endGrade" color="primary" (change)="markDirty()">
                                <mat-option *ngFor="let grade of grades" [value]="grade.key">{{grade.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="time-group">
                        <label>School Start Time</label>
                        <mat-form-field class="time-field">
                            <mat-select [(value)]="startHour" color="primary" (change)="markDirty()">
                                <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
                            </mat-select>
                        </mat-form-field> :
                        <mat-form-field class="time-field">
                            <mat-select [(value)]="startMinute" color="primary" (change)="markDirty()">
                                <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button class="time-button" (click)="toggleStartMeridiem()">{{startMeridiem.value}}</button>
                    </div>


                    <div class="time-group right-me">
                        <label>School End Time</label>
                        <mat-form-field class="time-field">
                            <mat-select [(value)]="endHour" color="primary" (change)="markDirty()">
                                <mat-option *ngFor="let hr of hours" [value]="hr.key">{{hr.value}}</mat-option>
                            </mat-select>
                        </mat-form-field> :
                        <mat-form-field class="time-field">
                            <mat-select [(value)]="endMinute" color="primary" (change)="markDirty()">
                                <mat-option *ngFor="let min of minutes" [value]="min.key">{{min.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button class="time-button" (click)="toggleEndMeridiem()">{{endMeridiem.value}}</button>
                    </div>

                </form>

                <button *ngIf="!school?.customerId" class="account-link-button tagg-red" (click)="onCanDoPayment()">
                    Add Payment Details
                </button>
                <i *ngIf="!school?.customerId" class="material-icons md-blue" matTooltip="We use Stripe to coordinate seamless and secure payments from the school to the subs and to collect our fees. Stripe is an industry leading online payments platform that keeps your information private and secure and limits the information that Tagg can view. Click the button to provide Stripe with your banking or credit card information. Tagg works with Stripe to handle the rest.">
                    help
                </i>
                <button *ngIf="school?.customerId && school.accountStatus == 0" class="account-link-button tagg-red" (click)="onCanDoPayment()">Verify Account</button>
                <button *ngIf="school?.customerId && school.accountStatus == 1" class="account-link-button tagg-green" (click)="onCanDoPayment()">Update Payment Details</button>

            </div>
            <div class="actions-bottom">
                <button type="submit" class="btn btn-red" (click)="onSubmit()" [disabled]="!editForm.dirty || !editForm.valid || !settingsValid()">
                    Save Changes
                </button>
            </div>
        </div>
    </div>

    <app-side-details></app-side-details>
</div>