<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="search-grid">
    <div class="link-trail">
      <a [routerLink]="['/admin', 'schools']">Schools</a> &nbsp;&nbsp;>&nbsp;&nbsp;
      <a [routerLink]="['/schools', schoolId, 'teachers']" class="link-trail-selected">Teachers</a>
    </div>
    <div class="grid-title">
      <h1 class="tagg-white">Teachers</h1>
    </div>
    <div *ngIf="school" class="actions-top">
      <button class="btn btn-green btn-wd" (click)="onAddTeacher()">ADD A TEACHER</button>
      <!-- <a [routerLink]="['/schools', school.id, 'add', '1']" class="btn btn-green">ADD A TEACHER</a> -->
    </div>
    <div *ngIf="selectedTeacher" class="search-panel">
      <div class="dash-panel">
        <div class="text-center">
          <img *ngIf="selectedTeacher.picture" class="avatar-image" src="{{photos + selectedTeacher.picture}}" height=100 width=100>
          <img *ngIf="!selectedTeacher.picture" class="avatar-image" src="/assets/avatarPlaceholder.png" height=100 width=100>
        </div>
        <div class="panel-head">
          <h3 class="green-underline">{{selectedTeacher.firstName}} {{selectedTeacher.lastName}}</h3>
        </div>
        <div class="search-field">
          <label>School Name</label>
          <br> {{school.name}}
          <br>
        </div>
        <div class="search-field">
          <label>Email</label>
          <br> {{selectedTeacher.email}}
          <br>
        </div>
        <div *ngIf="selectedTeacher.subjects.length" class="search-field">
          <label>Grade, Subject</label>
          <br>{{subjectDisp[selectedTeacher.subjects[0]]}}
          <br>
        </div>
        <div *ngIf="!selectedTeacher.subjects.length" class="search-field">
          <label>Grade, Subject</label>
          <br>Incomplete
          <br>
        </div>

        <div class="search-field">
          <label>
            Total Time Off
            <i class="material-icons md-18" matTooltip="This metric refers to the number of total hours this teacher has taken off this school year">help</i>
          </label>
          <br> {{selectedTeacher.hoursTaken | number:'1.1-2'}} Hours
          <br>
        </div>

        <div class="search-field">
          <label>
            Total Time Covered
            <i class="material-icons md-18" matTooltip="This metric refers to the total number of hours this teacher has had covered by a substitute this year">help</i>
          </label>
          <br> {{selectedTeacher.hoursCovered | number:'1.1-2'}} Hours
          <br>
        </div>

        <div *ngIf="selectedTeacher.payRate" class="search-field">
          <label>Pay Rate</label>
          <br> {{selectedTeacher.payRate | currency:'USD'}}
          <br>
        </div>

        <div *ngIf="!selectedTeacher.payRate" class="search-field">
          <label>Pay Rate</label>
          <br> {{school.payRate | currency:'USD'}}
          <br>
        </div>

        <div style="margin-top:10px;">
          <button class="link-button" (click)="openTeacherDialog()">View Profile</button> &nbsp; &nbsp; &nbsp; &nbsp;
          <button *ngIf="selectedTeacher.subjects.length" class="link-button" (click)="onRequestSub()">Request Sub</button>
          <br>
          <br>
          <button class="link-button" (click)="onUpdatePay()">Set Pay Rate</button> &nbsp; &nbsp; &nbsp; &nbsp;
          <button *ngIf="!selectedTeacher.subjects.length" class="link-button" (click)="onResendInvite(selectedTeacher.id)">Resend Invite</button>
        </div>

      </div>
    </div>
    <div *ngIf="!teachers" class="result-col-2"></div>
    <div *ngIf="teachers" class="result-col-2">
      <div class="result-panel" *ngFor="let teacher of teachers" (click)="onSelectTeacher(teacher.id)">
        <div *ngIf="teacher.picture" class="avatar-container">
          <img class="avatar-image" height=40 width=40 src="{{photos + teacher.picture}}" />
        </div>
        <div *ngIf="!teacher.picture" class="avatar-container">
          <img class="avatar-image" height=40 width=40 src="/assets/avatarPlaceholder.png" />
        </div>
        <div>
            <p class="avatar-name">{{teacher.firstName | slice:0:1}}.{{teacher.lastName}}</p>
        </div>
        <div *ngIf="teacher.payRate" class="avatar-name">
          {{teacher.payRate | currency:'USD'}}
        </div>
        <div *ngIf="!teacher.payRate" class="avatar-name">
          {{school.payRate | currency:'USD'}}
        </div>
      </div>
    </div>
  </div>
  <app-side-details></app-side-details>
</div>