.image-input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image-placeholder{
    width:54px;
    height:55px;
    border:2px dashed orange;
}

.avatar-container{
    width:54px;
    height:55px;
}

.avatar-placeholder{
    height: 50;
    width: 50;
}

.avatar-image{
    border-radius: 50%;
    margin:2px;
}

.avatar-name{
    padding-top:10px;
}

.search-grid{
    padding: 2% 5%;
    display:grid;
    grid-column-gap: 1%;
    grid-row-gap: 1em;
    grid-template-columns: 325px 1fr 1fr;
    grid-template-rows: 2em 3em auto;
}
.grid-title{
    grid-column: 1 / span 2;
}

.actions-top{
    grid-column: auto / span 1;
    margin-right: 10px;
    align-self: end;
    justify-self: end;
}

.actions-bottom{
    display:none;
}
.search-panel{
    grid-column: 1 / span 1;
    /* grid-row: 1 / span 1; */
}

.result-col-1{
    grid-column: 2 / span 2;
    /* grid-row: auto / span 10; */
    display:grid;
    height: 82vh;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.result-col-2{
    grid-column: 2 / span 2;
    /* grid-row: auto / span 5; */
    display:grid;
    height: 82vh;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.result-panel{
    background-color:#ebebeb;
    border-radius: 12px;
    margin-bottom: 8px;
    margin-right: 10px;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    cursor: pointer;
    justify-items: center;
    /* padding: 10px 10px; */
}

.search-field{
    margin-bottom: 15px;
    color: #404040;
}

@media screen and (min-width:767){
    .actions-top{
        grid-column: auto / span 1;
        align-self: end;
        justify-self: end;
        /* text-align: right;
        margin-right: 10px; */
        
    }
}

@media screen and (min-width:401px) and (max-width:766px){
    .search-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2em 3em auto;
    }
    .search-panel{
       display:none;
   }
   .grid-title{
       grid-column: auto / span 1;
   }
   .actions-top{
       grid-column: auto / span 1;
       align-self: end;
        justify-self: end;
   }
   .result-col-2{
       grid-column: 1 / span 2;
   }
  }

  @media screen and (max-width:400px){
    .search-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 2em 3em auto;
    }
    .search-panel{
       display:none;
   }
   .actions-top{
    align-self: start;
    justify-self: center;
   }
   .result-col-2{
       grid-column: 1 / span 2;
       grid-template-columns: 1fr;
   }
  }