<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="dash-grid-center">
    <div class="link-trail">
      <a [routerLink]="['/admin', 'schools']">Schools</a> &nbsp;&nbsp;>&nbsp;&nbsp;
      <a *ngIf="userTypeParam == 1" [routerLink]="['/schools', schoolId, 'add', userTypeParam]" class="link-trail-selected">Add Teacher</a>
      <a *ngIf="userTypeParam == 2" [routerLink]="['/schools', schoolId, 'add', userTypeParam]" class="link-trail-selected">Add School Admin</a>
    </div>

    <div class="dash-center">
      <div class="dash-panel">
        <div *ngIf="showForm" class="panel-head">
          <h2 *ngIf="userTypeParam == 1" class="green-underline">Add Teacher</h2>
          <h2 *ngIf="userTypeParam == 2" class="green-underline">Add School Administrator</h2>
        </div>
        <div *ngIf="showUpdateError" class="alert alert-danger">
          Oops...we were not able to create the user. Please try again and contact us as support@taggeducation.com if you continue
          to experience this error.
        </div>
        <form *ngIf="showForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="form-group">
            <input class="form-control" formControlName="firstName" placeholder="First Name">
            <div class="text-danger" *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
              <div *ngIf="firstName.errors">First name is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="lastName" placeholder="Last Name">
            <div class="text-danger" *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
              <div *ngIf="lastName.errors">Last name is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="email" placeholder="Email">
            <div class="text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
              <div *ngIf="email.errors">Email is required</div>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" formControlName="phoneNumber" placeholder="Phone Number">
            <div class="text-danger" *ngIf="!phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)">
              <div *ngIf="phoneNumber.errors">Phone number is required</div>
            </div>
          </div>

          <div class="text-center">
            <button *ngIf="userTypeParam == 1" type="submit" class="btn btn-green" [disabled]="profileForm.pristine || !profileForm.valid">
              ADD TEACHER
            </button>

            <button *ngIf="userTypeParam == 2" type="submit" class="btn btn-green" [disabled]="profileForm.pristine || !profileForm.valid">
              ADD SCHOOL ADMIN
            </button>
          </div>
        </form>
        <div *ngIf="!showSuccess && userTypeParam == 1">
          <a [routerLink]="['/schools', schoolId, 'upload']">Bulk Teacher Upload</a>
        </div>
      </div>
    </div>
  </div>

  <app-side-details></app-side-details>
</div>