<i class="material-icons dialog-right" (click)="onNoClick()">close</i>

<div class="custom-modal-body">
  <div class="dash-panel">
    <div class="text-center">
      <img *ngIf="data.teacher.picture" class="avatar-image" src="{{photos + data.teacher.picture}}" height=100 width=100>
      <img *ngIf="!data.teacher.picture" class="avatar-image" src="/assets/avatarPlaceholder.png" height=100 width=100>
    </div>
    <div class="panel-head">
      <h3 class="green-underline">{{data.teacher.firstName}} {{data.teacher.lastName}}</h3>
    </div>
    <div class="search-field">
      <label>School Name</label>
      <br> {{data.school.name}}
      <br>
    </div>
    <div class="search-field">
      <label>Email</label>
      <br> {{data.teacher.email}}
      <br>
    </div>
    <div *ngIf="data.teacher.subjects.length" class="search-field">
      <label>Grade, Subject</label>
      <br>{{subjectDisp[data.teacher.subjects[0]]}}
      <br>
    </div>
    <div *ngIf="!data.teacher.subjects.length" class="search-field">
      <label>Grade, Subject</label>
      <br>Incomplete
      <br>
    </div>

    <div class="search-field">
      <label>Total Time Off</label>
      <br> {{data.teacher.hoursTaken | number:'1.1-2'}} Hours
      <br>
    </div>

    <div class="search-field">
      <label>Total Time Covered</label>
      <br> {{data.teacher.hoursCovered | number:'1.1-2'}} Hours
      <br>
    </div>

    <div *ngIf="data.teacher.payRate" class="search-field">
      <label>Pay Rate</label>
      <br> {{data.teacher.payRate | currency:'USD'}}
      <br>
    </div>

    <div *ngIf="!data.teacher.payRate" class="search-field">
      <label>Pay Rate</label>
      <br> {{data.school.payRate | currency:'USD'}}
      <br>
    </div>

    <div style="margin-top:10px;">
      <!-- <button class="link-button" (click)="onViewProfile()">View Profile</button> &nbsp; &nbsp; &nbsp; &nbsp; -->
      <button *ngIf="data.teacher.subjects.length" class="link-button" (click)="onRequestSub()">Request Sub</button>
    </div>

  </div>
</div>