.image-input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.image-placeholder{
    width:54px;
    height:55px;
    border:2px dashed orange;
}

.avatar-container{
    width:54px;
    height:55px;
}

.avatar-placeholder{
    height: 50;
    width: 50;
}

.avatar-image{
    border-radius: 50%;
    margin:2px;
}

.avatar-name{
    padding-top:18px;
}

/* .dash-grid-center{
    grid-template-rows:2em auto;
    grid-row-gap: 100px;
} */