<div class="content-grid">
  <app-side-nav></app-side-nav>

  <div class="dash-grid-center">
    <div class="link-trail">
      <a [routerLink]="['/admin', 'schools']">Schools</a> &nbsp;&nbsp;>&nbsp;&nbsp;
      <a [routerLink]="['/schools', schoolId, 'upload']" class="link-trail-selected">Upload Teachers</a>
    </div>

    <div class="dash-center">
      <div class="dash-panel">
        <div class="panel-head">
          <h2 class="green-underline">Upload Teachers</h2>
          <i class="material-icons md-abs md-18 md-blue" matTooltip="Below you can upload a list of teachers from a .csv file or add a teacher individually. In your file, make sure to include columns for “first name”, “last name”,  “phone number” and “email”. Once the list has been uploaded, your teacher(s) will automatically receive an email invitation to create their profiles.">help</i>
        </div>
        <div class="form-group">
          <div *ngIf="showSuccess" class="alert alert-success">
            Teachers uploaded successfully.
          </div>
          <div *ngIf="showError" class="alert alert-danger">
            Error uploading teachers.
          </div>
          <label>Download Template</label>
          <br>
          <a href="/assets/TaggTeacherUpload.csv" download="TaggTeacherListTemplate.csv">Teacher List Template</a>
          <br>
          <br>
          <label for="file">Choose file</label>
          <input type="file" id="file" (change)="handleFileInput($event.target.files)">
          <div *ngIf="showNoFile" class="text-danger">
            Please choose a file to upload.
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-red btn-wd" (click)="onSubmit()" [disabled]="showSpinner">Upload</button>
          <mat-spinner *ngIf="showSpinner && !showSuccess" [diameter]="30"></mat-spinner>
        </div>
        <div *ngIf="!showSuccess">
          <a [routerLink]="['/schools', schoolId, 'add', '1']">Add Single Teacher</a>
        </div>
        <div *ngIf="showSuccess">
          <a [routerLink]="['/schools', schoolId, 'teachers']">Back To List</a>
        </div>
      </div>
    </div>
  </div>
  <app-side-details></app-side-details>
</div>