<mat-sidenav-container>
    <mat-sidenav position="end" mode="over" fixedInViewport="true" #menu class="example-sidenav">
        <mat-toolbar class="side-toolbar">

            <mat-toolbar-row>
                <button type="button" class="menu-button" mat-button (click)="menu.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf="isLoggedIn">
                <a [routerLink]="['/home']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Home</button>
                </a>
            </mat-toolbar-row>

            <!-- DISTRICT ADMIN MOBILE -->
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x33'">
                <a [routerLink]="['/admin', 'calendar']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Calendar</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x33'">
                <a [routerLink]="['/admin', 'calendar']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Calendar</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x33'">
                <a [routerLink]="['/admin', 'jobs']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Jobs</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x33'">
                <a [routerLink]="['/admin', 'schools']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Schools</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x33'">
                <a [routerLink]="['/schools', authService.user.profile.school, 'transactions']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Transactions</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x33'">
                <a [routerLink]="['/messages']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Messages</button>
                </a>
            </mat-toolbar-row>

            <!-- SCHOOL ADMIN MOBILD -->
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x3'">
                <a [routerLink]="['/admin', 'calendar']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Calendar</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x3'">
                <a [routerLink]="['/admin', 'jobs']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Jobs</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x3'">
                <a [routerLink]="['/schools', authService.user.profile.school, 'teachers']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Teachers</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x3'">
                <a [routerLink]="['/schools', authService.user.profile.school, 'transactions']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Transactions</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x3'">
                <a [routerLink]="['/messages']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Messages</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x3'">
                <a [routerLink]="['/schools', this.authService.user.profile.school, 'metrics']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Metrics</button>
                </a>
            </mat-toolbar-row>


            <!-- TEACHER MOBILE -->
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x2'">
                <a [routerLink]="['/teachers', 'home']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Calendar</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x2'">
                <a [routerLink]="['/teachers','jobs']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Jobs</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x2'">
                <a [routerLink]="['/teachers','metrics']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Metrics</button>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row class="side-nav-right" *ngIf="authService.user && authService.user.profile.api_access === '0x2'">
                <a [routerLink]="['/messages']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Messages</button>
                </a>
            </mat-toolbar-row>

            <div class="side-nav-right" style="margin-bottom:50px;"></div>

            <mat-toolbar-row *ngIf="isLoggedIn && authService.user.profile.api_access !== '0x33'">
                <button mat-button class="menu-button" (click)="onProfile()">Profile</button>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf="isLoggedIn">
                <button mat-button class="menu-button" (click)="onSettings()">Settings</button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a [routerLink]="['/about']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">About</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <a [routerLink]="['/contact']">
                    <button mat-button class="menu-button" (click)="menu.toggle()">Contact</button>
                </a>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf="isLoggedIn">
                <button mat-button class="menu-button" (click)="onSignOut()">Sign Out</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <div>
            <div class="app-grid">
                <div class="app-item app-header">
                    <a [routerLink]="['/home']">
                        <div class="header-logo">
                            <img src="../assets/Tagg-Logo-Blue-Green.png">
                        </div>
                    </a>
                    <div class="burg">
                        <span class="glyphicon glyphicon-menu-hamburger" (click)="open()"></span>
                    </div>
                </div>
                <div class="app-item app-content">
                    <router-outlet></router-outlet>
                </div>
                <div class="app-item app-footer">
                    <div class="tagg-blue text-center" style="padding-top:8px;">
                        &copy; Tagg Education, LLC
                    </div>

                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>