<div class="content-container">
    <app-side-nav></app-side-nav>

    <div class="dash-container">
        <div class="panel panel-default">
            <h2>Page Not Found</h2>
            <p>Oops...we got lost and couldn't find our way to that page.</p>
        </div>
	</div>
    <app-side-details></app-side-details>
</div>