<div class="side-nav">
    <!-- DISTRICT ADMIN -->
    <div *ngIf="authService.user && authService.user.profile.api_access === '0x33'">
        <ul>
            <li routerLinkActive="active" [routerLink]="['/admin', 'calendar']">
                <span>
                    Calendar
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/admin', 'jobs']">
                <span>
                    Jobs
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/admin', 'schools']">
                <span>
                    Schools
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/schools', authService.user.profile.school, 'transactions']">
                <span>
                    Transactions
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/messages']">
                <span [class.notification]="hasNewMessage">Messages</span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/admin', 'metrics']">
                <span>
                    Metrics
                </span>
            </li>
        </ul>
    </div>

    <!-- SCHOOL ADMIN -->
    <div *ngIf="authService.user && authService.user.profile.api_access === '0x3'">
        <ul>
            <li routerLinkActive="active" [routerLink]="['/admin', 'calendar']">
                <span>
                    Calendar
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/admin', 'jobs']">
                <span>
                    Jobs
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/schools', authService.user.profile.school, 'teachers']">
                <span>
                    Teachers
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/schools', authService.user.profile.school, 'transactions']">
                <span>
                    Transactions
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/messages']">
                <span [class.notification]="hasNewMessage">Messages</span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/schools', this.authService.user.profile.school, 'metrics']">
                <span>
                    Metrics
                </span>
            </li>
        </ul>
    </div>

    <!-- TEACHER -->
    <div *ngIf="authService.user && authService.user.profile.api_access === '0x2'">
        <ul>
            <li routerLinkActive="active" [routerLink]="['/teachers', 'home']">
                <span>
                    Calendar
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/teachers','jobs']">
                <span>
                    Jobs
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/schools',authService.user.profile.school ,'subs']">
                <span>
                    Subs
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/teachers','metrics']">
                <span>
                    Metrics
                </span>
            </li>
            <li routerLinkActive="active" [routerLink]="['/messages']">
                <span [class.notification]="hasNewMessage">Messages</span>
            </li>
        </ul>
    </div>
</div>