.side-details{
    background-color: #e1e1e1;
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    min-width: 150px;
    padding: 25px 25px;
    text-align: right;
}
.side-details .welcome-user {
    display: block;
    font-size: 12px;
    font-style: italic;
    margin: 0 0 12px 0;
}
.side-details button {
    background-color: #5fca6c;
    border: none;
    border-radius: 22px;
    color: #fff;
    margin: 0 -25px;
    padding: 12px 40px;
    text-transform: uppercase;
}
.side-details button:hover {
    background-color: #eb5566;
}
.side-details .section-title {
    font-size: 18px;
    margin: 25px 0 12px 0;
}
.side-details ul {
    list-style: none;
    margin: 0 0 0 -10px;
    padding: 0;
}
.side-details li {
    display: block;
    margin: 10px 0;
}
.side-details li:hover{
    background-color: rgba(0,0,0,0.04);
    cursor: pointer;
}
/* .today-wrapper {
    max-height: 10vh;
    overflow: auto;
} */
.recent-wrapper {
    align-self: end;
    border-bottom: 1px solid #000;
    padding: 0 0 12px 0;
}
.side-details .job-recent {
    padding-right: 12px;
}
.side-details .job-accepted {
    border-right: 5px solid #5fca6c;
    padding-right: 10px;
    margin-bottom: 20px;
}
.side-details .job-pending {
    border-right: 5px solid #efe434;
    padding-right: 10px;
    margin-bottom: 20px;
}
.side-details .job-date, .side-details .job-status, .side-details .job-teacher, .side-details .job-link {
    display: block;
}
.side-details .job-date {
    font-style: italic;
}
.side-details .job-status {
    font-style: italic;
}
.side-details .job-name {
    font-weight: 600;
}
.side-details .job-link {
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}
.side-details .job-review {
    color: #5fca6c;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}
.side-details .job-review::after {
    color: #5fca6c;
    content: ">";
    cursor: pointer;
    font-weight: 600;
    margin: 0 -14px 0 5px;
    text-decoration: none;
}

@media screen and (max-width:1199px){
    .side-details{
        display: none;
    }
}

/* .side-details{
    background-color: #e1e1e1;
    height: 100%;
    padding: 25px 50px;
    text-align: right;
}
.side-details .welcome-user {
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0 0 50px 0;
}
.side-details button {
    background-color: #5fca6c;
    border: none;
    border-radius: 22px;
    color: #fff;
    margin: 0 -25px;
    padding: 12px 40px;
    text-transform: uppercase;
}
.side-details button:hover {
    background-color: #eb5566;
}
.side-details .section-title {
    margin: 0;
}
.side-details-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 80%;
}
.today-wrapper {
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px 0;
}
.recent-wrapper {
    align-self: end;
    border-bottom: 1px solid #333;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px 0;
    padding: 0 0 16px 0;
    margin: -200px 0 0 0;
}
.side-details .job-accepted {
    border-right: 5px solid #5fca6c;
    padding: 0 10px 0 0;
}
.side-details .job-pending {
    border-right: 5px solid #efe434;
    padding: 0 10px 0 0;
}
.side-details .job-date, .side-details .job-status, .side-details .job-teacher, .side-details .job-link {
    display: block;
}
.side-details .job-date {
    font-style: italic;
}
.side-details .job-status {
    font-style: italic;
}
.side-details .job-name {
    font-weight: 600;
}
.side-details .job-link a {
    color: #333;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}
.side-details .job-review a {
    color: #5fca6c;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}
.side-details .job-review a::after {
    color: #5fca6c;
    content: ">";
    cursor: pointer;
    font-weight: 600;
    margin: 0 -1.1em 0 0.5em;
    text-decoration: none;
} */