html, body {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Circular', sans-serif;
    font-size: 16px;
    font-weight: 200;
    min-height: 100%;
}

h1 {
    font-size: 45px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    font-weight: 900;
}

h3 {
    font-size: 22px;
    font-weight: 900;
}

label{
    color:#0e333e;
    font-weight: 800;
    font-size: 14px;
}

.search-field{
    margin-bottom: 15px;
    color: #404040;
}

.heading-light{
    font-weight: 300;
}

.green-underline {
    border-bottom: 5px solid #5fca6c;
    margin-bottom: 20px;
    padding-bottom: 2px;
}
.yellow-underline {
    border-bottom: 5px solid #efe434;
    margin-bottom: 20px;
    padding-bottom: 2px;
}
.blue-underline {
    border-bottom: 5px solid #0e333e;
    margin-bottom: 20px;
    padding-bottom: 2px;
}
.red-underline{
    border-bottom: 7px solid #eb5566;
    margin-bottom: 20px;
    padding-bottom: 2px;
}

a {
    color: #5fca6c;
    text-decoration: underline;
}

a:hover {
    color: #4ab157;
}

strong{
    font-weight: 900;
}

.tagg-green {
    color: #5fca6c;
}

.tagg-yellow {
    color: #efe434;
}

.tagg-blue {
    color: #0e333e;
}

.tagg-red {
    color: #eb5566;
}
.tagg-white{
    color:#fff;
}
.tagg-gray{
    color:#f6f6f6;
}

.dash-panel{
    background-color:#ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 20px 10px;
}

.custom-modal{
    overflow-x: hidden;
}

.custom-modal-body{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.dialog-actions{
    margin: 10px;
    cursor: pointer;
    float: right;
}

.modal-header{
    display:grid;
    grid-template-columns: 1fr 
}

.scroll-me{
    overflow-y: auto;
}

.picture-panel{
    background-color:#ebebeb;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 20px 20px;
    width: 250px;
    height: 200px;
}

.dash-panel h1,h2,h3,h4,h5,h6{
    color:#0E333E;
    display:inline-block;
    margin-top:0px;
    margin-bottom:0px;
}

.panel-head{
    display:block;
}

.panel-actions{
    text-align: center;
    margin-top: 25px;
}

.panel-head-metrics{
    display: inline-block;
    max-width: 80%;
}

.metric{
    font-weight: 800;
    font-size: 32px;
    margin-top:0px;
    margin-bottom: 0px;
    color:#0E333E;
}

span{
    cursor: pointer;
}

.heading {
    color: #fff;
    font-weight: 800;
    padding: 0 0 20px 0;
}

.header-logo{
    padding: 15px 0 0 50px;
}

.header-logo > img {
    height: 50px;
    width: 100px;
}

.detail-item{
    margin: 0 -16px;
    padding: 10px 15px;
}
.detail-item:hover {
    background-color: rgba(0,0,0,.04);
    cursor: pointer;
}

.no-click .detail-item:hover{
    background-color: rgba(0,0,0,0);
    cursor: auto;
}

.detail-item .head{
    color: #0e333e;
    font-weight: 800;
    margin-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
    padding: 0 0 10px 0;
}

.detail-item .grid{
    display:grid;
    grid-column-gap:25px;
    grid-row-gap:3px;
    grid-template-columns: 1fr 2fr;
    font-size: 15px;
}

.no-click .detail-item .grid{
    display:grid;
    grid-column-gap:25px;
    grid-row-gap:3px;
    grid-template-columns: 60px 200px;
    font-size: 15px;
}

.no-click-apple{
    cursor: inherit;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: 800;
}

.school-image {
    border-radius: 50%;
    height: 125px;
    margin: 0 0 20px 0;
    width: 125px;
}
.menu-button{
    font-size: 20px !important;
    font-weight: 600 !important;
}

.form-control{
    border-radius: 20px !important;
    border: none;
}

.message-select{
    background-color: rgba(14,51,62,.1);
}


.btn {
    border-radius: 20px;
    /* font-size: 19px; */
    font-weight: 200;
    letter-spacing: 2px;
    padding: 5px 20px;
    text-transform: uppercase;
    color: white !important;
}
.btn-wd{
    min-width: 190px;
}

.tagg-apple-favorite{
    display:inline-block;
    background-image: url('./assets/tagg-apple-icon-blue.png');
    width:30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: 6px;
}

.tagg-apple-gray{
    display:inline-block;
    background-image: url('./assets/tagg-apple-icon-gray.png');
    width:30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: 6px;
}

.tagg-apple-dark{
    display:inline-block;
    background-image: url('./assets/tagg-apple-icon-gray-dark.png');
    width:30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-top:0;
}

.btn.btn-small{
    border-radius: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 25px;
    padding: 5px 20px;
    text-transform: uppercase;
    color: white !important;
}


.btn-outline-primary{
    margin-bottom: 0 !important;
    background-color: rgba(14, 51, 62, .62);
    max-width: 45px;
    padding-left: 9px;
}

.btn-green{
    background-color: #5fca6c;
}

.btn-yellow{
    background-color: #efe434;
}

.btn-blue{
    background-color: #0e333e;
}

.btn-red{
    background-color: #eb5566;
}

.btn-gray{
    background-color: #acacac;
}

.btn-green, .btn-blue, .btn-red, .btn-gray {
    transition: background-color 0.2s;
}

.btn-green:hover,
.btn-green:focus,
.btn-yellow:hover,
.btn-yellow:focus,
.btn-blue:hover,
.btn-blue:focus,
.btn-gray:hover,
.btn-gray:focus {
    background-color: #eb5566;
    color: #fff;
}
.btn-red:hover {
    background-color: #da4455;
    color: #fff;
}

.btn-green:active, .btn-blue:active, .btn-red:active, .btn-gray:active {
    color: #fff;
}
a.btn{
    text-decoration: none;
}
.time-field{
    max-width: 70px;
}

.time-field .mat-input-wrapper .mat-input-flex .mat-input-infix .mat-select .mat-select-value{
    text-align: center;
}

.time-button{
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    font-size: 12px;
    color: white;
    background-color: #EB5566;
    border-radius: 3px;
}

.link-button{
    background:none!important;
     color:#5fca6c;
     border:none; 
     padding:0!important;
}
.form-group-center label {
    margin-left: 7.5%;
}

.form-group-center input {
    max-width: 85%;
    margin: auto;
}

.label-danger{
    background-color: #eb5566;
}


.controls {
    color: #ccc;
    margin: 10px 0 0 0;
    text-align: center;
}

.controls i {
    cursor: pointer;
    padding: 5px;
}
.controls i:hover {
    color: #fff;
}

.mat-stepper-horizontal, .mat-stepper-vertical{
    background-color: #ebebeb;
}

.mat-horizontal-stepper-header-container{
    display:none !important;
}
.mat-horizontal-content-container{
    padding-bottom: 0px !important;
}

.fine-print-grid{
    max-width: 85%;
    margin: auto;
    display:grid;
    grid-template-columns: 25px 1fr;
}

.fine-print {
    color: #7f7f7f;
    font-size: .9em;
    display: inline-block;
}

.mat-progress-spinner{
    display: inline-block !important;
}

.link-trail{
    color:white;
}
.link-trail a{
    text-decoration: none;
    color: white;
}
.link-trail-selected{
    font-weight: 800;
}

.link-trail a:hover{
    color: #5FCA6C
}


.actions-top{
    align-self: end;
}

.new-message-container{
    margin-top: 30px;
    /* display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 20px;
    align-items: center; */
}
.message-label{
    width: 100px;
    text-align: right;
    margin-right: 15px;
    padding-top: 5px;
    font-style: italic;
    vertical-align: top;
}
.message-control-group{
    margin: 15px 0;
}



/* .mat-form-field-can-float.mat-form-field-should-float{
    display: none;
} */
/* .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder{
    display: none !important;
} */