<div class="password-screen">
    <div class="password-grid">
        <div class="grid-placeholder"></div>
        <div>
            <div class="dash-panel">
                <div class="panel-head">
                    <h2 class="green-underline">About</h2>
                </div>
                <div>
                    <p>Our easy-to-use app lets teachers and schools select, schedule, and rate subs from our pool of community
                        champions.</p>
                    <br>
                    <p>We envision a future where teachers feel supported, classes never go unstaffed, and students always have
                        a quality sub. We do this by connecting everyday people to the classrooms that need them. Through
                        our app technology, we imagine a community engaged in every classroom, every day.</p>
                    <br>
                    <p>Learn more about Tagg at <button class="link-button" (click)="onNewTab()">taggeducation.com</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-placeholder"></div>
</div>