<div class="password-screen">
    <div class="password-grid">
        <div class="grid-placeholder"></div>
        <div>
            <div class="dash-panel">
                <div class="panel-head">
                    <h2 class="green-underline">Contact</h2>
                </div>
                <div>
                    <p>Having trouble requesting a sub? Accepting a job? Finding a certain tool in the app? Reach out to us
                        via the contact methods below and we are more than happy to help!
                    </p>
                </div>
                <address>
                    <strong>Email:</strong>
                    <a href="mailto:support@taggeducation.com">support@taggeducation.com</a>
                    <br />
                </address>
                <address>
                    <strong>Address:</strong>
                    <br>4035 Tutt Blvd,
                    <br /> Colorado Springs, CO 80922
                    <br />
                </address>
                <address>
                    <strong>Office Hours:</strong>
                    9 AM - 5 PM, Monday to Friday
                </address>
            </div>
        </div>
    </div>
    <div class="grid-placeholder"></div>
</div>