/* .side-nav-container{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 100vh repeat(12, 1fr);
    align-items: stretch;
} */

.side-nav{
    background-color: #5FCA6C;
    color: #fff;
    height: 100%;
    padding: 50px 0;
    font-size: 18px;
    font-weight: 500;
    min-width: 150px;
}
.side-nav ul {
    list-style: none;
    margin: 0 0 0 -10px;
    padding: 0;
}
.side-nav li {
    display: block;
    padding: 25px 0 25px 25px;
}
.side-nav li:hover{
    background-color: rgba(0,0,0,0.04);
    cursor: pointer;
}
.side-nav span {
    margin-left: 17px;
}
.side-nav li.active span {
    margin-top: -25px;
    border-bottom: 4px solid #eb5566;
    font-weight: 600;
    padding-bottom: 4px;
}


 .side-nav span.notification::before {
    background-color: #eb5566;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 13px;
    margin: 0 5px 0 -17px;
    position: relative;
    top: 0px;
    width: 13px;
} 





/*.side-nav{
    background-color: #5FCA6C;
    height: 100%;
    padding-top:50px;
}

.side-nav a{
    text-decoration: none;
    color:white;
    display:block;
    font-size:20px;
    font-weight:800;
    margin:25px;
}

.side-nav a:hover{
    background-color: #eb5566;
    
}

@media screen and (max-width: 1000px){
    .side-nav{
        display:none;
    }
}*/