<div class="side-details">
    <!-- <span *ngIf="authService.isLoggedIn();" class="welcome-user">Welcome, {{authService.user.profile.email}}!</span>
        <span *ngIf="!authService.isLoggedIn()" class="welcome-user">Welcome, Stranger!</span> -->
    <div *ngIf="showJobs" class="today-wrapper">
        <span class="welcome-user">Welcome, {{authService.user.profile.given_name}}</span>
        <h3 class="section-title" style="font-weight: 600;padding-right:5px;">Upcoming Jobs</h3>
        <ul>
            <li *ngFor="let job of jobService.jobs.offered" class="job-pending" (click)="onViewJob(job.id)">
                <span class="job-name tagg-blue">{{subj[job.subject]}}</span>
                <span class="job-date tagg-blue">{{job.startDate | date:'longDate'}}</span>
                <span class="job-link tagg-blue">View Details</span>
            </li>
            <li *ngFor="let job of jobService.jobs.accepted" class="job-accepted" (click)="onViewJob(job.id)">
                <span class="job-name tagg-blue">{{subj[job.subject]}}</span>
                <span class="job-date tagg-blue">{{job.startDate | date:'longDate'}}</span>
                <span class="job-link tagg-blue">View Details</span>
            </li>
        </ul>
    </div>
    <!-- <div *ngIf="jobService.jobs?.recent.length > 0" class="recent-wrapper">
        <h3 class="section-title">Recent Jobs</h3>
        <ul>
            <li *ngFor="let job of jobService.jobs.recent" class="job-recent">
                <span class="job-name tagg-blue">{{subj[job.subject]}}</span>
                <span class="job-status tagg-blue">{{job.startDate | date:'longDate'}}</span>
            </li>
        </ul>
    </div> -->
</div>