<div class="side-nav">
    <ul>
        <li routerLinkActive="active" [routerLink]="['/home']">
            <span>Calendar</span>
        </li>
        <li routerLinkActive="active" [routerLink]="['/jobs']">
            <span>Jobs</span>
        </li>
        <li routerLinkActive="active" [routerLink]="['/metrics']">
            <span>Metrics</span>
        </li>
        <li routerLinkActive="active" [routerLink]="['/messages']">
            <span [class.notification]="hasNewMessage">Messages</span>
        </li>
    </ul>
</div>