<div *ngIf="user">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="account-flex">
                <mat-card class="avatar-card">
                    <mat-card-header>
                        <div mat-card-avatar class="avatar-image"></div>
                        <h4>{{_authService.currentUser.firstName}} {{_authService.currentUser.lastName}}</h4>
                    </mat-card-header>
                    <mat-card-content *ngIf="!applicationComplete">
                        <div class="alert alert-warning">
                            <p>
                                <strong>Please complete the highlighted items </strong>and we'll have you subbing in no time!</p>
                        </div>
                        <h4>Required Information:</h4>
                        <ul class="list-group">
                            <li id="addressList" [class]="accountStatus.color">
                                <span>
                                    <i class="material-icons">{{accountStatus.icon}}</i>
                                </span>
                                Address
                            </li>
                            <li id="profileList" [class]="profileStatus.color">

                                <span>
                                    <i class="material-icons">{{profileStatus.icon}}</i>
                                </span>
                                Profile Information
                            </li>
                            <li id="jobList" [class]="preferencesStatus.color">

                                <span>
                                    <i class="material-icons">{{preferencesStatus.icon}}</i>
                                </span>
                                Job Preferences
                            </li>
                            <li id="contactList" [class]="contactStatus.color">

                                <span>
                                    <i class="material-icons">{{contactStatus.icon}}</i>
                                </span>
                                Verify Contact Methods
                            </li>
                        </ul>
                    </mat-card-content>

                    <mat-card-content *ngIf="applicationComplete">
                        <div class="alert alert-success">
                            <p>
                                <strong>Nice work, your profile is complete! </strong>someone will contact you soon to schedule an interview.</p>
                        </div>
                    </mat-card-content>
                </mat-card>
                <!-- <div class="panel panel-default">
                    <div class="panel-header">
                        <div mat-card-avatar class="avatar-image"></div>
                        <h4>John Bond</h4>
                        <div class="pull-right">
                            <button class="link-button" (click)="onAccountEdit()">
                                <span>
                                    <i class="material-icons">border_color</i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="account-flex">
                <div class="account-panel">
                    <div [class]="accountStatus.panel">
                        <div class="panel-heading">
                            <h3>Address</h3>
                            <div class="pull-right">
                                <button class="link-button" (click)="onAccountEdit()">
                                    <span>
                                        <i class="material-icons">border_color</i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{user.account.street1}} {{user.account.street2}}
                            <br> {{user.account.city}}, {{user.account.state}} {{user.account.postalCode}}
                        </div>
                    </div>
                </div>

                <div class="account-panel">
                    <div [class]="profileStatus.panel">
                        <div class="panel-heading">
                            <h3>Profile</h3>
                            <div class="pull-right">
                                <button class="link-button" (click)="onProfileEdit()">
                                    <span>
                                        <i class="material-icons">border_color</i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <label>
                                <small>Education Level</small>
                            </label> {{user.profile.education}}
                            <br>
                            <label>
                                <small>LinkedIn Profile</small>
                            </label> {{user.profile.linkedInUrl}}
                            <br>
                            <label>
                                <small>Resume</small>
                            </label>
                            <small *ngIf="user.profile.resumeText">We got it!</small>
                        </div>
                    </div>
                </div>

                <div class="account-panel">
                    <div [class]="preferencesStatus.panel">
                        <div class="panel-heading">
                            <h3>Job Preferences</h3>
                            <div class="pull-right">
                                <button class="link-button" (click)="onPreferencesEdit()">
                                    <span>
                                        <i class="material-icons">border_color</i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <small>Min pay per day</small>
                                    </label> {{user.preferences.minPay}}
                                    <br>
                                    <label>
                                        <small>Max distance from home</small>
                                    </label> {{user.preferences.maxDistance}}
                                </div>
                                <div class="col-md-6">
                                <label>
                                    <small>Courses &amp; Subjects</small>
                                </label>
                                <div *ngIf="user.preferences.minPay">
                                    <div *ngFor="let subject of user.preferences.subjects">
                                        <p *ngIf="subject.selected">{{subject.value}}</p>
                                    </div>
                                </div>
                                <div *ngIf="!user.preferences.minPay">
                                    <small>Please select...</small>

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="account-panel">
                    <div [class]="contactStatus.panel">
                        <div class="panel-heading">
                            <h3>Contact Methods</h3>
                            <div class="pull-right">
                                <button class="link-button" (click)="onContactEdit()">
                                    <span>
                                        <i class="material-icons">border_color</i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class=row>
                                <div class="col-md-6 col-sm-12">
                                    <h4>
                                        <small>Your Contact Info</small>
                                    </h4>
                                    <br/>
                                    <label>
                                        <small>Email: </small>
                                    </label>
                                    {{user.account.email}}
                                    <br />
                                    <label>
                                        <small>Phone: </small>
                                    </label>
                                    {{user.account.phoneNumber}}
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h4>
                                        <small>Receive Via:</small>
                                    </h4>
                                    <div *ngFor="let method of user.contact.contactMethods">
                                        <p *ngIf="method.selected">{{method.value}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>