
        <form [formGroup]="accountForm">
            <div class="flex-container">
                <div class="panel-md">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Account Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Street address" formControlName="street1">
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Apartment, unit, etc. (optional)" formControlName="street2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="City" formControlName="city">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="State" formControlName="state">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Postal code" formControlName="postalCode">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Phone number" formControlName="phoneNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center">
                                <button class="btn btn-info btn-rnd center-block" (click)="onAccountSubmit()" 
                                    [disabled]="accountForm.pristine || !accountForm.valid">Save &amp; Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>