<form [formGroup]="preferencesForm">
        <div class="flex-container">
            <div class="panel-lg">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Job Preferences</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Minimum pay per day</label>
                                    <input class="form-control" type="text" formControlName="minPay">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Max distance from home</label>
                                    <input class="form-control" type="text" formControlName="maxDistance">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h3>Grades &amp; Subjects</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Elementary</h4>
                                <div formArrayName="elementarySubjects" *ngFor="let subject of elementarySubjects.controls; let i=index">
                                    <div [formGroupName]="i">
                                        <mat-slide-toggle [checked]="subject.value.selected" color="primary" formControlName="selected">
                                            {{subject.value.value}}
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Middle School</h4>
                                <div formArrayName="middleSchoolSubjects" *ngFor="let subject of middleSchoolSubjects.controls; let i=index">
                                    <div [formGroupName]="i">
                                        <mat-slide-toggle [checked]="subject.value.selected" color="primary" formControlName="selected">
                                            {{subject.value.value}}
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>High School</h4>
                                <div formArrayName="highSchoolSubjects" *ngFor="let subject of highSchoolSubjects.controls; let i=index">
                                    <div [formGroupName]="i">
                                        <mat-slide-toggle [checked]="subject.value.selected" color="primary" formControlName="selected">
                                            {{subject.value.value}}
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <button class="btn btn-info btn-rnd center-block" (click)="onPreferencesSubmit()" 
                        [disabled]="preferencesForm.pristine || !preferencesForm.valid">Save &amp; Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </form>