<form [formGroup]="profileForm">

    <div class="flex-container">
        <div class="panel-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Profile Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Highest Education Completed</label>
                                <select class="form-control" formControlName="education">
                                    <option *ngFor="let ed of viewData.educations" [ngValue]="ed.key">{{ed.value}}</option>
                                </select>
                                <!-- <input class="form-control" type="text" formControlName="education"> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Do you have transcripts?</label>
                                <select class="form-control" formControlName="hasTranscripts">
                                    <option *ngFor="let answer of yesNo" [ngValue]="answer.key">{{answer.value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Do you have a teaching license?</label>
                                <select class="form-control" formControlName="hasLicense">
                                    <option *ngFor="let answer of yesNo" [ngValue]="answer.key">{{answer.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                    <label class="control-label">LinkedIn Profile (optional)</label>
                                <input class="form-control" type="text" formControlName="linkedInUrl">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Resume Input (optional)</label>
                                <textarea class="form-control" formControlName="resumeText" placeholder="You can input your resume here if you do not have a resume file to upload"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <button class="btn btn-info btn-rnd center-block" (click)="onProfileSubmit()" [disabled]="profileForm.pristine || !profileForm.valid">Save &amp; Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>