<div class="content-container">
        <app-side-nav></app-side-nav>
        <div class="row dash-container">
                <div class="col-md-4 col-md-offset-4">
                    <div *ngIf="!showVerify && !showError && !showSuccess">
    
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2 class="text-dark">Phone Verification</h2>
                                <hr class="green-bar">
                                <p>Please verify your phone number below and click to send a verification code.</p>
                                <form>
                                    <div class="form-group form-group-center">
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone" required>
                                    </div>
                                    <button class="btn btn-info btn-rnd center-block" type="submit" (click)="onSendCode()">Send Code</button>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <div *ngIf="showVerify && !showError && !showSuccess">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2 class="text-dark">Phone Verification</h2>
                                <p>Please enter your security code.</p>
                                <hr class="red-bar">
                                <form>
                                    <div class="form-group form-group-center">
                                        <label>Security Code</label>
                                        <input type="text" class="form-control" id="code" [(ngModel)]="code" name="code" required>
                                    </div>
                                    <button class="btn btn-info btn-rnd center-block" type="submit" (click)="onVerify()">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <div *ngIf="showSuccess && !showError">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2 class="text-dark">Phone Verification Complete</h2>
                                <hr class="green-bar"> Your phone number has been successfully verified. Thank you!
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <app-side-details></app-side-details>
    </div>