<i class="material-icons dialog-right" (click)="onNoClick()">close</i>
<div *ngIf="!showSuccess" class="custom-modal-body">
    <div class="text-center">
        <h2>Are you sure?</h2>
        <p>Please confirm before we deactivate your account.</p>
    </div>
    <div *ngIf="showError" class="alert alert-danger">
        <strong>Oops...we werne't able to deactivate your account. Please contact us at support@taggeducation.com for assistance.</strong>
    </div>

    <div class="dialog-actions">
        <button class="btn btn-blue" (click)="onNoClick()" tabindex="-1" [disabled]="showError">NO, STAY ACTIVE</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-red" (click)="onDeactivateAccount()" tabindex="-1" [disabled]="showError">YES, DEACTIVATE MY ACCOUNT</button>
    </div>
</div>


<div *ngIf="showSuccess" class="custom-modal-body">
    <div class="text-center">
        <h2>Account Deactivated</h2>
        <p>Your account has been deactivated.</p>
    </div>

    <div class="dialog-actions">
        <button class="btn btn-green" (click)="onNoClick()" tabindex="-1">OK</button>
    </div>
</div>