<form *ngIf="viewData && model" [formGroup]="accountForm">
    <div formGroupName="address">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Street address" formControlName="street1">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Apartment, unit, etc. (optional)" formControlName="street2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="City" formControlName="city">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" formControlName="state">
                        <option [ngValue]="null">State...</option>
                        <option *ngFor="let state of viewData.states" [ngValue]="state.key">{{state.key}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Postal code" formControlName="postalCode">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Phone number" formControlName="phoneNumber">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button class="btn btn-blue center-block" (click)="onAccountSubmit()" [disabled]="!accountForm.valid">Save &amp; Continue</button>
        </div>
    </div>
</form>