<div class="password-screen">
    <div class="password-grid">
        <div class="grid-placeholder"></div>
        <div *ngIf="showForm">
            <div class="dash-panel">
                <div class="panel-head">
                    <h2 class="green-underline">Change Email</h2>
                </div>
                <div *ngIf="showError" class="alert alert-danger">
                    Oops...we weren't able to change your email the the email address you provided. Please check to make sure the email address you entered is correct.
                </div>

                <form *ngIf="!showSuccess" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                    <div class="form-group form-group-center">
                        <label>Current Email:</label>
                        <input class="form-control" type="text" formControlName="currentEmail" disabled="disabled"/>
                    </div>

                    <div class="form-group form-group-center">
                        <label>New Email:</label>
                        <input class="form-control" type="text" formControlName="newEmail" />
                        <div class="text-danger" *ngIf="!newEmail.valid && (newEmail.dirty || newEmail.touched)">
                            <div *ngIf="newEmail.errors">Valid email address required.</div>
                        </div>
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-red btn-wd center-block" [disabled]="emailForm.pristine || !emailForm.valid">
                            Submit
                        </button>
                    </div>
                </form>

                <div *ngIf="showSuccess" class="alert alert-success">
                    Please check your {{newEmail.value}} inbox to confirm your new email address and complete the email change.
                </div>
            </div>
        </div>
    </div>
    <div class="grid-placeholder"></div>
</div>