.password-screen {
    align-items: center;
    background: url('../../../assets/register-bg.jpg') no-repeat center;
    background-size: cover;
    /* display: flex; */
    height: 100%;
    justify-content: center;
    padding-top: 50px;
}

.dash-panel{
    margin-right: 0;
}

.password-grid{
    display: grid;
}


@media screen and (max-width:500px){
   .password-grid{
       grid-template-columns: 1fr;
       padding-left: 18px;
       padding-right: 18px;
   }
   .grid-placeholder{
       display:none;
   }
}

@media screen and (min-width:501px) and (max-width:1199px){
    .password-grid{
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (min-width:1200px) and (max-width:1499px){
    .password-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1500px){
    .password-grid{
        grid-template-columns: 3fr 2fr 3fr;
    }
}