<form>

    <div class="row">
        <div class="col-md-4 col-md-offset-5">
            <div class="form-group">
                <mat-slide-toggle [checked]="checkedPhone" [(ngModel)]="checkedPhone" name="checkedPhone" color="primary">
                    Phone
                </mat-slide-toggle>
            </div>
            <div class="form-group">
                <mat-slide-toggle [checked]="checkedText" [(ngModel)]="checkedText" name="checkedText" color="primary">
                    Text
                </mat-slide-toggle>
            </div>
            <div class="form-group">
                <mat-slide-toggle [checked]="checkedEmail" [(ngModel)]="checkedEmail" name="checkedEmail" color="primary">
                    Email
                </mat-slide-toggle>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button class="btn btn-info btn-rnd center-block" (click)="onContactSubmit()                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ">Submit</button>
        </div>
    </div>
</form>