<form [formGroup]="preferencesForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Minimum pay per day</label>
                <input class="form-control" type="text" formControlName="minPayAmount">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Max distance from home</label>
                <select class="form-control" formControlName="maxDistance">
                    <option>50</option>
                    <option>75</option>
                    <option>100</option>
                    <option>125</option>
                </select>
                <!-- <input class="form-control" type="text" formControlName="maxDistance"> -->
            </div>
        </div>
    </div>
    <hr/>
    <label>Grades &amp; Subjects</label>
    <mat-form-field>
        <mat-select [formArrayName]="elementarySubjects" multiple>
            <mat-option *ngFor="let subject of elementarySubjects.controls" [value]="subject.value.selected">{{subject.value.value}}</mat-option>
        </mat-select>
    </mat-form-field>

    <select class="form-control" formArrayName="middleSchoolSubjects" multiple>
        <option *ngFor="let subject of middleSchoolSubjects.controls; let i=index">{{subject.value.value}}</option>
    </select>
    <!-- <div class="row">
        <div class="col-md-6">
            <h4>Elementary</h4>
            <div formArrayName="elementarySubjects" *ngFor="let subject of elementarySubjects.controls; let i=index">
                <div [formGroupName]="i">
                    <mat-slide-toggle [checked]="subject.value.selected" color="primary" formControlName="selected">
                        {{subject.value.value}}
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    

    <div class="col-md-6">
        <h4>Middle School</h4>
        <div formArrayName="middleSchoolSubjects" *ngFor="let subject of middleSchoolSubjects.controls; let i=index">
            <div [formGroupName]="i">
                <mat-slide-toggle [checked]="subject.value.selected" color="primary" formControlName="selected">
                    {{subject.value.value}}
                </mat-slide-toggle>
            </div>
        </div>
    </div>
</div> -->

    <!-- <div class="row">
        <div class="col-md-12">
            <h4>High School</h4>
            <div formArrayName="highSchoolSubjects" *ngFor="let subject of highSchoolSubjects.controls; let i=index">
                <div [formGroupName]="i">
                    <mat-slide-toggle [checked]="subject.value.selected" color="primary" formControlName="selected">
                        {{subject.value.value}}
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="text-center">
            <button class="btn btn-info btn-rnd center-block" (click)="onPreferencesSubmit()" [disabled]="!preferencesForm.valid">Save &amp; Continue</button>
        </div>
    </div>
</form>