<div class="content-grid">
    <app-side-nav></app-side-nav>
    <div *ngIf="!user">

    </div>

    <div *ngIf="user" class="account-grid">
        <div class="grid-row">
            <a class="tagg-white account-link-inactive" routerLinkActive="account-active" [routerLink]="['/profile']">Profile</a>
            &nbsp; &nbsp;
            <a class="tagg-white account-link-inactive" routerLinkActive="account-active" [routerLink]="['/settings']">Settings</a>
        </div>
        <div class="grid-row">
            <h1 class="tagg-white" style="display:inline-block">Profile</h1>
            <i class="material-icons md-light md-abs md-18" matTooltip="The information you add to your profile is viewable by teachers and school administrators.">error</i>
        </div>
        <div>
            <div class="picture-panel">
                <div *ngIf="user" class="text-center">
                    <div *ngIf="!user.picture" class="avatar-container" matTooltip="Click to change">
                        <input class="image-input" type="file" (change)="onImageUpload($event.target.files)" />
                        <img class="account-image" height=150 width=150 src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
                        />
                        <!-- <div class="overlay">
                            Change
                        </div> -->
                    </div>
                    <div *ngIf="user.picture" class="avatar-container" matTooltip="Click to change">
                        <input class="image-input" type="file" (change)="onImageUpload($event.target.files)" />
                        <img class="account-image" height=150 width=150 src="{{photos + user.picture}}" />
                    </div>
                </div>
            </div>

            <div>
                <h2 class="green-underline tagg-white">{{user.firstName}} {{user.lastName}}</h2>
            </div>
            <div style="margin-bottom:25px;">
                <label class="tagg-white">Rating:</label>
                <ng-template #t let-fill="fill">
                    <span class="star-details" [class.filled]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>

                <ngb-rating [(rate)]="user.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                <span style="color:#ccc">({{user.ratingCount}})</span>
                <!-- <ngb-rating [rate]="user.rating" max="5" [readonly]="true">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [style.width.px]="50" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating> -->
                    <i class="material-icons md-light md-18 md-abs" matTooltip="Teachers rate a sub’s performance based on 5 categories: organization, professionalism, classroom management, student engagement, and communication with the teacher. ">help_outline</i>
            </div>
            <div *ngIf="!user.resumeFile">
                    <input class="resume-input" type="file" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" (change)="onResumeUpload($event.target.files)" />
                <button class="account-link-button tagg-green">Upload Resume</button>
                <i class="material-icons md-light md-18 md-abs" matTooltip="Upload your resume. Don’t be shy. Let schools and teachers know how awesome you are!">help_outline</i>
            </div>
            <div *ngIf="user.resumeFile">
                    <input class="resume-input" type="file" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" (change)="onResumeUpload($event.target.files)" />
                <button class="account-link-button tagg-green">Update Resume</button>
                <br>
                <br>

                <button class="account-link-button tagg-green" (click)="onDownloadResume()">Download Resume</button>
            </div>
        </div>
        <div class="settings-panel">
            <div *ngIf="!applicationComplete" class="alert alert-success">
                <strong>Thanks for signing up! Please complete your profile and settings.</strong>
            </div>
            <form *ngIf="user" [formGroup]="profileForm">
                <div class="dash-panel">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Bio:</label>
                            <textarea class="form-control" formControlName="bio" rows="4" style="resize:none;"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Interests:</label>
                            <input class="form-control" type="text" formControlName="interests">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Level of Education:</label>
                            <select class="form-control" formControlName="education">
                                <option *ngFor="let ed of educationLevels" [ngValue]="ed.key">{{ed.value}}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Teaching License:
                                    <i matTooltip="You do NOT need to have a teaching license to be a Tagg sub. Some of our schools require a teaching license, but most do not. " 
                                    class="material-icons"
                                    id="tipp">help</i>
                            </label>
                            <select class="form-control" formControlName="license">
                                <option *ngFor="let opt of yesNo" [ngValue]="opt.key">{{opt.value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Transcripts:</label>
                                <select class="form-control" formControlName="transcripts">
                                    <option *ngFor="let opt of yesNo" [ngValue]="opt.key">{{opt.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>LinkedIn: 
                                <i matTooltip="If you have a linkedin profile that you would like teachers and schools to be able to see, simply paste a link to your profile here! (Optional)" 
                                class="material-icons"
                                id="tipp">help</i>
                            </label>
                            <input class="form-control" type="text" formControlName="linkedIn">
                        </div>
                    </div>

                </div>
                <div *ngIf="!profileForm.pristine" class="text-center">
                    <button class="btn btn-red center-block" (click)="onSubmit()">Save changes</button>
                </div>
            </form>

        </div>

    </div>
    <app-side-details></app-side-details>
</div>