<form *ngIf="showForm" [formGroup]="profileForm">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Highest Education Completed</label>
                <select class="form-control" formControlName="educationLevel">
                    <option *ngFor="let ed of viewData.educationLevels" [ngValue]="ed.key">{{ed.value}}</option>
                </select>
                <!-- <input class="form-control" type="text" formControlName="education"> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Do you have transcripts?</label>
                <br/>
                <select class="form-control" formControlName="hasTranscripts">
                    <option *ngFor="let answer of yesNo" [ngValue]="answer.key">{{answer.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Do you have a teaching license?</label>
                <select class="form-control" formControlName="hasTeachingLicense">
                    <option *ngFor="let answer of yesNo" [ngValue]="answer.key">{{answer.value}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label class="control-label">LinkedIn Profile (optional)</label>
                <input class="form-control" type="text" formControlName="linkedInUrl">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Bio (optional)</label>
                <textarea class="form-control" formControlName="bio" placeholder="Add your bio here"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button class="btn btn-info btn-rnd center-block" (click)="onProfileSubmit()" [disabled]="!profileForm.valid">Save &amp; Continue</button>
        </div>
    </div>
</form>