.account-grid{
  padding: 45px 10%;
  display:grid;
  grid-column-gap: 3%;
  grid-row-gap:1em;
  grid-template-rows: 1em 3em auto auto;
  grid-template-columns:repeat(3, 1fr);
}



.account-link-inactive{
  text-decoration: none;
}

.account-active{
  border-bottom: 3px solid white;
}

.settings-panel{
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.account-grid .grid-row{
  grid-column: auto / span 3;
  grid-row: auto / span 1;
}

button.tagg-white{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

button.tagg-white:hover{
  text-decoration: white;
}

.account-image{
  border-radius: 50%;
  margin:2px;
}

.account-link-button{
  background:none!important;
   /* color:inherit; */
   border:none; 
   padding:0!important;
   text-decoration: underline;
}


/* .image-input{
  position: absolute;
  width: 100px;
  height: 100px;
} */

.image-placeholder{
  width:54px;
  height:55px;
  border:2px dashed orange;
}

.resume-input{
  opacity: 0;
  position: absolute;
  width:115px;
  height:25px;
  /* background-color: pink;
  color: white; */
  font-size: 16px;
  /* padding: 12px 24px; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  max-width: 18%;
  max-height: 20%;
}

.avatar-container .image-input{
  opacity: 0;
  position: absolute;
  width:100%;
  height:100%;
  /* top: 25%;
  left: 25%; */
  /* transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%); */
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  max-width: 18%;
  max-height: 20%;
}

/* .overlay{
  position: absolute;
  height: 150px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: #5FCA6C;
  transform: translate(20%, -100%);
  -ms-transform: translate(20%, -100%);
  text-align: center;
  border-radius: 50%;
} */

.avatar-container:hover .overlay{
  opacity: 0.5;
}

.avatar-placeholder{
  height: 50;
  width: 50;
}



.avatar-name{
  padding-top:18px;
}

.star-details{
  font-size: 2.0rem;
  color: #ccc;
  cursor: none;
  position: relative;
  display: inline-block;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #5FCA6C;
}
.filled {
  color: #5FCA6C;
}
i:hover{
    cursor: pointer;
}

@media screen and (max-width:767px){
  .account-grid{
      grid-template-columns: 1fr;
      grid-template-rows: 1em 3em auto;
  }
  .settings-panel{
    grid-column: auto / span 1;
    /* grid-row: auto / span 2; */
  }
  
  .account-grid .grid-row{
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }

  .profile-name{
    text-align: center;
  }
}