<div class="content-grid">
  <app-side-nav></app-side-nav>
  <div *ngIf="!user"></div>
  <div *ngIf="user" class="account-grid">
    <div class="grid-row">
      <a class="tagg-white account-link-inactive" routerLinkActive="account-active" [routerLink]="['/profile']">Profile</a>
      &nbsp; &nbsp;
      <a class="tagg-white account-link-inactive" routerLinkActive="account-active" [routerLink]="['/settings']">Settings</a>
    </div>

    <div class="grid-row">
      <h1 class="tagg-white">Settings</h1>
    </div>

    <div class="settings-panel">
      <div *ngIf="!applicationComplete" class="alert alert-success">
        <strong>Thanks for signing up! Please complete your profile and settings.</strong>
      </div>
      <form *ngIf="showForm" [formGroup]="settingsForm">
        <div class="dash-panel">
          <div class="row">
            <div class="form-group col-md-6">
              <label>First name:</label>
              <input type="text" class="form-control" formControlName="firstName">
            </div>

            <div class="form-group col-md-6">
              <label>Last name:</label>
              <input class="form-control" type="text" formControlName="lastName">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Email:</label>
              <input class="form-control" type="text" readonly="readonly" formControlName="email">
            </div>
            <div class="col-md-4" style="margin-top:30px;">
              <!-- <a href="#" class="tagg-green">Change Email</a> -->
              <button class="account-link-button tagg-green" (click)="onChangeEmail()">Change Email</button>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Password:</label>
              <input class="form-control" type="password" value="xxxxxxxxx" readonly="readonly">
            </div>
            <div class="col-md-6" style="margin-top:30px;">
              <a [href]="passwordReset" class="tagg-green">Change Password</a>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Contact:</label>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-8">
              <input class="form-control" type="text" placeholder="Address Line 1" formControlName="street1">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-8">
              <input class="form-control" type="text" placeholder="Address Line 2" formControlName="street2">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <input class="form-control" type="text" placeholder="City" formControlName="city">
            </div>

            <div class="form-group col-md-4">
              <input class="form-control" type="text" placeholder="State" formControlName="state">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <input class="form-control" type="text" placeholder="Zip" formControlName="postalCode">
            </div>
            <div class="form-group col-md-4">
              <input class="form-control" type="text" placeholder="Phone" formControlName="phoneNumber">
            </div>
          </div>
        </div>
        <div *ngIf="!settingsForm.pristine || preferenceForm.dirty" class="text-center">
          <button class="btn btn-red center-block" (click)="onSubmit()">Save Changes</button>
        </div>
      </form>

    </div>


    <div>
      <div class="dash-panel">
        <form *ngIf="showForm" [formGroup]="preferenceForm">
          <div class="row">
            <div class="form-group col-md-12">
              <label>Minimum Pay:
                  <i class="material-icons md-blue md-18" matTooltip="This is the minimum amount of money you are willing to work for. For example, if you set your minimum pay at $70, 
                  then you won’t receive any job requests with a pay rate less than $70 dollars.">help</i>
              </label>
              <mat-select formControlName="minPay">
                <mat-option *ngFor="let pay of payAmounts" [value]="pay.key">{{pay.value}}</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Max Distance from Home:
                  <i class="material-icons md-blue md-18" matTooltip="This refers to the number of miles you are willing to travel to work. For instance, if you set your max distance at 30 miles from your home address, then you will not receive requests from schools located beyond this radius.">help</i>
              </label>
              <mat-select formControlName="maxDistance" required>
                <mat-option *ngFor="let dist of distances" [value]="dist.key">{{dist.value}}</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label>Grades &amp; Subjects:
                  <i class="material-icons md-blue md-18" matTooltip="These are the grades and subjects you are interested in working for. For example, if you don’t want to teach high school english, then you would deselect “grades 9-12, english”. Remember, the more grades and subjects you deselect, the fewer job requests you will receive.">help</i>
              </label>
              <mat-select [(value)]="selectedSubjects" color="primary" (change)="markDirty()" multiple>
                <mat-option *ngFor="let sub of subjects" [value]="sub.key">{{sub.value}}</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Contact Methods:
                <i class="material-icons md-blue md-18" matTooltip="Select how you wish to receive job requests. You can receive a phone call, a text, an email, or all of the above. It’s up to you!">help</i>
              </label>
              <mat-select [(value)]="selectedContact" color="primary" (change)="markDirty()" multiple>
                <mat-option *ngFor="let cont of contactMethods" [value]="cont.key">{{cont.value}}</mat-option>
              </mat-select>
            </div>
          </div>
          <button *ngIf="!user.paymentId" class="account-link-button tagg-red" (click)="onAddPayment()">
            Add Payment Details
          </button>
          <i *ngIf="!user.paymentId" id="tipp" class="material-icons" matTooltip="We use Stripe to coordinate seamless and secure payments from the school to you based on the jobs you work. Stripe is an industry leading online payments platform that keeps your information private and secure and ensures that you get paid on time for the work you do. Click the button to create your Stripe account. Tagg works with Stripe to handle the rest.">info</i>
          
          <button *ngIf="user.paymentId" class="account-link-button tagg-green" (click)="onPaymentLogin()">View Payment Details</button>
        </form>
      </div>
    </div>
    <div class="disable-row">
      <button *ngIf="!user.deactivated" class="link-button-yellow" (click)="showDeactivateDialog()">Deactivate Account</button>
      <button *ngIf="user.deactivated" class="link-button" (click)="onReactivate()">Activate Account</button>
      <i class="material-icons md-18 md-light" matTooltip="Your account will be deactivated and your profile will be hidden.">help</i>
    </div>
  </div>


  <app-side-details></app-side-details>
</div>