<div class="content-grid">
    <app-side-nav></app-side-nav>
    <div class="dash-grid-center">
        <div class="dash-center-sm">
            <div *ngIf="!showVerify && !showError && !showSuccess" class="dash-panel">
                <div class="panel-head">
                    <h2 class="green-underline">Phone Verification</h2>
                </div>
                <p>Please verify your phone number below and click to send a verification code.</p>
                <form>
                    <div class="form-group form-group-center">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone" required>
                    </div>
                    <button class="btn btn-red center-block" type="submit" (click)="onSendCode()">Send Code</button>
                </form>
            </div>

            <div *ngIf="showVerify && !showError && !showSuccess" class="dash-panel">
                <div class="panel-head">
                    <h2 class="red-underline">Phone Verification</h2>
                </div>
                <p>Please enter your security code.</p>
                <form>
                    <div class="form-group form-group-center">
                        <label>Security Code</label>
                        <input type="text" class="form-control" id="code" [(ngModel)]="code" name="code" required>
                    </div>
                    <button class="btn btn-red center-block" type="submit" (click)="onVerify()">Submit</button>
                </form>
            </div>

            <div *ngIf="showSuccess && !showError" class="dash-panel">
                <div class="panel-head">
                    <h2 class="green-underline">Phone Verification Complete</h2>
                </div>
                <p>Your phone number has been successfully verified. Thank you!</p>
                <div class="text-center">
                        <a class="btn btn-green" [routerLink]="['/profile']">View Profile</a>
                    </div>
            </div>
        </div>
    </div>
    <app-side-details></app-side-details>
</div>