<div class="top-bar">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand">ViewBag Message goes here</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/register/area']">
                            Register
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
