<div class="flex-container">
    <div class="panel-sm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Login</h3>
            </div>
            <div class="panel-body">
                <div *ngIf="errorMessage">{{errorMessage}}</div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group form-group-center">
                        <label>Email:</label>
                        <input class="form-control" formControlName="email" />
                    </div>
                    <div class="form-group form-group-center">
                        <label>Password:</label>
                        <input type="password" class="form-control" formControlName="password" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-rnd center-block">
                            Login
                        </button>
                        <br />
                        <p><a [routerLink]="['/register/area']">New user? Register here!</a></p>
                        <p><a href="#">Forgot your password?</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-md-4 col-md-offset-4">

    </div>
</div>-->
