﻿@model Tagg.Domain.ApiModels.TeacherDto

@{
    ViewData["Title"] = "Add Teacher";
}

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h3>@ViewData["Title"]</h3>
        <div class="alert alert-info">
            <div>
                <a asp-action="Upload">Click here to bulk upload teachers.</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-left">
                        <label class="control-label">School</label>
                        <select asp-for="SchoolId" class="form-control" asp-items="(SelectList)@ViewData["schools"]"></select>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group text-left">
                        <input type="submit" value="Add Teacher" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
