﻿@model Tagg.Domain.ApiModels.TeacherDto

@{
    ViewData["Title"] = "Teacher Details";
}

<div class="dash-container">
    <div class="dash-panel dash-4-center">
        <h3>@ViewData["Title"]</h3>
        <div class="panel panel-default">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt>
                        Email
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        Phone Number
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    @if (Model.Address != null)
                    {
                        <dt>
                            Address
                        </dt>
                        <dd>
                            @Model.Address.Street1 @Model.Address.Street2
                        </dd>
                        <dt>
                            City
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Address.City)
                        </dd>
                        <dt>
                            State
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Address.State)
                        </dd>
                        <dt>
                            Postal Code
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Address.PostalCode)
                        </dd>

                    }

                    <dt>
                        Status
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt>
                        Bio
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Bio)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
                <a asp-action="Edit" asp-route-id="@Model.Email"> | Edit</a>
                <a asp-controller="Jobs" asp-action="Create" asp-route-id="@Model.Email"> | Create Job</a>

            </div>
        </div>

    </div>
</div>

