﻿@model IEnumerable<Tagg.Domain.ApiModels.TeacherDto>

@{
    ViewData["Title"] = "Teachers";
}
<div class="dash-container">
    <div class="dash-panel dash-10">
        <h2>@ViewData["Title"]</h2>
        <div class="pull-right">
            <a asp-action="Create" class="btn btn-success">Create Teacher</a>
        </div>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            <td>
                                <a asp-action="Details" asp-route-id="@item.Email">Details</a>
                                @if (item.Status == Tagg.Domain.TaggStatus.New)
                                {
                                    <a asp-action="Invite" asp-route-id="@item.Email"> | Invite</a>
                                }
                                @if (item.Status == Tagg.Domain.TaggStatus.Pending)
                                {
                                    <a asp-action="Invite" asp-route-id="@item.Email"> | Resend</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

