﻿<div class="dash-container">
    <div class="dash-panel dash-6-center">
        <h2>Teacher Invite</h2>
        <div class="panel panel-default">
            @ViewData["Message"]
        </div>
    </div>
</div>

